/* VARIABLES */
/* FONTS */
/* IMPORTS */
/*
TABLE OF CONTENTS
# GLOBAL RESETS
# TYPOGRAPHY
# BUTTONS 
# MEDIA
    # RESPONSIVE IMAGES
# LAYOUT
    # CONTAINER
    # MEDIA QUERIES
    # SEMANTIC GRID SYSTEM
# STRUCTURE
    # SITE HEADER
    # SITE NAV
    # MAIN
        # SECTIONS
    # SITE FOOTER
        #FORM
*/
/* RESET BODY */
body {
  margin: 0;
}

/* CONTAINER */
.swiper {
  margin: 0 auto;
}

/* MEDIA QUERIES */
/* RESPONSVIE TYPE */
body {
  font-size: 87.5%;
}

@media (min-width: 768px) {
  body {
    font-size: 100%;
  }
  .site-nav {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .swiper-pagination-bullet {
    background-color: rgba(255, 234, 194, 0.8) !important;
    padding: 1.5em;
  }
}
@media (min-width: 1050px) {
  body {
    font-size: 112.5%;
  }
  .swiper-pagination-bullet {
    background-color: rgba(255, 234, 194, 0.8) !important;
    padding: 1.5em;
  }
}
/* RESPONSIVE IMAGES */
img {
  max-width: 100%;
  height: auto;
}

body {
  background-image: linear-gradient(45deg, #000, #130025);
  background-size: 400% 400%;
  height: 100vh;
}

/* SWIPER */
.swiper {
  width: 100%;
  height: 75vh;
}

/* SLIDES */
.swiper-slide h1 {
  margin-top: 1em;
}
.swiper-slide .body-text p {
  font-family: "bilo", sans-serif;
  color: rgb(179, 179, 179);
  max-width: 35em;
  margin-top: 1em;
}

/* MOON PHASES */
.phase-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.phase-wrapper .moon-wrapper {
  margin-right: 2%;
  width: 30%;
}
.phase-wrapper .text-wrapper {
  width: 50%;
}

h1, h2, h3 {
  color: rgb(255, 255, 255);
  font-family: "tachyon", sans-serif;
  font-weight: 800;
}

h1 {
  font-size: clamp(2em, 2vw, 2em);
  line-height: 1;
}

.stars-bg {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.stars1 {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  box-shadow: 910px 2183px rgba(255, 234, 194, 0.8), 351px 295px rgba(255, 234, 194, 0.8), 1479px 2984px rgba(255, 234, 194, 0.8), 2748px 803px rgba(255, 234, 194, 0.8), 1008px 1306px rgba(255, 234, 194, 0.8), 1189px 1506px rgba(255, 234, 194, 0.8), 2996px 1432px rgba(255, 234, 194, 0.8), 2126px 2261px rgba(255, 234, 194, 0.8), 642px 1591px rgba(255, 234, 194, 0.8), 127px 2217px rgba(255, 234, 194, 0.8), 2462px 2446px rgba(255, 234, 194, 0.8), 2364px 2672px rgba(255, 234, 194, 0.8), 645px 224px rgba(255, 234, 194, 0.8), 558px 2322px rgba(255, 234, 194, 0.8), 580px 1302px rgba(255, 234, 194, 0.8), 2059px 2011px rgba(255, 234, 194, 0.8), 1013px 630px rgba(255, 234, 194, 0.8), 2145px 398px rgba(255, 234, 194, 0.8), 2623px 1456px rgba(255, 234, 194, 0.8), 962px 1858px rgba(255, 234, 194, 0.8), 571px 1686px rgba(255, 234, 194, 0.8), 1372px 1780px rgba(255, 234, 194, 0.8), 2521px 2317px rgba(255, 234, 194, 0.8), 336px 715px rgba(255, 234, 194, 0.8), 1519px 2309px rgba(255, 234, 194, 0.8), 211px 2343px rgba(255, 234, 194, 0.8), 2013px 1818px rgba(255, 234, 194, 0.8), 1891px 2278px rgba(255, 234, 194, 0.8), 2033px 2751px rgba(255, 234, 194, 0.8), 2954px 1430px rgba(255, 234, 194, 0.8), 1727px 1483px rgba(255, 234, 194, 0.8), 294px 892px rgba(255, 234, 194, 0.8), 2148px 1568px rgba(255, 234, 194, 0.8), 2762px 1751px rgba(255, 234, 194, 0.8), 2449px 2812px rgba(255, 234, 194, 0.8), 470px 801px rgba(255, 234, 194, 0.8), 1786px 2735px rgba(255, 234, 194, 0.8), 2611px 1589px rgba(255, 234, 194, 0.8), 1920px 2816px rgba(255, 234, 194, 0.8), 570px 2024px rgba(255, 234, 194, 0.8), 1118px 1625px rgba(255, 234, 194, 0.8), 1553px 1525px rgba(255, 234, 194, 0.8), 335px 186px rgba(255, 234, 194, 0.8), 1188px 2905px rgba(255, 234, 194, 0.8), 904px 234px rgba(255, 234, 194, 0.8), 676px 2545px rgba(255, 234, 194, 0.8), 2392px 1624px rgba(255, 234, 194, 0.8), 2876px 1346px rgba(255, 234, 194, 0.8), 1890px 2829px rgba(255, 234, 194, 0.8), 2199px 2838px rgba(255, 234, 194, 0.8), 1867px 1464px rgba(255, 234, 194, 0.8), 2330px 585px rgba(255, 234, 194, 0.8), 1564px 1830px rgba(255, 234, 194, 0.8), 1252px 2940px rgba(255, 234, 194, 0.8), 840px 313px rgba(255, 234, 194, 0.8), 2293px 2627px rgba(255, 234, 194, 0.8), 2520px 1873px rgba(255, 234, 194, 0.8), 1565px 2897px rgba(255, 234, 194, 0.8), 777px 1747px rgba(255, 234, 194, 0.8), 2912px 64px rgba(255, 234, 194, 0.8), 2168px 1777px rgba(255, 234, 194, 0.8), 1250px 79px rgba(255, 234, 194, 0.8), 2484px 193px rgba(255, 234, 194, 0.8), 1178px 512px rgba(255, 234, 194, 0.8), 1390px 1804px rgba(255, 234, 194, 0.8), 1588px 1700px rgba(255, 234, 194, 0.8), 2853px 1105px rgba(255, 234, 194, 0.8), 2756px 2687px rgba(255, 234, 194, 0.8), 541px 2516px rgba(255, 234, 194, 0.8), 2614px 2542px rgba(255, 234, 194, 0.8), 1418px 395px rgba(255, 234, 194, 0.8), 877px 1756px rgba(255, 234, 194, 0.8), 879px 1487px rgba(255, 234, 194, 0.8), 2433px 392px rgba(255, 234, 194, 0.8), 2650px 2596px rgba(255, 234, 194, 0.8), 927px 2983px rgba(255, 234, 194, 0.8), 2079px 579px rgba(255, 234, 194, 0.8), 718px 1458px rgba(255, 234, 194, 0.8), 103px 883px rgba(255, 234, 194, 0.8), 1140px 485px rgba(255, 234, 194, 0.8), 2699px 2082px rgba(255, 234, 194, 0.8), 592px 733px rgba(255, 234, 194, 0.8), 2314px 1686px rgba(255, 234, 194, 0.8), 1927px 741px rgba(255, 234, 194, 0.8), 787px 2999px rgba(255, 234, 194, 0.8), 1289px 263px rgba(255, 234, 194, 0.8), 2796px 1780px rgba(255, 234, 194, 0.8), 1515px 2576px rgba(255, 234, 194, 0.8), 2596px 1106px rgba(255, 234, 194, 0.8), 599px 2887px rgba(255, 234, 194, 0.8), 1870px 1626px rgba(255, 234, 194, 0.8), 1504px 494px rgba(255, 234, 194, 0.8), 2290px 17px rgba(255, 234, 194, 0.8), 2801px 2371px rgba(255, 234, 194, 0.8), 1414px 1907px rgba(255, 234, 194, 0.8), 2740px 1042px rgba(255, 234, 194, 0.8), 1833px 2032px rgba(255, 234, 194, 0.8), 497px 2584px rgba(255, 234, 194, 0.8), 2023px 2603px rgba(255, 234, 194, 0.8), 2832px 897px rgba(255, 234, 194, 0.8), 1907px 999px rgba(255, 234, 194, 0.8), 1387px 2897px rgba(255, 234, 194, 0.8), 60px 2029px rgba(255, 234, 194, 0.8), 1950px 2182px rgba(255, 234, 194, 0.8), 2647px 984px rgba(255, 234, 194, 0.8), 2482px 1039px rgba(255, 234, 194, 0.8), 2891px 737px rgba(255, 234, 194, 0.8), 1139px 930px rgba(255, 234, 194, 0.8), 2215px 189px rgba(255, 234, 194, 0.8), 1373px 281px rgba(255, 234, 194, 0.8), 1711px 1016px rgba(255, 234, 194, 0.8), 1003px 174px rgba(255, 234, 194, 0.8), 2789px 2296px rgba(255, 234, 194, 0.8), 592px 803px rgba(255, 234, 194, 0.8), 1024px 744px rgba(255, 234, 194, 0.8), 1301px 2399px rgba(255, 234, 194, 0.8), 151px 1098px rgba(255, 234, 194, 0.8), 1797px 457px rgba(255, 234, 194, 0.8), 1870px 2235px rgba(255, 234, 194, 0.8), 1623px 1232px rgba(255, 234, 194, 0.8), 1580px 854px rgba(255, 234, 194, 0.8), 1076px 1475px rgba(255, 234, 194, 0.8), 2451px 1502px rgba(255, 234, 194, 0.8), 2288px 2624px rgba(255, 234, 194, 0.8), 531px 2846px rgba(255, 234, 194, 0.8), 1263px 2451px rgba(255, 234, 194, 0.8), 2558px 1587px rgba(255, 234, 194, 0.8), 2233px 2405px rgba(255, 234, 194, 0.8), 959px 2335px rgba(255, 234, 194, 0.8), 383px 874px rgba(255, 234, 194, 0.8), 2142px 1227px rgba(255, 234, 194, 0.8), 995px 212px rgba(255, 234, 194, 0.8), 1269px 2290px rgba(255, 234, 194, 0.8), 2641px 127px rgba(255, 234, 194, 0.8), 2845px 1411px rgba(255, 234, 194, 0.8), 2980px 499px rgba(255, 234, 194, 0.8), 757px 2545px rgba(255, 234, 194, 0.8), 621px 2084px rgba(255, 234, 194, 0.8), 136px 1671px rgba(255, 234, 194, 0.8), 2443px 2210px rgba(255, 234, 194, 0.8), 1231px 2150px rgba(255, 234, 194, 0.8), 247px 2547px rgba(255, 234, 194, 0.8), 980px 2252px rgba(255, 234, 194, 0.8), 805px 1114px rgba(255, 234, 194, 0.8), 2415px 1199px rgba(255, 234, 194, 0.8), 2251px 281px rgba(255, 234, 194, 0.8), 1791px 1640px rgba(255, 234, 194, 0.8), 673px 415px rgba(255, 234, 194, 0.8), 173px 260px rgba(255, 234, 194, 0.8), 937px 1590px rgba(255, 234, 194, 0.8), 2356px 895px rgba(255, 234, 194, 0.8), 2050px 2028px rgba(255, 234, 194, 0.8), 1244px 1494px rgba(255, 234, 194, 0.8), 430px 1536px rgba(255, 234, 194, 0.8), 753px 271px rgba(255, 234, 194, 0.8), 974px 250px rgba(255, 234, 194, 0.8), 1945px 777px rgba(255, 234, 194, 0.8), 1641px 2486px rgba(255, 234, 194, 0.8), 1224px 379px rgba(255, 234, 194, 0.8), 1249px 528px rgba(255, 234, 194, 0.8), 1301px 1075px rgba(255, 234, 194, 0.8), 1642px 1815px rgba(255, 234, 194, 0.8), 718px 2701px rgba(255, 234, 194, 0.8), 2794px 2725px rgba(255, 234, 194, 0.8), 1493px 1780px rgba(255, 234, 194, 0.8), 2553px 807px rgba(255, 234, 194, 0.8), 2615px 1935px rgba(255, 234, 194, 0.8), 153px 2930px rgba(255, 234, 194, 0.8), 2366px 2643px rgba(255, 234, 194, 0.8), 2942px 1159px rgba(255, 234, 194, 0.8), 257px 1488px rgba(255, 234, 194, 0.8), 1540px 2208px rgba(255, 234, 194, 0.8), 221px 867px rgba(255, 234, 194, 0.8), 2717px 217px rgba(255, 234, 194, 0.8), 2413px 1468px rgba(255, 234, 194, 0.8), 319px 2677px rgba(255, 234, 194, 0.8), 1396px 1372px rgba(255, 234, 194, 0.8), 2044px 10px rgba(255, 234, 194, 0.8), 1860px 1023px rgba(255, 234, 194, 0.8), 2484px 314px rgba(255, 234, 194, 0.8), 1760px 1871px rgba(255, 234, 194, 0.8), 1594px 903px rgba(255, 234, 194, 0.8), 2911px 2926px rgba(255, 234, 194, 0.8), 1104px 2743px rgba(255, 234, 194, 0.8), 2122px 1409px rgba(255, 234, 194, 0.8), 996px 2403px rgba(255, 234, 194, 0.8), 936px 2306px rgba(255, 234, 194, 0.8), 485px 35px rgba(255, 234, 194, 0.8), 904px 918px rgba(255, 234, 194, 0.8), 1112px 592px rgba(255, 234, 194, 0.8), 886px 566px rgba(255, 234, 194, 0.8), 93px 246px rgba(255, 234, 194, 0.8), 2838px 1904px rgba(255, 234, 194, 0.8), 2880px 803px rgba(255, 234, 194, 0.8), 330px 1733px rgba(255, 234, 194, 0.8), 1649px 1771px rgba(255, 234, 194, 0.8), 2853px 2230px rgba(255, 234, 194, 0.8), 107px 1378px rgba(255, 234, 194, 0.8), 2407px 370px rgba(255, 234, 194, 0.8), 2964px 958px rgba(255, 234, 194, 0.8), 1960px 297px rgba(255, 234, 194, 0.8), 2442px 2372px rgba(255, 234, 194, 0.8), 2553px 144px rgba(255, 234, 194, 0.8), 885px 1780px rgba(255, 234, 194, 0.8), 606px 1471px rgba(255, 234, 194, 0.8), 2677px 2842px rgba(255, 234, 194, 0.8), 1359px 1340px rgba(255, 234, 194, 0.8), 1097px 1367px rgba(255, 234, 194, 0.8), 2202px 2202px rgba(255, 234, 194, 0.8), 971px 2006px rgba(255, 234, 194, 0.8), 2248px 1244px rgba(255, 234, 194, 0.8), 1098px 2891px rgba(255, 234, 194, 0.8), 1896px 101px rgba(255, 234, 194, 0.8), 393px 2503px rgba(255, 234, 194, 0.8), 2838px 1546px rgba(255, 234, 194, 0.8), 1588px 1088px rgba(255, 234, 194, 0.8), 1466px 713px rgba(255, 234, 194, 0.8), 2978px 608px rgba(255, 234, 194, 0.8), 1966px 848px rgba(255, 234, 194, 0.8), 1982px 1838px rgba(255, 234, 194, 0.8), 1193px 1912px rgba(255, 234, 194, 0.8), 1282px 1564px rgba(255, 234, 194, 0.8), 416px 513px rgba(255, 234, 194, 0.8), 2381px 2393px rgba(255, 234, 194, 0.8), 2425px 567px rgba(255, 234, 194, 0.8), 610px 887px rgba(255, 234, 194, 0.8), 1598px 2159px rgba(255, 234, 194, 0.8), 1014px 1889px rgba(255, 234, 194, 0.8), 1419px 2810px rgba(255, 234, 194, 0.8), 1632px 329px rgba(255, 234, 194, 0.8), 1968px 2776px rgba(255, 234, 194, 0.8), 286px 956px rgba(255, 234, 194, 0.8), 561px 2525px rgba(255, 234, 194, 0.8), 1008px 422px rgba(255, 234, 194, 0.8), 1814px 779px rgba(255, 234, 194, 0.8), 1520px 2558px rgba(255, 234, 194, 0.8), 891px 689px rgba(255, 234, 194, 0.8), 1360px 2221px rgba(255, 234, 194, 0.8), 2081px 282px rgba(255, 234, 194, 0.8), 156px 2293px rgba(255, 234, 194, 0.8), 2015px 1093px rgba(255, 234, 194, 0.8), 1671px 1526px rgba(255, 234, 194, 0.8), 1045px 515px rgba(255, 234, 194, 0.8), 1996px 2233px rgba(255, 234, 194, 0.8), 1480px 402px rgba(255, 234, 194, 0.8), 1444px 2252px rgba(255, 234, 194, 0.8), 1979px 1836px rgba(255, 234, 194, 0.8), 117px 641px rgba(255, 234, 194, 0.8), 1049px 1412px rgba(255, 234, 194, 0.8), 2641px 423px rgba(255, 234, 194, 0.8), 2829px 36px rgba(255, 234, 194, 0.8), 2466px 1480px rgba(255, 234, 194, 0.8), 1501px 130px rgba(255, 234, 194, 0.8), 450px 2465px rgba(255, 234, 194, 0.8), 2307px 798px rgba(255, 234, 194, 0.8), 1582px 2824px rgba(255, 234, 194, 0.8), 454px 190px rgba(255, 234, 194, 0.8), 700px 1246px rgba(255, 234, 194, 0.8), 2472px 1832px rgba(255, 234, 194, 0.8), 23px 2429px rgba(255, 234, 194, 0.8), 695px 505px rgba(255, 234, 194, 0.8), 1997px 215px rgba(255, 234, 194, 0.8), 684px 2135px rgba(255, 234, 194, 0.8), 971px 297px rgba(255, 234, 194, 0.8), 2828px 2077px rgba(255, 234, 194, 0.8), 2911px 427px rgba(255, 234, 194, 0.8), 1613px 2540px rgba(255, 234, 194, 0.8), 2491px 84px rgba(255, 234, 194, 0.8), 196px 2368px rgba(255, 234, 194, 0.8), 2166px 1865px rgba(255, 234, 194, 0.8), 2091px 894px rgba(255, 234, 194, 0.8), 2659px 1117px rgba(255, 234, 194, 0.8), 2909px 2003px rgba(255, 234, 194, 0.8), 678px 952px rgba(255, 234, 194, 0.8), 771px 1751px rgba(255, 234, 194, 0.8), 680px 1109px rgba(255, 234, 194, 0.8), 1323px 2596px rgba(255, 234, 194, 0.8), 2356px 994px rgba(255, 234, 194, 0.8), 2043px 1656px rgba(255, 234, 194, 0.8), 1331px 1060px rgba(255, 234, 194, 0.8), 660px 1167px rgba(255, 234, 194, 0.8), 374px 383px rgba(255, 234, 194, 0.8), 1846px 2301px rgba(255, 234, 194, 0.8), 2166px 2396px rgba(255, 234, 194, 0.8), 2505px 1447px rgba(255, 234, 194, 0.8), 138px 608px rgba(255, 234, 194, 0.8), 1953px 1381px rgba(255, 234, 194, 0.8), 2997px 151px rgba(255, 234, 194, 0.8), 2702px 1430px rgba(255, 234, 194, 0.8), 2896px 1745px rgba(255, 234, 194, 0.8), 1830px 435px rgba(255, 234, 194, 0.8), 521px 1026px rgba(255, 234, 194, 0.8), 664px 2073px rgba(255, 234, 194, 0.8), 483px 2003px rgba(255, 234, 194, 0.8), 793px 807px rgba(255, 234, 194, 0.8), 915px 2395px rgba(255, 234, 194, 0.8), 807px 684px rgba(255, 234, 194, 0.8), 544px 890px rgba(255, 234, 194, 0.8), 1788px 2077px rgba(255, 234, 194, 0.8), 2177px 1909px rgba(255, 234, 194, 0.8), 1068px 2076px rgba(255, 234, 194, 0.8), 2928px 1378px rgba(255, 234, 194, 0.8), 364px 2397px rgba(255, 234, 194, 0.8), 1346px 34px rgba(255, 234, 194, 0.8), 1626px 858px rgba(255, 234, 194, 0.8), 2436px 1631px rgba(255, 234, 194, 0.8), 2851px 1063px rgba(255, 234, 194, 0.8), 1217px 2568px rgba(255, 234, 194, 0.8), 10px 1579px rgba(255, 234, 194, 0.8), 2926px 162px rgba(255, 234, 194, 0.8), 2105px 1382px rgba(255, 234, 194, 0.8), 1030px 782px rgba(255, 234, 194, 0.8), 108px 112px rgba(255, 234, 194, 0.8), 172px 180px rgba(255, 234, 194, 0.8), 1143px 1894px rgba(255, 234, 194, 0.8), 2882px 2745px rgba(255, 234, 194, 0.8), 2592px 2454px rgba(255, 234, 194, 0.8), 1281px 1645px rgba(255, 234, 194, 0.8), 2911px 691px rgba(255, 234, 194, 0.8), 895px 644px rgba(255, 234, 194, 0.8), 1250px 536px rgba(255, 234, 194, 0.8), 965px 306px rgba(255, 234, 194, 0.8), 1327px 2048px rgba(255, 234, 194, 0.8), 1680px 1268px rgba(255, 234, 194, 0.8), 2055px 887px rgba(255, 234, 194, 0.8), 951px 1334px rgba(255, 234, 194, 0.8), 1717px 1307px rgba(255, 234, 194, 0.8), 2883px 1314px rgba(255, 234, 194, 0.8), 882px 2152px rgba(255, 234, 194, 0.8), 2572px 2453px rgba(255, 234, 194, 0.8), 2264px 1275px rgba(255, 234, 194, 0.8), 2497px 2963px rgba(255, 234, 194, 0.8), 1266px 565px rgba(255, 234, 194, 0.8), 1164px 2600px rgba(255, 234, 194, 0.8), 729px 1883px rgba(255, 234, 194, 0.8), 2814px 2605px rgba(255, 234, 194, 0.8), 2946px 2082px rgba(255, 234, 194, 0.8), 2346px 920px rgba(255, 234, 194, 0.8), 741px 2118px rgba(255, 234, 194, 0.8), 2849px 753px rgba(255, 234, 194, 0.8), 1446px 250px rgba(255, 234, 194, 0.8), 1895px 2781px rgba(255, 234, 194, 0.8), 825px 237px rgba(255, 234, 194, 0.8), 1270px 1194px rgba(255, 234, 194, 0.8), 2417px 1788px rgba(255, 234, 194, 0.8), 845px 2506px rgba(255, 234, 194, 0.8), 1022px 1550px rgba(255, 234, 194, 0.8), 711px 1355px rgba(255, 234, 194, 0.8), 95px 1276px rgba(255, 234, 194, 0.8), 2162px 1928px rgba(255, 234, 194, 0.8), 616px 895px rgba(255, 234, 194, 0.8), 407px 2484px rgba(255, 234, 194, 0.8), 1882px 2172px rgba(255, 234, 194, 0.8), 2690px 711px rgba(255, 234, 194, 0.8), 1895px 1343px rgba(255, 234, 194, 0.8), 269px 49px rgba(255, 234, 194, 0.8), 1919px 1507px rgba(255, 234, 194, 0.8), 518px 2319px rgba(255, 234, 194, 0.8), 2422px 74px rgba(255, 234, 194, 0.8), 509px 600px rgba(255, 234, 194, 0.8), 2503px 188px rgba(255, 234, 194, 0.8), 1764px 1365px rgba(255, 234, 194, 0.8), 2346px 324px rgba(255, 234, 194, 0.8), 2248px 2188px rgba(255, 234, 194, 0.8), 415px 738px rgba(255, 234, 194, 0.8), 150px 1806px rgba(255, 234, 194, 0.8), 294px 2610px rgba(255, 234, 194, 0.8), 590px 1387px rgba(255, 234, 194, 0.8), 2578px 2623px rgba(255, 234, 194, 0.8), 2620px 1465px rgba(255, 234, 194, 0.8), 1821px 586px rgba(255, 234, 194, 0.8), 1105px 368px rgba(255, 234, 194, 0.8), 23px 1060px rgba(255, 234, 194, 0.8), 859px 2308px rgba(255, 234, 194, 0.8), 468px 2503px rgba(255, 234, 194, 0.8), 1069px 1792px rgba(255, 234, 194, 0.8), 21px 2893px rgba(255, 234, 194, 0.8), 694px 1064px rgba(255, 234, 194, 0.8), 2231px 2406px rgba(255, 234, 194, 0.8), 575px 519px rgba(255, 234, 194, 0.8), 2964px 345px rgba(255, 234, 194, 0.8), 2547px 1650px rgba(255, 234, 194, 0.8), 1345px 1209px rgba(255, 234, 194, 0.8), 2463px 1639px rgba(255, 234, 194, 0.8), 2980px 83px rgba(255, 234, 194, 0.8), 303px 677px rgba(255, 234, 194, 0.8), 1457px 80px rgba(255, 234, 194, 0.8), 127px 1741px rgba(255, 234, 194, 0.8), 1444px 2842px rgba(255, 234, 194, 0.8), 2622px 1191px rgba(255, 234, 194, 0.8), 2271px 2499px rgba(255, 234, 194, 0.8), 970px 1629px rgba(255, 234, 194, 0.8), 2940px 1471px rgba(255, 234, 194, 0.8), 596px 2024px rgba(255, 234, 194, 0.8), 264px 403px rgba(255, 234, 194, 0.8), 2292px 898px rgba(255, 234, 194, 0.8), 2357px 2433px rgba(255, 234, 194, 0.8), 2354px 2887px rgba(255, 234, 194, 0.8), 1197px 1118px rgba(255, 234, 194, 0.8), 342px 1939px rgba(255, 234, 194, 0.8), 481px 2076px rgba(255, 234, 194, 0.8), 2425px 610px rgba(255, 234, 194, 0.8), 1012px 2973px rgba(255, 234, 194, 0.8), 9px 422px rgba(255, 234, 194, 0.8), 1622px 1501px rgba(255, 234, 194, 0.8), 2228px 2235px rgba(255, 234, 194, 0.8), 2754px 2393px rgba(255, 234, 194, 0.8), 1242px 1484px rgba(255, 234, 194, 0.8), 2613px 453px rgba(255, 234, 194, 0.8), 1224px 387px rgba(255, 234, 194, 0.8), 970px 1006px rgba(255, 234, 194, 0.8), 687px 366px rgba(255, 234, 194, 0.8), 620px 1128px rgba(255, 234, 194, 0.8), 2430px 453px rgba(255, 234, 194, 0.8), 2881px 598px rgba(255, 234, 194, 0.8), 1794px 2362px rgba(255, 234, 194, 0.8), 2652px 1971px rgba(255, 234, 194, 0.8), 1926px 404px rgba(255, 234, 194, 0.8), 1455px 1060px rgba(255, 234, 194, 0.8), 2828px 2142px rgba(255, 234, 194, 0.8), 805px 891px rgba(255, 234, 194, 0.8), 697px 286px rgba(255, 234, 194, 0.8), 2750px 1792px rgba(255, 234, 194, 0.8), 2275px 75px rgba(255, 234, 194, 0.8), 1554px 2662px rgba(255, 234, 194, 0.8), 2814px 2308px rgba(255, 234, 194, 0.8), 1134px 1451px rgba(255, 234, 194, 0.8), 184px 1671px rgba(255, 234, 194, 0.8), 776px 599px rgba(255, 234, 194, 0.8), 1709px 2099px rgba(255, 234, 194, 0.8), 2761px 1182px rgba(255, 234, 194, 0.8), 1721px 2261px rgba(255, 234, 194, 0.8), 1517px 2442px rgba(255, 234, 194, 0.8), 737px 523px rgba(255, 234, 194, 0.8), 430px 943px rgba(255, 234, 194, 0.8), 1163px 2570px rgba(255, 234, 194, 0.8), 2149px 430px rgba(255, 234, 194, 0.8), 1431px 2562px rgba(255, 234, 194, 0.8), 250px 2300px rgba(255, 234, 194, 0.8), 837px 465px rgba(255, 234, 194, 0.8), 1934px 1234px rgba(255, 234, 194, 0.8), 511px 1396px rgba(255, 234, 194, 0.8), 479px 1064px rgba(255, 234, 194, 0.8), 995px 1613px rgba(255, 234, 194, 0.8), 2124px 521px rgba(255, 234, 194, 0.8), 2328px 347px rgba(255, 234, 194, 0.8), 2642px 300px rgba(255, 234, 194, 0.8), 203px 298px rgba(255, 234, 194, 0.8), 1289px 2878px rgba(255, 234, 194, 0.8), 1272px 871px rgba(255, 234, 194, 0.8), 274px 2674px rgba(255, 234, 194, 0.8), 1056px 2626px rgba(255, 234, 194, 0.8), 2767px 660px rgba(255, 234, 194, 0.8), 2065px 1571px rgba(255, 234, 194, 0.8), 2548px 2183px rgba(255, 234, 194, 0.8), 1064px 699px rgba(255, 234, 194, 0.8), 2984px 1505px rgba(255, 234, 194, 0.8), 1480px 1736px rgba(255, 234, 194, 0.8), 1377px 2735px rgba(255, 234, 194, 0.8), 879px 2608px rgba(255, 234, 194, 0.8), 844px 1895px rgba(255, 234, 194, 0.8), 902px 2306px rgba(255, 234, 194, 0.8), 2213px 1800px rgba(255, 234, 194, 0.8), 2472px 625px rgba(255, 234, 194, 0.8), 2905px 2984px rgba(255, 234, 194, 0.8), 2697px 921px rgba(255, 234, 194, 0.8), 932px 914px rgba(255, 234, 194, 0.8), 1501px 628px rgba(255, 234, 194, 0.8), 2940px 1050px rgba(255, 234, 194, 0.8), 546px 256px rgba(255, 234, 194, 0.8), 2199px 700px rgba(255, 234, 194, 0.8), 345px 1148px rgba(255, 234, 194, 0.8), 2051px 432px rgba(255, 234, 194, 0.8), 2678px 775px rgba(255, 234, 194, 0.8), 434px 541px rgba(255, 234, 194, 0.8), 738px 408px rgba(255, 234, 194, 0.8), 1355px 730px rgba(255, 234, 194, 0.8), 1812px 121px rgba(255, 234, 194, 0.8), 1968px 1323px rgba(255, 234, 194, 0.8), 894px 874px rgba(255, 234, 194, 0.8), 466px 2435px rgba(255, 234, 194, 0.8), 742px 2211px rgba(255, 234, 194, 0.8), 2052px 681px rgba(255, 234, 194, 0.8), 2693px 959px rgba(255, 234, 194, 0.8), 540px 2940px rgba(255, 234, 194, 0.8), 2965px 1163px rgba(255, 234, 194, 0.8), 562px 1148px rgba(255, 234, 194, 0.8), 2878px 1596px rgba(255, 234, 194, 0.8), 2512px 1456px rgba(255, 234, 194, 0.8), 1731px 1084px rgba(255, 234, 194, 0.8), 2567px 2937px rgba(255, 234, 194, 0.8), 743px 372px rgba(255, 234, 194, 0.8), 2535px 944px rgba(255, 234, 194, 0.8), 2289px 1157px rgba(255, 234, 194, 0.8), 2186px 387px rgba(255, 234, 194, 0.8), 1828px 2159px rgba(255, 234, 194, 0.8), 2052px 2527px rgba(255, 234, 194, 0.8), 2577px 2523px rgba(255, 234, 194, 0.8), 1691px 1392px rgba(255, 234, 194, 0.8), 247px 1420px rgba(255, 234, 194, 0.8), 2325px 604px rgba(255, 234, 194, 0.8);
  transition: all 0.2s linear;
  animation: animStar 150s linear infinite;
}

.stars2 {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  box-shadow: 246px 572px rgba(255, 234, 194, 0.8), 1983px 1472px rgba(255, 234, 194, 0.8), 1250px 1877px rgba(255, 234, 194, 0.8), 1694px 251px rgba(255, 234, 194, 0.8), 1912px 1008px rgba(255, 234, 194, 0.8), 90px 464px rgba(255, 234, 194, 0.8), 2037px 233px rgba(255, 234, 194, 0.8), 1450px 2083px rgba(255, 234, 194, 0.8), 440px 2494px rgba(255, 234, 194, 0.8), 1576px 1827px rgba(255, 234, 194, 0.8), 2680px 2398px rgba(255, 234, 194, 0.8), 2134px 356px rgba(255, 234, 194, 0.8), 1344px 613px rgba(255, 234, 194, 0.8), 569px 1247px rgba(255, 234, 194, 0.8), 141px 1607px rgba(255, 234, 194, 0.8), 2289px 2293px rgba(255, 234, 194, 0.8), 792px 1592px rgba(255, 234, 194, 0.8), 42px 1225px rgba(255, 234, 194, 0.8), 1755px 2402px rgba(255, 234, 194, 0.8), 1701px 860px rgba(255, 234, 194, 0.8), 1856px 1129px rgba(255, 234, 194, 0.8), 2898px 2221px rgba(255, 234, 194, 0.8), 1327px 368px rgba(255, 234, 194, 0.8), 1939px 970px rgba(255, 234, 194, 0.8), 2630px 2596px rgba(255, 234, 194, 0.8), 2745px 94px rgba(255, 234, 194, 0.8), 860px 1821px rgba(255, 234, 194, 0.8), 1291px 2498px rgba(255, 234, 194, 0.8), 846px 2222px rgba(255, 234, 194, 0.8), 2289px 1997px rgba(255, 234, 194, 0.8), 1774px 1845px rgba(255, 234, 194, 0.8), 1333px 1242px rgba(255, 234, 194, 0.8), 1312px 1619px rgba(255, 234, 194, 0.8), 1174px 994px rgba(255, 234, 194, 0.8), 2713px 391px rgba(255, 234, 194, 0.8), 1142px 2144px rgba(255, 234, 194, 0.8), 2949px 2503px rgba(255, 234, 194, 0.8), 2362px 2854px rgba(255, 234, 194, 0.8), 2712px 1098px rgba(255, 234, 194, 0.8), 1551px 334px rgba(255, 234, 194, 0.8), 1681px 868px rgba(255, 234, 194, 0.8), 554px 2930px rgba(255, 234, 194, 0.8), 2619px 899px rgba(255, 234, 194, 0.8), 467px 885px rgba(255, 234, 194, 0.8), 26px 282px rgba(255, 234, 194, 0.8), 1349px 1487px rgba(255, 234, 194, 0.8), 98px 1263px rgba(255, 234, 194, 0.8), 777px 2215px rgba(255, 234, 194, 0.8), 1665px 2293px rgba(255, 234, 194, 0.8), 2365px 566px rgba(255, 234, 194, 0.8), 1916px 2914px rgba(255, 234, 194, 0.8), 667px 1482px rgba(255, 234, 194, 0.8), 632px 2515px rgba(255, 234, 194, 0.8), 1245px 525px rgba(255, 234, 194, 0.8), 2280px 3000px rgba(255, 234, 194, 0.8), 2016px 2685px rgba(255, 234, 194, 0.8), 603px 1633px rgba(255, 234, 194, 0.8), 491px 2678px rgba(255, 234, 194, 0.8), 1429px 2070px rgba(255, 234, 194, 0.8), 2169px 2634px rgba(255, 234, 194, 0.8), 2450px 1286px rgba(255, 234, 194, 0.8), 670px 1684px rgba(255, 234, 194, 0.8), 1210px 1675px rgba(255, 234, 194, 0.8), 2389px 1516px rgba(255, 234, 194, 0.8), 2707px 277px rgba(255, 234, 194, 0.8), 1247px 1948px rgba(255, 234, 194, 0.8), 118px 284px rgba(255, 234, 194, 0.8), 1058px 411px rgba(255, 234, 194, 0.8), 1774px 758px rgba(255, 234, 194, 0.8), 2999px 376px rgba(255, 234, 194, 0.8), 2121px 1356px rgba(255, 234, 194, 0.8), 74px 32px rgba(255, 234, 194, 0.8), 2140px 2932px rgba(255, 234, 194, 0.8), 383px 1657px rgba(255, 234, 194, 0.8), 2394px 1328px rgba(255, 234, 194, 0.8), 982px 747px rgba(255, 234, 194, 0.8), 2001px 1481px rgba(255, 234, 194, 0.8), 1449px 2146px rgba(255, 234, 194, 0.8), 1859px 988px rgba(255, 234, 194, 0.8), 2033px 312px rgba(255, 234, 194, 0.8), 956px 2193px rgba(255, 234, 194, 0.8), 1383px 240px rgba(255, 234, 194, 0.8), 305px 361px rgba(255, 234, 194, 0.8), 825px 1404px rgba(255, 234, 194, 0.8), 624px 41px rgba(255, 234, 194, 0.8), 1877px 633px rgba(255, 234, 194, 0.8), 1048px 2898px rgba(255, 234, 194, 0.8), 406px 183px rgba(255, 234, 194, 0.8), 2447px 644px rgba(255, 234, 194, 0.8), 2307px 2719px rgba(255, 234, 194, 0.8), 1704px 2117px rgba(255, 234, 194, 0.8), 533px 2589px rgba(255, 234, 194, 0.8), 1014px 332px rgba(255, 234, 194, 0.8), 784px 1366px rgba(255, 234, 194, 0.8), 2851px 263px rgba(255, 234, 194, 0.8), 2823px 580px rgba(255, 234, 194, 0.8), 1277px 2289px rgba(255, 234, 194, 0.8), 2753px 877px rgba(255, 234, 194, 0.8), 500px 835px rgba(255, 234, 194, 0.8), 2276px 2400px rgba(255, 234, 194, 0.8), 2475px 2310px rgba(255, 234, 194, 0.8), 1321px 2603px rgba(255, 234, 194, 0.8), 677px 1889px rgba(255, 234, 194, 0.8), 2441px 3000px rgba(255, 234, 194, 0.8), 1222px 2618px rgba(255, 234, 194, 0.8), 2648px 2146px rgba(255, 234, 194, 0.8), 592px 917px rgba(255, 234, 194, 0.8), 1569px 1971px rgba(255, 234, 194, 0.8), 2588px 1463px rgba(255, 234, 194, 0.8), 5px 89px rgba(255, 234, 194, 0.8), 1721px 2584px rgba(255, 234, 194, 0.8), 677px 2746px rgba(255, 234, 194, 0.8), 954px 285px rgba(255, 234, 194, 0.8), 828px 343px rgba(255, 234, 194, 0.8), 2886px 1474px rgba(255, 234, 194, 0.8), 2827px 2340px rgba(255, 234, 194, 0.8), 2610px 2659px rgba(255, 234, 194, 0.8), 2607px 1552px rgba(255, 234, 194, 0.8), 2141px 443px rgba(255, 234, 194, 0.8), 347px 2330px rgba(255, 234, 194, 0.8), 891px 2271px rgba(255, 234, 194, 0.8), 1654px 2946px rgba(255, 234, 194, 0.8), 1012px 297px rgba(255, 234, 194, 0.8), 2802px 441px rgba(255, 234, 194, 0.8), 1014px 1511px rgba(255, 234, 194, 0.8), 994px 1338px rgba(255, 234, 194, 0.8), 2365px 1099px rgba(255, 234, 194, 0.8), 1379px 1494px rgba(255, 234, 194, 0.8), 1300px 2864px rgba(255, 234, 194, 0.8), 2867px 2602px rgba(255, 234, 194, 0.8), 2308px 1424px rgba(255, 234, 194, 0.8), 993px 1979px rgba(255, 234, 194, 0.8), 1365px 150px rgba(255, 234, 194, 0.8), 1098px 2424px rgba(255, 234, 194, 0.8), 2716px 2052px rgba(255, 234, 194, 0.8), 2809px 2826px rgba(255, 234, 194, 0.8), 939px 703px rgba(255, 234, 194, 0.8), 764px 2985px rgba(255, 234, 194, 0.8), 317px 719px rgba(255, 234, 194, 0.8), 2812px 952px rgba(255, 234, 194, 0.8), 2183px 24px rgba(255, 234, 194, 0.8), 171px 2534px rgba(255, 234, 194, 0.8), 1630px 1538px rgba(255, 234, 194, 0.8), 2877px 2942px rgba(255, 234, 194, 0.8), 529px 475px rgba(255, 234, 194, 0.8), 1321px 911px rgba(255, 234, 194, 0.8), 1767px 2611px rgba(255, 234, 194, 0.8), 2431px 1351px rgba(255, 234, 194, 0.8), 1853px 835px rgba(255, 234, 194, 0.8), 403px 2109px rgba(255, 234, 194, 0.8), 2701px 1906px rgba(255, 234, 194, 0.8), 2362px 2771px rgba(255, 234, 194, 0.8), 2410px 2036px rgba(255, 234, 194, 0.8), 1949px 1657px rgba(255, 234, 194, 0.8), 2246px 2684px rgba(255, 234, 194, 0.8), 746px 1538px rgba(255, 234, 194, 0.8), 1648px 1724px rgba(255, 234, 194, 0.8), 2586px 477px rgba(255, 234, 194, 0.8), 126px 193px rgba(255, 234, 194, 0.8), 1406px 1520px rgba(255, 234, 194, 0.8), 1227px 1202px rgba(255, 234, 194, 0.8), 2261px 1613px rgba(255, 234, 194, 0.8), 582px 2713px rgba(255, 234, 194, 0.8), 1154px 510px rgba(255, 234, 194, 0.8), 2804px 980px rgba(255, 234, 194, 0.8), 1339px 439px rgba(255, 234, 194, 0.8), 323px 135px rgba(255, 234, 194, 0.8), 187px 2984px rgba(255, 234, 194, 0.8), 219px 2016px rgba(255, 234, 194, 0.8), 1595px 1515px rgba(255, 234, 194, 0.8), 292px 1823px rgba(255, 234, 194, 0.8), 2383px 2123px rgba(255, 234, 194, 0.8), 1949px 2961px rgba(255, 234, 194, 0.8), 2007px 2836px rgba(255, 234, 194, 0.8), 1875px 2761px rgba(255, 234, 194, 0.8), 213px 2372px rgba(255, 234, 194, 0.8), 1879px 955px rgba(255, 234, 194, 0.8), 1650px 318px rgba(255, 234, 194, 0.8), 1376px 1951px rgba(255, 234, 194, 0.8), 1758px 794px rgba(255, 234, 194, 0.8), 676px 2421px rgba(255, 234, 194, 0.8), 1235px 2346px rgba(255, 234, 194, 0.8), 2835px 2371px rgba(255, 234, 194, 0.8), 1339px 756px rgba(255, 234, 194, 0.8), 1345px 2346px rgba(255, 234, 194, 0.8), 2886px 1507px rgba(255, 234, 194, 0.8), 2020px 1288px rgba(255, 234, 194, 0.8), 2238px 487px rgba(255, 234, 194, 0.8), 103px 2364px rgba(255, 234, 194, 0.8), 1952px 2857px rgba(255, 234, 194, 0.8), 2590px 1287px rgba(255, 234, 194, 0.8), 505px 2162px rgba(255, 234, 194, 0.8), 18px 2841px rgba(255, 234, 194, 0.8), 385px 1287px rgba(255, 234, 194, 0.8), 175px 37px rgba(255, 234, 194, 0.8), 211px 2650px rgba(255, 234, 194, 0.8), 2763px 1467px rgba(255, 234, 194, 0.8), 710px 2441px rgba(255, 234, 194, 0.8), 291px 1429px rgba(255, 234, 194, 0.8), 295px 277px rgba(255, 234, 194, 0.8), 2941px 1861px rgba(255, 234, 194, 0.8), 1103px 387px rgba(255, 234, 194, 0.8), 685px 1102px rgba(255, 234, 194, 0.8), 2715px 2637px rgba(255, 234, 194, 0.8), 2924px 2516px rgba(255, 234, 194, 0.8), 230px 1479px rgba(255, 234, 194, 0.8), 1491px 1711px rgba(255, 234, 194, 0.8), 1056px 1260px rgba(255, 234, 194, 0.8), 1733px 2841px rgba(255, 234, 194, 0.8), 946px 2147px rgba(255, 234, 194, 0.8), 2828px 2323px rgba(255, 234, 194, 0.8), 917px 538px rgba(255, 234, 194, 0.8), 422px 2713px rgba(255, 234, 194, 0.8), 2675px 820px rgba(255, 234, 194, 0.8), 917px 379px rgba(255, 234, 194, 0.8), 2427px 907px rgba(255, 234, 194, 0.8), 1830px 695px rgba(255, 234, 194, 0.8), 2824px 1317px rgba(255, 234, 194, 0.8), 1986px 1332px rgba(255, 234, 194, 0.8), 478px 104px rgba(255, 234, 194, 0.8), 1261px 806px rgba(255, 234, 194, 0.8), 1688px 2728px rgba(255, 234, 194, 0.8), 2649px 2078px rgba(255, 234, 194, 0.8), 1442px 2347px rgba(255, 234, 194, 0.8), 2552px 1959px rgba(255, 234, 194, 0.8), 514px 1411px rgba(255, 234, 194, 0.8), 1873px 2488px rgba(255, 234, 194, 0.8), 2246px 2683px rgba(255, 234, 194, 0.8), 1008px 2756px rgba(255, 234, 194, 0.8), 54px 168px rgba(255, 234, 194, 0.8), 1443px 1577px rgba(255, 234, 194, 0.8), 369px 2983px rgba(255, 234, 194, 0.8), 2883px 701px rgba(255, 234, 194, 0.8), 2743px 1160px rgba(255, 234, 194, 0.8), 12px 1633px rgba(255, 234, 194, 0.8), 1503px 2158px rgba(255, 234, 194, 0.8), 1890px 2641px rgba(255, 234, 194, 0.8), 1955px 2416px rgba(255, 234, 194, 0.8), 422px 1116px rgba(255, 234, 194, 0.8), 345px 256px rgba(255, 234, 194, 0.8), 932px 868px rgba(255, 234, 194, 0.8), 95px 2049px rgba(255, 234, 194, 0.8), 2781px 1478px rgba(255, 234, 194, 0.8), 2574px 332px rgba(255, 234, 194, 0.8), 1450px 841px rgba(255, 234, 194, 0.8), 2656px 1401px rgba(255, 234, 194, 0.8), 1828px 190px rgba(255, 234, 194, 0.8), 2536px 1897px rgba(255, 234, 194, 0.8), 2117px 2918px rgba(255, 234, 194, 0.8), 307px 1140px rgba(255, 234, 194, 0.8), 309px 1375px rgba(255, 234, 194, 0.8), 2874px 899px rgba(255, 234, 194, 0.8), 263px 575px rgba(255, 234, 194, 0.8), 2137px 1838px rgba(255, 234, 194, 0.8), 1073px 2359px rgba(255, 234, 194, 0.8), 1427px 196px rgba(255, 234, 194, 0.8), 2678px 2934px rgba(255, 234, 194, 0.8), 2891px 1220px rgba(255, 234, 194, 0.8), 1555px 2302px rgba(255, 234, 194, 0.8), 1931px 850px rgba(255, 234, 194, 0.8), 504px 1739px rgba(255, 234, 194, 0.8), 483px 2041px rgba(255, 234, 194, 0.8), 644px 2479px rgba(255, 234, 194, 0.8), 1595px 1990px rgba(255, 234, 194, 0.8), 2179px 2712px rgba(255, 234, 194, 0.8), 1653px 1405px rgba(255, 234, 194, 0.8), 2051px 2733px rgba(255, 234, 194, 0.8), 2320px 2201px rgba(255, 234, 194, 0.8), 694px 2599px rgba(255, 234, 194, 0.8), 2827px 877px rgba(255, 234, 194, 0.8), 2171px 2532px rgba(255, 234, 194, 0.8), 2814px 2780px rgba(255, 234, 194, 0.8), 2021px 2386px rgba(255, 234, 194, 0.8), 2410px 1374px rgba(255, 234, 194, 0.8), 2824px 1609px rgba(255, 234, 194, 0.8), 2755px 643px rgba(255, 234, 194, 0.8), 233px 1405px rgba(255, 234, 194, 0.8), 1359px 845px rgba(255, 234, 194, 0.8), 837px 153px rgba(255, 234, 194, 0.8), 54px 1387px rgba(255, 234, 194, 0.8), 1445px 2913px rgba(255, 234, 194, 0.8), 1177px 2584px rgba(255, 234, 194, 0.8), 2128px 1477px rgba(255, 234, 194, 0.8), 2489px 2611px rgba(255, 234, 194, 0.8), 844px 2776px rgba(255, 234, 194, 0.8), 1533px 1880px rgba(255, 234, 194, 0.8), 1139px 2296px rgba(255, 234, 194, 0.8), 1071px 1376px rgba(255, 234, 194, 0.8), 382px 1484px rgba(255, 234, 194, 0.8), 1403px 1647px rgba(255, 234, 194, 0.8), 1400px 1522px rgba(255, 234, 194, 0.8), 1518px 1471px rgba(255, 234, 194, 0.8), 2728px 2941px rgba(255, 234, 194, 0.8), 2284px 594px rgba(255, 234, 194, 0.8), 1911px 1602px rgba(255, 234, 194, 0.8), 1500px 990px rgba(255, 234, 194, 0.8), 1467px 1741px rgba(255, 234, 194, 0.8), 2880px 988px rgba(255, 234, 194, 0.8), 137px 2006px rgba(255, 234, 194, 0.8), 2407px 220px rgba(255, 234, 194, 0.8), 1979px 2456px rgba(255, 234, 194, 0.8), 2011px 1370px rgba(255, 234, 194, 0.8), 389px 2112px rgba(255, 234, 194, 0.8), 2724px 1368px rgba(255, 234, 194, 0.8), 2126px 484px rgba(255, 234, 194, 0.8), 2556px 1538px rgba(255, 234, 194, 0.8), 834px 1518px rgba(255, 234, 194, 0.8), 317px 480px rgba(255, 234, 194, 0.8), 1951px 507px rgba(255, 234, 194, 0.8), 2892px 296px rgba(255, 234, 194, 0.8), 332px 1394px rgba(255, 234, 194, 0.8), 518px 1048px rgba(255, 234, 194, 0.8), 166px 2244px rgba(255, 234, 194, 0.8), 734px 2147px rgba(255, 234, 194, 0.8), 2108px 1411px rgba(255, 234, 194, 0.8), 1799px 2157px rgba(255, 234, 194, 0.8), 2897px 1093px rgba(255, 234, 194, 0.8), 2471px 1241px rgba(255, 234, 194, 0.8), 439px 340px rgba(255, 234, 194, 0.8), 2165px 402px rgba(255, 234, 194, 0.8), 2298px 1747px rgba(255, 234, 194, 0.8), 1451px 70px rgba(255, 234, 194, 0.8), 486px 1542px rgba(255, 234, 194, 0.8), 2629px 2085px rgba(255, 234, 194, 0.8), 56px 296px rgba(255, 234, 194, 0.8), 2110px 2642px rgba(255, 234, 194, 0.8), 1776px 1619px rgba(255, 234, 194, 0.8), 648px 2312px rgba(255, 234, 194, 0.8), 2777px 2170px rgba(255, 234, 194, 0.8), 975px 815px rgba(255, 234, 194, 0.8), 1704px 2088px rgba(255, 234, 194, 0.8), 197px 1851px rgba(255, 234, 194, 0.8), 249px 425px rgba(255, 234, 194, 0.8), 1968px 344px rgba(255, 234, 194, 0.8), 2752px 34px rgba(255, 234, 194, 0.8), 927px 2262px rgba(255, 234, 194, 0.8), 997px 388px rgba(255, 234, 194, 0.8), 712px 1251px rgba(255, 234, 194, 0.8), 2606px 870px rgba(255, 234, 194, 0.8), 2083px 175px rgba(255, 234, 194, 0.8), 84px 2900px rgba(255, 234, 194, 0.8), 2794px 1915px rgba(255, 234, 194, 0.8), 2218px 473px rgba(255, 234, 194, 0.8), 1092px 393px rgba(255, 234, 194, 0.8), 902px 291px rgba(255, 234, 194, 0.8), 486px 2438px rgba(255, 234, 194, 0.8), 1087px 2166px rgba(255, 234, 194, 0.8), 2863px 2283px rgba(255, 234, 194, 0.8), 144px 2801px rgba(255, 234, 194, 0.8), 1385px 1598px rgba(255, 234, 194, 0.8), 1625px 2746px rgba(255, 234, 194, 0.8), 2443px 2708px rgba(255, 234, 194, 0.8), 2502px 2059px rgba(255, 234, 194, 0.8), 1479px 888px rgba(255, 234, 194, 0.8), 808px 2785px rgba(255, 234, 194, 0.8), 1191px 814px rgba(255, 234, 194, 0.8), 1262px 1375px rgba(255, 234, 194, 0.8), 1355px 193px rgba(255, 234, 194, 0.8), 124px 905px rgba(255, 234, 194, 0.8), 59px 1646px rgba(255, 234, 194, 0.8), 2560px 2662px rgba(255, 234, 194, 0.8), 2120px 2049px rgba(255, 234, 194, 0.8), 2253px 1138px rgba(255, 234, 194, 0.8), 725px 127px rgba(255, 234, 194, 0.8), 860px 228px rgba(255, 234, 194, 0.8), 2218px 96px rgba(255, 234, 194, 0.8), 963px 1120px rgba(255, 234, 194, 0.8), 17px 2962px rgba(255, 234, 194, 0.8), 1154px 587px rgba(255, 234, 194, 0.8), 2376px 165px rgba(255, 234, 194, 0.8), 844px 1195px rgba(255, 234, 194, 0.8), 1271px 16px rgba(255, 234, 194, 0.8), 2890px 1420px rgba(255, 234, 194, 0.8), 2798px 2763px rgba(255, 234, 194, 0.8), 693px 1646px rgba(255, 234, 194, 0.8), 1937px 2867px rgba(255, 234, 194, 0.8), 1838px 333px rgba(255, 234, 194, 0.8), 2827px 890px rgba(255, 234, 194, 0.8), 2546px 2952px rgba(255, 234, 194, 0.8), 11px 1951px rgba(255, 234, 194, 0.8), 555px 227px rgba(255, 234, 194, 0.8), 1242px 1189px rgba(255, 234, 194, 0.8), 1358px 1361px rgba(255, 234, 194, 0.8), 651px 2496px rgba(255, 234, 194, 0.8), 2070px 2031px rgba(255, 234, 194, 0.8), 2811px 884px rgba(255, 234, 194, 0.8), 962px 709px rgba(255, 234, 194, 0.8), 2027px 2196px rgba(255, 234, 194, 0.8), 2559px 69px rgba(255, 234, 194, 0.8), 1855px 84px rgba(255, 234, 194, 0.8), 805px 763px rgba(255, 234, 194, 0.8), 897px 2616px rgba(255, 234, 194, 0.8), 1201px 2124px rgba(255, 234, 194, 0.8), 343px 2757px rgba(255, 234, 194, 0.8), 2091px 2121px rgba(255, 234, 194, 0.8), 1491px 679px rgba(255, 234, 194, 0.8), 423px 168px rgba(255, 234, 194, 0.8), 2045px 34px rgba(255, 234, 194, 0.8), 950px 2458px rgba(255, 234, 194, 0.8), 2021px 2261px rgba(255, 234, 194, 0.8), 304px 387px rgba(255, 234, 194, 0.8), 976px 2217px rgba(255, 234, 194, 0.8), 356px 1098px rgba(255, 234, 194, 0.8), 2858px 1795px rgba(255, 234, 194, 0.8), 2137px 781px rgba(255, 234, 194, 0.8), 484px 2475px rgba(255, 234, 194, 0.8), 1768px 167px rgba(255, 234, 194, 0.8), 2620px 2962px rgba(255, 234, 194, 0.8), 1104px 22px rgba(255, 234, 194, 0.8), 1289px 1751px rgba(255, 234, 194, 0.8), 847px 999px rgba(255, 234, 194, 0.8), 2735px 701px rgba(255, 234, 194, 0.8), 2700px 1109px rgba(255, 234, 194, 0.8), 1163px 1453px rgba(255, 234, 194, 0.8), 1075px 1495px rgba(255, 234, 194, 0.8), 2172px 1183px rgba(255, 234, 194, 0.8), 1666px 227px rgba(255, 234, 194, 0.8), 247px 1088px rgba(255, 234, 194, 0.8), 1794px 2876px rgba(255, 234, 194, 0.8), 1883px 2251px rgba(255, 234, 194, 0.8), 381px 250px rgba(255, 234, 194, 0.8), 1198px 66px rgba(255, 234, 194, 0.8), 2442px 1247px rgba(255, 234, 194, 0.8), 1045px 2390px rgba(255, 234, 194, 0.8), 32px 2299px rgba(255, 234, 194, 0.8), 752px 719px rgba(255, 234, 194, 0.8), 2510px 197px rgba(255, 234, 194, 0.8), 175px 2597px rgba(255, 234, 194, 0.8), 2439px 1506px rgba(255, 234, 194, 0.8), 1580px 1709px rgba(255, 234, 194, 0.8), 2609px 1651px rgba(255, 234, 194, 0.8), 1073px 1849px rgba(255, 234, 194, 0.8), 116px 2184px rgba(255, 234, 194, 0.8), 868px 715px rgba(255, 234, 194, 0.8), 1442px 1917px rgba(255, 234, 194, 0.8), 657px 2974px rgba(255, 234, 194, 0.8), 1988px 158px rgba(255, 234, 194, 0.8), 1301px 916px rgba(255, 234, 194, 0.8), 597px 2497px rgba(255, 234, 194, 0.8), 1792px 2720px rgba(255, 234, 194, 0.8), 1199px 942px rgba(255, 234, 194, 0.8), 1983px 829px rgba(255, 234, 194, 0.8), 455px 1441px rgba(255, 234, 194, 0.8), 1622px 2207px rgba(255, 234, 194, 0.8), 2620px 124px rgba(255, 234, 194, 0.8), 1575px 2765px rgba(255, 234, 194, 0.8), 1883px 1390px rgba(255, 234, 194, 0.8), 2450px 1426px rgba(255, 234, 194, 0.8), 2241px 2070px rgba(255, 234, 194, 0.8), 2609px 2802px rgba(255, 234, 194, 0.8), 2991px 2795px rgba(255, 234, 194, 0.8), 1427px 674px rgba(255, 234, 194, 0.8), 1096px 138px rgba(255, 234, 194, 0.8), 1781px 2323px rgba(255, 234, 194, 0.8), 2017px 1144px rgba(255, 234, 194, 0.8), 2695px 1402px rgba(255, 234, 194, 0.8), 483px 1496px rgba(255, 234, 194, 0.8), 2158px 670px rgba(255, 234, 194, 0.8), 2618px 1191px rgba(255, 234, 194, 0.8), 284px 459px rgba(255, 234, 194, 0.8), 1413px 151px rgba(255, 234, 194, 0.8), 1079px 2021px rgba(255, 234, 194, 0.8), 2331px 50px rgba(255, 234, 194, 0.8), 1080px 2841px rgba(255, 234, 194, 0.8), 2416px 2508px rgba(255, 234, 194, 0.8), 2453px 503px rgba(255, 234, 194, 0.8), 524px 2168px rgba(255, 234, 194, 0.8), 472px 47px rgba(255, 234, 194, 0.8), 42px 1472px rgba(255, 234, 194, 0.8), 425px 2452px rgba(255, 234, 194, 0.8), 2282px 2376px rgba(255, 234, 194, 0.8), 2391px 2198px rgba(255, 234, 194, 0.8), 890px 1933px rgba(255, 234, 194, 0.8), 2845px 2768px rgba(255, 234, 194, 0.8), 924px 1865px rgba(255, 234, 194, 0.8), 604px 2090px rgba(255, 234, 194, 0.8), 1400px 2769px rgba(255, 234, 194, 0.8), 1274px 925px rgba(255, 234, 194, 0.8), 2843px 2067px rgba(255, 234, 194, 0.8), 2128px 551px rgba(255, 234, 194, 0.8), 2672px 1131px rgba(255, 234, 194, 0.8), 1136px 1918px rgba(255, 234, 194, 0.8), 1259px 96px rgba(255, 234, 194, 0.8), 2780px 2893px rgba(255, 234, 194, 0.8), 403px 315px rgba(255, 234, 194, 0.8), 2694px 2809px rgba(255, 234, 194, 0.8), 2449px 661px rgba(255, 234, 194, 0.8), 1710px 401px rgba(255, 234, 194, 0.8), 2535px 91px rgba(255, 234, 194, 0.8), 478px 2609px rgba(255, 234, 194, 0.8), 1297px 1773px rgba(255, 234, 194, 0.8), 2426px 2274px rgba(255, 234, 194, 0.8), 107px 880px rgba(255, 234, 194, 0.8), 1072px 1852px rgba(255, 234, 194, 0.8), 721px 2525px rgba(255, 234, 194, 0.8), 783px 2112px rgba(255, 234, 194, 0.8), 2311px 1221px rgba(255, 234, 194, 0.8), 2833px 1893px rgba(255, 234, 194, 0.8), 2846px 233px rgba(255, 234, 194, 0.8), 1655px 1212px rgba(255, 234, 194, 0.8), 742px 2173px rgba(255, 234, 194, 0.8);
  transition: all 0.2s linear;
  animation: animStar 100s linear infinite;
}

.stars3 {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  box-shadow: 1550px 1762px rgba(255, 234, 194, 0.8), 236px 1875px rgba(255, 234, 194, 0.8), 559px 2829px rgba(255, 234, 194, 0.8), 722px 729px rgba(255, 234, 194, 0.8), 2789px 842px rgba(255, 234, 194, 0.8), 1416px 936px rgba(255, 234, 194, 0.8), 1646px 1435px rgba(255, 234, 194, 0.8), 2769px 1866px rgba(255, 234, 194, 0.8), 2328px 1206px rgba(255, 234, 194, 0.8), 1449px 2651px rgba(255, 234, 194, 0.8), 966px 2215px rgba(255, 234, 194, 0.8), 1227px 158px rgba(255, 234, 194, 0.8), 1767px 1479px rgba(255, 234, 194, 0.8), 1861px 1332px rgba(255, 234, 194, 0.8), 1136px 1662px rgba(255, 234, 194, 0.8), 2451px 279px rgba(255, 234, 194, 0.8), 1016px 294px rgba(255, 234, 194, 0.8), 2611px 725px rgba(255, 234, 194, 0.8), 2726px 2105px rgba(255, 234, 194, 0.8), 180px 301px rgba(255, 234, 194, 0.8), 2299px 2128px rgba(255, 234, 194, 0.8), 466px 692px rgba(255, 234, 194, 0.8), 2008px 1114px rgba(255, 234, 194, 0.8), 886px 1550px rgba(255, 234, 194, 0.8), 578px 2503px rgba(255, 234, 194, 0.8), 365px 307px rgba(255, 234, 194, 0.8), 553px 1220px rgba(255, 234, 194, 0.8), 1139px 1762px rgba(255, 234, 194, 0.8), 109px 2611px rgba(255, 234, 194, 0.8), 2034px 155px rgba(255, 234, 194, 0.8), 1998px 2996px rgba(255, 234, 194, 0.8), 2898px 2933px rgba(255, 234, 194, 0.8), 729px 2008px rgba(255, 234, 194, 0.8), 2756px 2868px rgba(255, 234, 194, 0.8), 2102px 2655px rgba(255, 234, 194, 0.8), 1503px 537px rgba(255, 234, 194, 0.8), 695px 1203px rgba(255, 234, 194, 0.8), 2426px 1167px rgba(255, 234, 194, 0.8), 2684px 2205px rgba(255, 234, 194, 0.8), 707px 2027px rgba(255, 234, 194, 0.8), 1480px 1404px rgba(255, 234, 194, 0.8), 820px 1126px rgba(255, 234, 194, 0.8), 2137px 921px rgba(255, 234, 194, 0.8), 2552px 2798px rgba(255, 234, 194, 0.8), 2356px 137px rgba(255, 234, 194, 0.8), 669px 309px rgba(255, 234, 194, 0.8), 1625px 2657px rgba(255, 234, 194, 0.8), 1065px 195px rgba(255, 234, 194, 0.8), 1299px 1741px rgba(255, 234, 194, 0.8), 2260px 560px rgba(255, 234, 194, 0.8), 1361px 153px rgba(255, 234, 194, 0.8), 2029px 1806px rgba(255, 234, 194, 0.8), 268px 2580px rgba(255, 234, 194, 0.8), 739px 2564px rgba(255, 234, 194, 0.8), 1281px 2343px rgba(255, 234, 194, 0.8), 2324px 1219px rgba(255, 234, 194, 0.8), 555px 1402px rgba(255, 234, 194, 0.8), 271px 616px rgba(255, 234, 194, 0.8), 2124px 1487px rgba(255, 234, 194, 0.8), 1606px 435px rgba(255, 234, 194, 0.8), 1769px 2258px rgba(255, 234, 194, 0.8), 2523px 1227px rgba(255, 234, 194, 0.8), 2571px 2119px rgba(255, 234, 194, 0.8), 726px 180px rgba(255, 234, 194, 0.8), 1804px 2848px rgba(255, 234, 194, 0.8), 1968px 656px rgba(255, 234, 194, 0.8), 1735px 448px rgba(255, 234, 194, 0.8), 1884px 2412px rgba(255, 234, 194, 0.8), 1737px 1651px rgba(255, 234, 194, 0.8), 1868px 1372px rgba(255, 234, 194, 0.8), 68px 1508px rgba(255, 234, 194, 0.8), 336px 1573px rgba(255, 234, 194, 0.8), 2816px 1669px rgba(255, 234, 194, 0.8), 1871px 2627px rgba(255, 234, 194, 0.8), 2943px 728px rgba(255, 234, 194, 0.8), 2746px 2036px rgba(255, 234, 194, 0.8), 2291px 2773px rgba(255, 234, 194, 0.8), 1773px 1469px rgba(255, 234, 194, 0.8), 492px 1893px rgba(255, 234, 194, 0.8), 2941px 77px rgba(255, 234, 194, 0.8), 1172px 2377px rgba(255, 234, 194, 0.8), 248px 2433px rgba(255, 234, 194, 0.8), 2677px 2434px rgba(255, 234, 194, 0.8), 300px 386px rgba(255, 234, 194, 0.8), 783px 2021px rgba(255, 234, 194, 0.8), 2319px 298px rgba(255, 234, 194, 0.8), 147px 2887px rgba(255, 234, 194, 0.8), 558px 2340px rgba(255, 234, 194, 0.8), 2312px 31px rgba(255, 234, 194, 0.8), 83px 21px rgba(255, 234, 194, 0.8), 2254px 2628px rgba(255, 234, 194, 0.8), 1572px 2374px rgba(255, 234, 194, 0.8), 726px 466px rgba(255, 234, 194, 0.8), 1810px 2477px rgba(255, 234, 194, 0.8), 2742px 2703px rgba(255, 234, 194, 0.8), 1487px 1818px rgba(255, 234, 194, 0.8), 17px 465px rgba(255, 234, 194, 0.8), 918px 1420px rgba(255, 234, 194, 0.8), 352px 1818px rgba(255, 234, 194, 0.8), 880px 921px rgba(255, 234, 194, 0.8), 2710px 1653px rgba(255, 234, 194, 0.8), 1841px 1056px rgba(255, 234, 194, 0.8), 1718px 2667px rgba(255, 234, 194, 0.8), 1855px 1421px rgba(255, 234, 194, 0.8), 760px 506px rgba(255, 234, 194, 0.8), 750px 1570px rgba(255, 234, 194, 0.8), 84px 1680px rgba(255, 234, 194, 0.8), 542px 2976px rgba(255, 234, 194, 0.8), 2163px 42px rgba(255, 234, 194, 0.8), 1555px 813px rgba(255, 234, 194, 0.8), 11px 889px rgba(255, 234, 194, 0.8), 213px 644px rgba(255, 234, 194, 0.8), 2900px 2984px rgba(255, 234, 194, 0.8), 364px 1189px rgba(255, 234, 194, 0.8), 2991px 1859px rgba(255, 234, 194, 0.8), 1847px 871px rgba(255, 234, 194, 0.8), 2623px 1454px rgba(255, 234, 194, 0.8), 1088px 2689px rgba(255, 234, 194, 0.8), 2873px 1053px rgba(255, 234, 194, 0.8), 1145px 1327px rgba(255, 234, 194, 0.8), 2069px 921px rgba(255, 234, 194, 0.8), 822px 1565px rgba(255, 234, 194, 0.8), 1278px 801px rgba(255, 234, 194, 0.8), 2381px 881px rgba(255, 234, 194, 0.8), 1088px 1402px rgba(255, 234, 194, 0.8), 245px 544px rgba(255, 234, 194, 0.8), 2314px 1209px rgba(255, 234, 194, 0.8), 833px 1975px rgba(255, 234, 194, 0.8), 2092px 1734px rgba(255, 234, 194, 0.8), 2181px 314px rgba(255, 234, 194, 0.8), 2239px 755px rgba(255, 234, 194, 0.8), 258px 2109px rgba(255, 234, 194, 0.8), 198px 1703px rgba(255, 234, 194, 0.8), 659px 2060px rgba(255, 234, 194, 0.8), 385px 254px rgba(255, 234, 194, 0.8), 664px 1965px rgba(255, 234, 194, 0.8), 398px 1657px rgba(255, 234, 194, 0.8), 1735px 2324px rgba(255, 234, 194, 0.8), 2085px 1393px rgba(255, 234, 194, 0.8), 125px 1438px rgba(255, 234, 194, 0.8), 517px 2347px rgba(255, 234, 194, 0.8), 1777px 2378px rgba(255, 234, 194, 0.8), 2332px 60px rgba(255, 234, 194, 0.8), 2480px 1918px rgba(255, 234, 194, 0.8), 1873px 2474px rgba(255, 234, 194, 0.8), 107px 1691px rgba(255, 234, 194, 0.8), 996px 2303px rgba(255, 234, 194, 0.8), 1333px 2681px rgba(255, 234, 194, 0.8), 1125px 688px rgba(255, 234, 194, 0.8), 335px 2508px rgba(255, 234, 194, 0.8), 2047px 1797px rgba(255, 234, 194, 0.8), 892px 2931px rgba(255, 234, 194, 0.8), 2941px 294px rgba(255, 234, 194, 0.8), 1002px 2863px rgba(255, 234, 194, 0.8), 1200px 2426px rgba(255, 234, 194, 0.8), 607px 748px rgba(255, 234, 194, 0.8), 731px 2925px rgba(255, 234, 194, 0.8), 253px 65px rgba(255, 234, 194, 0.8), 1969px 1282px rgba(255, 234, 194, 0.8), 2619px 228px rgba(255, 234, 194, 0.8), 327px 2163px rgba(255, 234, 194, 0.8), 415px 1009px rgba(255, 234, 194, 0.8), 1600px 948px rgba(255, 234, 194, 0.8), 2453px 915px rgba(255, 234, 194, 0.8), 249px 111px rgba(255, 234, 194, 0.8), 2022px 2271px rgba(255, 234, 194, 0.8), 216px 2892px rgba(255, 234, 194, 0.8), 2043px 2175px rgba(255, 234, 194, 0.8), 939px 2628px rgba(255, 234, 194, 0.8), 2361px 95px rgba(255, 234, 194, 0.8), 2454px 1600px rgba(255, 234, 194, 0.8), 1541px 1757px rgba(255, 234, 194, 0.8), 263px 961px rgba(255, 234, 194, 0.8), 1750px 1351px rgba(255, 234, 194, 0.8), 1302px 1939px rgba(255, 234, 194, 0.8), 2254px 2089px rgba(255, 234, 194, 0.8), 2813px 908px rgba(255, 234, 194, 0.8), 2630px 1300px rgba(255, 234, 194, 0.8), 2891px 2651px rgba(255, 234, 194, 0.8), 590px 2109px rgba(255, 234, 194, 0.8), 537px 112px rgba(255, 234, 194, 0.8), 2256px 2604px rgba(255, 234, 194, 0.8), 1805px 948px rgba(255, 234, 194, 0.8), 1277px 2725px rgba(255, 234, 194, 0.8), 1668px 2171px rgba(255, 234, 194, 0.8), 1326px 1742px rgba(255, 234, 194, 0.8), 1598px 2025px rgba(255, 234, 194, 0.8), 2994px 2357px rgba(255, 234, 194, 0.8), 245px 1319px rgba(255, 234, 194, 0.8), 2895px 1136px rgba(255, 234, 194, 0.8), 2183px 2245px rgba(255, 234, 194, 0.8), 69px 1374px rgba(255, 234, 194, 0.8), 2637px 2780px rgba(255, 234, 194, 0.8), 624px 275px rgba(255, 234, 194, 0.8), 412px 2950px rgba(255, 234, 194, 0.8), 2075px 2829px rgba(255, 234, 194, 0.8), 1038px 755px rgba(255, 234, 194, 0.8), 636px 1074px rgba(255, 234, 194, 0.8), 951px 1144px rgba(255, 234, 194, 0.8), 1792px 1241px rgba(255, 234, 194, 0.8), 787px 1237px rgba(255, 234, 194, 0.8);
  transition: all 0.2s linear;
  animation: animStar 300s linear infinite;
}

@keyframes animStar {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-100vh);
  }
}
.site-header {
  display: flex;
  justify-content: space-between;
  padding: 1em 0 0 1.5em;
}
.site-header h1 {
  font-size: clamp(1em, 2vw, 2em);
  z-index: 10;
}
.site-header h1 a {
  text-decoration: none;
  color: rgba(255, 234, 194, 0.8);
}

.site-nav {
  display: flex;
}
.site-nav .menu-button {
  position: relative;
  padding: 0.5em;
  cursor: pointer;
  z-index: 50;
}
.site-nav .menu-button svg {
  fill: white;
}
.site-nav .menu-button svg rect {
  transition: all 0.3s ease-out;
}
.site-nav h2, .site-nav li {
  font-size: 1em;
}
.site-nav ul {
  z-index: 20;
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1;
  transform: translate(100%, 0);
  transition: all 0.3s ease-out;
}
.site-nav a {
  display: block;
  text-decoration: none;
  padding: 0.5em;
  color: rgba(255, 234, 194, 0.8);
  font-size: clamp(2em, 2vw, 2em);
}
.site-nav[data-navstate=open] ul {
  background-color: rgb(0, 0, 0);
  transform: translate(0, 0);
}
.site-nav[data-navstate=open] .menu-button {
  right: 1em;
  position: fixed;
}
.site-nav[data-navstate=open] .menu-button svg {
  fill: white;
}
.site-nav[data-navstate=open] #menubar-top {
  transform-origin: center;
  transform: translate(7px, 7px) rotate(-45deg);
}
.site-nav[data-navstate=open] #menubar-mid {
  opacity: 0;
}
.site-nav[data-navstate=open] #menubar-bot {
  transform-origin: center;
  transform: translate(0, -4px) rotate(45deg);
}
.site-nav[data-navstate=open] li {
  transform: translate(0, 0);
  opacity: 1;
}

.site-footer {
  display: flex;
  align-items: center;
  font-family: "bilo", sans-serif;
  padding: 2em;
  color: white;
}

/* PAGINATION */
.swiper-pagination {
  margin-right: 1em;
  padding: 1em;
}
.swiper-pagination :nth-child(1) {
  background-color: #130025 !important;
}
.swiper-pagination :nth-child(2) {
  box-shadow: inset -7px 0 0 0px rgb(179, 179, 179);
}
.swiper-pagination :nth-child(3) {
  position: relative;
}
.swiper-pagination :nth-child(3):after {
  content: "";
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  background: rgb(179, 179, 179);
  border-radius: 0 100% 100% 0;
}
.swiper-pagination :nth-child(4) {
  background: rgb(179, 179, 179) !important;
  box-shadow: inset 9px 0 0 0 #130025;
}
.swiper-pagination :nth-child(5) {
  background: rgb(179, 179, 179) !important;
  box-sizing: inset 0 0 14px 0 #130025;
  border-radius: 50%;
}
.swiper-pagination :nth-child(6) {
  transform: rotate(180deg);
  background: rgb(179, 179, 179) !important;
  box-shadow: inset 9px 0 0 0 #130025;
}
.swiper-pagination :nth-child(7) {
  transform: rotate(180deg);
  position: relative;
}
.swiper-pagination :nth-child(7):after {
  content: "";
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  background: rgb(179, 179, 179);
  border-radius: 0 100% 100% 0;
}
.swiper-pagination :nth-child(8) {
  transform: rotate(180deg);
  box-shadow: inset -7px 0 0 0px rgb(179, 179, 179);
}

.swiper-pagination-bullet {
  background-color: #130025 !important;
  padding: 1em;
  border: 2px solid rgb(179, 179, 179);
}

.hide-visually {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.no-scroll-y {
  overflow-y: hidden;
}

/* Preloader */
.ctn-preloader {
  align-items: center;
  cursor: none;
  display: flex;
  height: 100%;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 900;
}
.ctn-preloader .animation-preloader {
  position: absolute;
  z-index: 100;
}
.ctn-preloader .animation-preloader .moon-preloader {
  height: 200px;
  width: 200px;
  margin: 0 auto;
  position: absolute;
  top: calc(50% - 300px);
  left: calc(50% - 100px);
  clip-path: circle(100px, 100px, 100px);
  clip-path: circle(100px at center);
  border-radius: 50%;
  background: #B5BCC6;
  overflow: hidden;
}
.ctn-preloader .animation-preloader .moon-preloader:before, .ctn-preloader .animation-preloader .moon-preloader:after {
  border-radius: 50%;
  content: "";
  position: absolute;
  top: -4%;
  left: -4%;
  height: 108%;
  width: 108%;
}
.ctn-preloader .animation-preloader .moon-preloader:before {
  animation: before-fullmoon linear 3s infinite;
}
.ctn-preloader .animation-preloader .moon-preloader:after {
  animation: after-fullmoon linear 3s infinite;
}
.ctn-preloader .animation-preloader .txt-loading {
  font-family: "tachyon", sans-serif;
  font-weight: 700;
  font-size: clamp(2em, 5vw, 5em);
  text-align: center;
  user-select: none;
}
.ctn-preloader .animation-preloader .txt-loading .letters-loading:before {
  animation: letters-loading 4s infinite;
  color: #ffffff;
  content: attr(data-text-preloader);
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: rotateY(-90deg);
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading {
  color: rgba(255, 255, 255, 0.1);
  position: relative;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(2):before {
  animation-delay: 0.2s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(3):before {
  animation-delay: 0.4s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(4):before {
  animation-delay: 0.6s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(5):before {
  animation-delay: 0.8s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(6):before {
  animation-delay: 1s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(7):before {
  animation-delay: 1.2s;
}

.ctn-preloader .loader-section {
  background-image: linear-gradient(#000, #130025);
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
}

.loaded .animation-preloader {
  opacity: 0;
  transition: 0.3s ease-out;
}

.loaded .loader-section {
  transform: translateY(-101%);
  transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1);
}

@keyframes letters-loading {
  0%, 75%, 100% {
    opacity: 0;
    transform: rotateY(-90deg);
  }
  25%, 50% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}
@keyframes before-fullmoon {
  0%, 50% {
    opacity: 1;
  }
  50.01%, 100% {
    opacity: 0;
  }
  0%, 24.99% {
    background: #130025;
  }
  25%, 100% {
    background: rgb(179, 179, 179);
  }
  0% {
    box-shadow: inset 0 0 14px 0 rgb(179, 179, 179);
  }
  24.99% {
    box-shadow: inset 110px 0 14px 0 rgb(179, 179, 179);
  }
  25% {
    box-shadow: inset 110px 0 14px 0 #130025;
  }
  50%, 100% {
    box-shadow: inset 0 0 14px 0 #130025;
  }
  0%, 50%, 100% {
    border-radius: 50%;
  }
  20%, 30% {
    border-radius: 10% 10% 10% 10%/50% 50% 50% 50%;
  }
  25% {
    border-radius: 0;
  }
  0%, 24.99% {
    transform: rotate(0);
  }
  25%, 50%, 100% {
    transform: rotate(180deg);
  }
}
@keyframes after-fullmoon {
  0%, 50% {
    opacity: 0;
  }
  50.01%, 100% {
    opacity: 1;
  }
  0%, 50%, 74.99% {
    background: rgb(179, 179, 179);
  }
  75%, 100% {
    background: #130025;
  }
  0%, 50% {
    box-shadow: inset 0 0 14px 0 #130025;
  }
  74.99% {
    box-shadow: inset 110px 0 14px 0 #130025;
  }
  75% {
    box-shadow: inset 110px 0 14px 0 rgb(179, 179, 179);
  }
  100% {
    box-shadow: inset 0 0 14px 0 rgb(179, 179, 179);
  }
  0%, 50%, 100% {
    border-radius: 50%;
  }
  70%, 80% {
    border-radius: 10% 10% 10% 10%/50% 50% 50% 50%;
  }
  75% {
    border-radius: 0;
  }
  0%, 50%, 74.99% {
    transform: rotate(0);
  }
  75%, 100% {
    transform: rotate(180deg);
  }
}
@media screen and (max-width: 767px) {
  .ctn-preloader .animation-preloader .txt-loading {
    font-family: "tachyon", sans-serif;
    font-weight: 700;
  }
}
@media screen and (max-width: 500px) {
  .ctn-preloader .animation-preloader .txt-loading {
    font-family: "tachyon", sans-serif;
    font-weight: 700;
  }
}