/* VARIABLES */
/* FONTS */
/* IMPORTS */
.swiper-slide-active .moon-wrapper {
  animation: tilt-in 0.7s ease-in-out both;
}
.swiper-slide-active .text-wrapper {
  animation: slide-left 0.6s ease-in-out;
}

@keyframes slide-left {
  0% {
    transform: translateX(500px) translateY(800px) translateZ(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px) translateY(0px) translateZ(0px);
    opacity: 1;
  }
}
@keyframes slide-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes roll-in {
  0% {
    transform: translateY(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    transform: translate(0px) rotate(0deg);
    opacity: 1;
  }
}
@keyframes tilt-in {
  0% {
    transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px) skew(50deg, -10deg);
    opacity: 0;
  }
  100% {
    transform: rotateY(0deg) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}
/*
TABLE OF CONTENTS
# GLOBAL RESETS
# TYPOGRAPHY
# BUTTONS 
# MEDIA
    # RESPONSIVE IMAGES
# LAYOUT
    # CONTAINER
    # MEDIA QUERIES
    # SEMANTIC GRID SYSTEM
# STRUCTURE
    # SITE HEADER
    # SITE NAV
    # MAIN
        # SECTIONS
    # SITE FOOTER
        #FORM
*/
/* RESET BODY */
body {
  margin: 0;
}

/* CONTAINER */
.swiper {
  margin: 0 auto;
}

body {
  font-size: 87.5%;
}

@media (min-width: 768px) {
  body {
    font-size: 100%;
  }
  .site-nav {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
}
@media (min-width: 1050px) {
  body {
    font-size: 112.5%;
  }
}
@media (max-width: 800px) {
  .phase-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  .phase-wrapper h1 {
    text-align: center;
  }
  .swiper-pagination {
    opacity: 0;
  }
}
/* RESPONSIVE IMAGES */
img {
  max-width: 100%;
  height: auto;
}

body {
  background-image: linear-gradient(45deg, #000, #130025);
  background-size: 400% 400%;
  height: 100vh;
}

/* SWIPER */
.swiper {
  width: 100%;
  height: 75vh;
}

/* SLIDES */
.swiper-slide h1 {
  margin-top: 1em;
}
.swiper-slide .body-text p {
  font-family: "bilo", sans-serif;
  color: rgb(179, 179, 179);
  max-width: 35em;
  margin-top: 1em;
}

/* MOON PHASES */
.phase-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.phase-wrapper h1 {
  letter-spacing: 0.1em;
}
.phase-wrapper .moon-wrapper {
  margin-right: 2%;
  width: 30%;
}
.phase-wrapper .text-wrapper {
  width: 50%;
}

h1, h2, h3 {
  color: rgb(255, 255, 255);
  font-family: "tachyon", sans-serif;
  font-weight: 800;
}

h1 {
  font-size: clamp(2em, 2vw, 2em);
  line-height: 1em;
  text-transform: uppercase;
}

.stars-bg {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.stars1 {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  box-shadow: 2807px 150px rgba(255, 234, 194, 0.8), 1645px 2805px rgba(255, 234, 194, 0.8), 1172px 275px rgba(255, 234, 194, 0.8), 1823px 2166px rgba(255, 234, 194, 0.8), 2146px 1191px rgba(255, 234, 194, 0.8), 1234px 481px rgba(255, 234, 194, 0.8), 2403px 2479px rgba(255, 234, 194, 0.8), 1224px 345px rgba(255, 234, 194, 0.8), 1105px 2723px rgba(255, 234, 194, 0.8), 2828px 1483px rgba(255, 234, 194, 0.8), 2063px 2480px rgba(255, 234, 194, 0.8), 2933px 17px rgba(255, 234, 194, 0.8), 2259px 2602px rgba(255, 234, 194, 0.8), 693px 2591px rgba(255, 234, 194, 0.8), 271px 290px rgba(255, 234, 194, 0.8), 2679px 490px rgba(255, 234, 194, 0.8), 1985px 436px rgba(255, 234, 194, 0.8), 1447px 1312px rgba(255, 234, 194, 0.8), 105px 4px rgba(255, 234, 194, 0.8), 792px 2148px rgba(255, 234, 194, 0.8), 787px 797px rgba(255, 234, 194, 0.8), 1248px 1036px rgba(255, 234, 194, 0.8), 2811px 2626px rgba(255, 234, 194, 0.8), 1448px 418px rgba(255, 234, 194, 0.8), 1587px 287px rgba(255, 234, 194, 0.8), 1376px 600px rgba(255, 234, 194, 0.8), 1932px 643px rgba(255, 234, 194, 0.8), 1655px 1196px rgba(255, 234, 194, 0.8), 2137px 180px rgba(255, 234, 194, 0.8), 2929px 2069px rgba(255, 234, 194, 0.8), 1943px 1051px rgba(255, 234, 194, 0.8), 1880px 1319px rgba(255, 234, 194, 0.8), 2756px 2174px rgba(255, 234, 194, 0.8), 21px 2914px rgba(255, 234, 194, 0.8), 1231px 2431px rgba(255, 234, 194, 0.8), 908px 814px rgba(255, 234, 194, 0.8), 483px 1185px rgba(255, 234, 194, 0.8), 1098px 1513px rgba(255, 234, 194, 0.8), 70px 1618px rgba(255, 234, 194, 0.8), 78px 1228px rgba(255, 234, 194, 0.8), 2290px 2288px rgba(255, 234, 194, 0.8), 1553px 587px rgba(255, 234, 194, 0.8), 2242px 2453px rgba(255, 234, 194, 0.8), 359px 2867px rgba(255, 234, 194, 0.8), 418px 1473px rgba(255, 234, 194, 0.8), 781px 2189px rgba(255, 234, 194, 0.8), 538px 2346px rgba(255, 234, 194, 0.8), 2562px 633px rgba(255, 234, 194, 0.8), 207px 2747px rgba(255, 234, 194, 0.8), 925px 1349px rgba(255, 234, 194, 0.8), 1127px 368px rgba(255, 234, 194, 0.8), 2615px 2236px rgba(255, 234, 194, 0.8), 355px 2965px rgba(255, 234, 194, 0.8), 2848px 998px rgba(255, 234, 194, 0.8), 1868px 586px rgba(255, 234, 194, 0.8), 1329px 279px rgba(255, 234, 194, 0.8), 1451px 135px rgba(255, 234, 194, 0.8), 2120px 1863px rgba(255, 234, 194, 0.8), 2247px 1022px rgba(255, 234, 194, 0.8), 2px 2424px rgba(255, 234, 194, 0.8), 2541px 733px rgba(255, 234, 194, 0.8), 2274px 279px rgba(255, 234, 194, 0.8), 2221px 910px rgba(255, 234, 194, 0.8), 2013px 2589px rgba(255, 234, 194, 0.8), 2091px 96px rgba(255, 234, 194, 0.8), 664px 853px rgba(255, 234, 194, 0.8), 2320px 1145px rgba(255, 234, 194, 0.8), 2312px 2990px rgba(255, 234, 194, 0.8), 1160px 609px rgba(255, 234, 194, 0.8), 2367px 179px rgba(255, 234, 194, 0.8), 2331px 2244px rgba(255, 234, 194, 0.8), 44px 235px rgba(255, 234, 194, 0.8), 1463px 1459px rgba(255, 234, 194, 0.8), 25px 2014px rgba(255, 234, 194, 0.8), 898px 2733px rgba(255, 234, 194, 0.8), 1940px 2356px rgba(255, 234, 194, 0.8), 342px 122px rgba(255, 234, 194, 0.8), 1277px 689px rgba(255, 234, 194, 0.8), 116px 1061px rgba(255, 234, 194, 0.8), 345px 1948px rgba(255, 234, 194, 0.8), 2481px 2009px rgba(255, 234, 194, 0.8), 693px 2384px rgba(255, 234, 194, 0.8), 2731px 1261px rgba(255, 234, 194, 0.8), 230px 1814px rgba(255, 234, 194, 0.8), 2247px 961px rgba(255, 234, 194, 0.8), 1872px 2148px rgba(255, 234, 194, 0.8), 2036px 2629px rgba(255, 234, 194, 0.8), 1913px 880px rgba(255, 234, 194, 0.8), 2248px 1122px rgba(255, 234, 194, 0.8), 701px 880px rgba(255, 234, 194, 0.8), 2610px 2071px rgba(255, 234, 194, 0.8), 2448px 555px rgba(255, 234, 194, 0.8), 2472px 3px rgba(255, 234, 194, 0.8), 983px 495px rgba(255, 234, 194, 0.8), 220px 863px rgba(255, 234, 194, 0.8), 2023px 1910px rgba(255, 234, 194, 0.8), 1495px 1440px rgba(255, 234, 194, 0.8), 2426px 2745px rgba(255, 234, 194, 0.8), 2066px 2377px rgba(255, 234, 194, 0.8), 2690px 1889px rgba(255, 234, 194, 0.8), 2018px 277px rgba(255, 234, 194, 0.8), 1387px 2235px rgba(255, 234, 194, 0.8), 970px 36px rgba(255, 234, 194, 0.8), 346px 2163px rgba(255, 234, 194, 0.8), 276px 2639px rgba(255, 234, 194, 0.8), 1413px 781px rgba(255, 234, 194, 0.8), 1462px 1502px rgba(255, 234, 194, 0.8), 2334px 1716px rgba(255, 234, 194, 0.8), 2912px 1046px rgba(255, 234, 194, 0.8), 887px 1352px rgba(255, 234, 194, 0.8), 344px 724px rgba(255, 234, 194, 0.8), 455px 2271px rgba(255, 234, 194, 0.8), 1104px 1914px rgba(255, 234, 194, 0.8), 2431px 1726px rgba(255, 234, 194, 0.8), 2833px 2784px rgba(255, 234, 194, 0.8), 1222px 2765px rgba(255, 234, 194, 0.8), 1447px 2042px rgba(255, 234, 194, 0.8), 853px 125px rgba(255, 234, 194, 0.8), 1582px 12px rgba(255, 234, 194, 0.8), 741px 1207px rgba(255, 234, 194, 0.8), 2674px 514px rgba(255, 234, 194, 0.8), 634px 2944px rgba(255, 234, 194, 0.8), 596px 1086px rgba(255, 234, 194, 0.8), 1168px 2007px rgba(255, 234, 194, 0.8), 942px 792px rgba(255, 234, 194, 0.8), 2193px 114px rgba(255, 234, 194, 0.8), 1454px 2387px rgba(255, 234, 194, 0.8), 2702px 987px rgba(255, 234, 194, 0.8), 1989px 618px rgba(255, 234, 194, 0.8), 276px 2442px rgba(255, 234, 194, 0.8), 1831px 2572px rgba(255, 234, 194, 0.8), 2516px 2836px rgba(255, 234, 194, 0.8), 2069px 2661px rgba(255, 234, 194, 0.8), 305px 1344px rgba(255, 234, 194, 0.8), 1515px 1517px rgba(255, 234, 194, 0.8), 43px 1983px rgba(255, 234, 194, 0.8), 2744px 1691px rgba(255, 234, 194, 0.8), 344px 2303px rgba(255, 234, 194, 0.8), 1952px 2288px rgba(255, 234, 194, 0.8), 2544px 1371px rgba(255, 234, 194, 0.8), 1466px 1704px rgba(255, 234, 194, 0.8), 2397px 2957px rgba(255, 234, 194, 0.8), 1997px 960px rgba(255, 234, 194, 0.8), 631px 2193px rgba(255, 234, 194, 0.8), 1197px 854px rgba(255, 234, 194, 0.8), 462px 1419px rgba(255, 234, 194, 0.8), 1396px 2258px rgba(255, 234, 194, 0.8), 2517px 2633px rgba(255, 234, 194, 0.8), 841px 763px rgba(255, 234, 194, 0.8), 2910px 1239px rgba(255, 234, 194, 0.8), 1611px 1720px rgba(255, 234, 194, 0.8), 2967px 2810px rgba(255, 234, 194, 0.8), 1121px 810px rgba(255, 234, 194, 0.8), 1417px 2224px rgba(255, 234, 194, 0.8), 1185px 2567px rgba(255, 234, 194, 0.8), 1864px 2406px rgba(255, 234, 194, 0.8), 1965px 62px rgba(255, 234, 194, 0.8), 1940px 45px rgba(255, 234, 194, 0.8), 1668px 1231px rgba(255, 234, 194, 0.8), 2687px 1394px rgba(255, 234, 194, 0.8), 2639px 2794px rgba(255, 234, 194, 0.8), 2073px 449px rgba(255, 234, 194, 0.8), 1619px 1888px rgba(255, 234, 194, 0.8), 850px 132px rgba(255, 234, 194, 0.8), 446px 26px rgba(255, 234, 194, 0.8), 2173px 2842px rgba(255, 234, 194, 0.8), 1548px 1658px rgba(255, 234, 194, 0.8), 2569px 2828px rgba(255, 234, 194, 0.8), 2169px 2277px rgba(255, 234, 194, 0.8), 2001px 1644px rgba(255, 234, 194, 0.8), 1451px 696px rgba(255, 234, 194, 0.8), 1696px 1527px rgba(255, 234, 194, 0.8), 1363px 1747px rgba(255, 234, 194, 0.8), 927px 2164px rgba(255, 234, 194, 0.8), 1519px 1933px rgba(255, 234, 194, 0.8), 1900px 1143px rgba(255, 234, 194, 0.8), 482px 1973px rgba(255, 234, 194, 0.8), 393px 1947px rgba(255, 234, 194, 0.8), 2114px 1601px rgba(255, 234, 194, 0.8), 1763px 751px rgba(255, 234, 194, 0.8), 1390px 496px rgba(255, 234, 194, 0.8), 374px 1036px rgba(255, 234, 194, 0.8), 2259px 725px rgba(255, 234, 194, 0.8), 882px 1930px rgba(255, 234, 194, 0.8), 70px 2759px rgba(255, 234, 194, 0.8), 595px 1471px rgba(255, 234, 194, 0.8), 1739px 1358px rgba(255, 234, 194, 0.8), 854px 1529px rgba(255, 234, 194, 0.8), 1410px 1549px rgba(255, 234, 194, 0.8), 1624px 1536px rgba(255, 234, 194, 0.8), 2177px 2852px rgba(255, 234, 194, 0.8), 819px 1558px rgba(255, 234, 194, 0.8), 2836px 843px rgba(255, 234, 194, 0.8), 818px 2910px rgba(255, 234, 194, 0.8), 1765px 175px rgba(255, 234, 194, 0.8), 1536px 908px rgba(255, 234, 194, 0.8), 572px 960px rgba(255, 234, 194, 0.8), 2147px 931px rgba(255, 234, 194, 0.8), 390px 1351px rgba(255, 234, 194, 0.8), 2474px 1217px rgba(255, 234, 194, 0.8), 2484px 2973px rgba(255, 234, 194, 0.8), 440px 1542px rgba(255, 234, 194, 0.8), 670px 982px rgba(255, 234, 194, 0.8), 1724px 452px rgba(255, 234, 194, 0.8), 1897px 1935px rgba(255, 234, 194, 0.8), 1726px 109px rgba(255, 234, 194, 0.8), 2763px 1238px rgba(255, 234, 194, 0.8), 2948px 111px rgba(255, 234, 194, 0.8), 1997px 1283px rgba(255, 234, 194, 0.8), 2763px 2166px rgba(255, 234, 194, 0.8), 2092px 2104px rgba(255, 234, 194, 0.8), 2334px 2404px rgba(255, 234, 194, 0.8), 2285px 1077px rgba(255, 234, 194, 0.8), 2815px 1472px rgba(255, 234, 194, 0.8), 1620px 612px rgba(255, 234, 194, 0.8), 2514px 28px rgba(255, 234, 194, 0.8), 2855px 431px rgba(255, 234, 194, 0.8), 2964px 2543px rgba(255, 234, 194, 0.8), 1628px 2429px rgba(255, 234, 194, 0.8), 2818px 1869px rgba(255, 234, 194, 0.8), 716px 1026px rgba(255, 234, 194, 0.8), 2076px 730px rgba(255, 234, 194, 0.8), 2702px 2960px rgba(255, 234, 194, 0.8), 1662px 1040px rgba(255, 234, 194, 0.8), 1471px 647px rgba(255, 234, 194, 0.8), 2030px 77px rgba(255, 234, 194, 0.8), 2614px 2518px rgba(255, 234, 194, 0.8), 107px 2072px rgba(255, 234, 194, 0.8), 1813px 890px rgba(255, 234, 194, 0.8), 2685px 2734px rgba(255, 234, 194, 0.8), 2501px 1143px rgba(255, 234, 194, 0.8), 395px 454px rgba(255, 234, 194, 0.8), 853px 664px rgba(255, 234, 194, 0.8), 512px 2982px rgba(255, 234, 194, 0.8), 1449px 2591px rgba(255, 234, 194, 0.8), 210px 1803px rgba(255, 234, 194, 0.8), 729px 1926px rgba(255, 234, 194, 0.8), 2666px 873px rgba(255, 234, 194, 0.8), 446px 746px rgba(255, 234, 194, 0.8), 2106px 2521px rgba(255, 234, 194, 0.8), 1689px 2194px rgba(255, 234, 194, 0.8), 2879px 356px rgba(255, 234, 194, 0.8), 1941px 1486px rgba(255, 234, 194, 0.8), 241px 2391px rgba(255, 234, 194, 0.8), 213px 2780px rgba(255, 234, 194, 0.8), 1984px 626px rgba(255, 234, 194, 0.8), 1200px 243px rgba(255, 234, 194, 0.8), 2686px 2839px rgba(255, 234, 194, 0.8), 2687px 2453px rgba(255, 234, 194, 0.8), 893px 1673px rgba(255, 234, 194, 0.8), 835px 2724px rgba(255, 234, 194, 0.8), 2303px 1780px rgba(255, 234, 194, 0.8), 88px 763px rgba(255, 234, 194, 0.8), 1514px 2565px rgba(255, 234, 194, 0.8), 308px 2382px rgba(255, 234, 194, 0.8), 853px 1726px rgba(255, 234, 194, 0.8), 945px 2606px rgba(255, 234, 194, 0.8), 1186px 1821px rgba(255, 234, 194, 0.8), 3px 2503px rgba(255, 234, 194, 0.8), 408px 1401px rgba(255, 234, 194, 0.8), 1274px 491px rgba(255, 234, 194, 0.8), 389px 1649px rgba(255, 234, 194, 0.8), 1770px 1563px rgba(255, 234, 194, 0.8), 346px 1575px rgba(255, 234, 194, 0.8), 63px 750px rgba(255, 234, 194, 0.8), 2033px 314px rgba(255, 234, 194, 0.8), 2165px 578px rgba(255, 234, 194, 0.8), 688px 616px rgba(255, 234, 194, 0.8), 1256px 1201px rgba(255, 234, 194, 0.8), 914px 117px rgba(255, 234, 194, 0.8), 856px 1980px rgba(255, 234, 194, 0.8), 1091px 1276px rgba(255, 234, 194, 0.8), 827px 62px rgba(255, 234, 194, 0.8), 288px 2161px rgba(255, 234, 194, 0.8), 1910px 254px rgba(255, 234, 194, 0.8), 2984px 1718px rgba(255, 234, 194, 0.8), 1256px 2270px rgba(255, 234, 194, 0.8), 1160px 2553px rgba(255, 234, 194, 0.8), 1322px 2431px rgba(255, 234, 194, 0.8), 2372px 456px rgba(255, 234, 194, 0.8), 2831px 645px rgba(255, 234, 194, 0.8), 578px 688px rgba(255, 234, 194, 0.8), 342px 306px rgba(255, 234, 194, 0.8), 513px 1685px rgba(255, 234, 194, 0.8), 836px 84px rgba(255, 234, 194, 0.8), 165px 867px rgba(255, 234, 194, 0.8), 2437px 2756px rgba(255, 234, 194, 0.8), 893px 907px rgba(255, 234, 194, 0.8), 1396px 2312px rgba(255, 234, 194, 0.8), 1946px 2716px rgba(255, 234, 194, 0.8), 1980px 65px rgba(255, 234, 194, 0.8), 2864px 300px rgba(255, 234, 194, 0.8), 809px 1935px rgba(255, 234, 194, 0.8), 2915px 946px rgba(255, 234, 194, 0.8), 2082px 2148px rgba(255, 234, 194, 0.8), 2795px 2358px rgba(255, 234, 194, 0.8), 1163px 1748px rgba(255, 234, 194, 0.8), 2323px 779px rgba(255, 234, 194, 0.8), 2988px 71px rgba(255, 234, 194, 0.8), 875px 2503px rgba(255, 234, 194, 0.8), 34px 2093px rgba(255, 234, 194, 0.8), 1953px 1718px rgba(255, 234, 194, 0.8), 2748px 1427px rgba(255, 234, 194, 0.8), 1016px 809px rgba(255, 234, 194, 0.8), 175px 267px rgba(255, 234, 194, 0.8), 605px 223px rgba(255, 234, 194, 0.8), 897px 638px rgba(255, 234, 194, 0.8), 1855px 471px rgba(255, 234, 194, 0.8), 831px 261px rgba(255, 234, 194, 0.8), 143px 543px rgba(255, 234, 194, 0.8), 354px 1888px rgba(255, 234, 194, 0.8), 1218px 646px rgba(255, 234, 194, 0.8), 824px 917px rgba(255, 234, 194, 0.8), 1783px 1651px rgba(255, 234, 194, 0.8), 774px 1972px rgba(255, 234, 194, 0.8), 676px 1166px rgba(255, 234, 194, 0.8), 1351px 165px rgba(255, 234, 194, 0.8), 1281px 1297px rgba(255, 234, 194, 0.8), 163px 204px rgba(255, 234, 194, 0.8), 2125px 2317px rgba(255, 234, 194, 0.8), 2073px 2708px rgba(255, 234, 194, 0.8), 354px 179px rgba(255, 234, 194, 0.8), 1283px 2301px rgba(255, 234, 194, 0.8), 921px 2386px rgba(255, 234, 194, 0.8), 2683px 124px rgba(255, 234, 194, 0.8), 1370px 19px rgba(255, 234, 194, 0.8), 1263px 1537px rgba(255, 234, 194, 0.8), 1690px 641px rgba(255, 234, 194, 0.8), 999px 1184px rgba(255, 234, 194, 0.8), 420px 1714px rgba(255, 234, 194, 0.8), 1892px 686px rgba(255, 234, 194, 0.8), 2323px 2267px rgba(255, 234, 194, 0.8), 2012px 207px rgba(255, 234, 194, 0.8), 1337px 310px rgba(255, 234, 194, 0.8), 813px 1882px rgba(255, 234, 194, 0.8), 2998px 2841px rgba(255, 234, 194, 0.8), 2670px 2624px rgba(255, 234, 194, 0.8), 1978px 1257px rgba(255, 234, 194, 0.8), 571px 2611px rgba(255, 234, 194, 0.8), 1043px 172px rgba(255, 234, 194, 0.8), 976px 2209px rgba(255, 234, 194, 0.8), 2630px 2697px rgba(255, 234, 194, 0.8), 508px 1150px rgba(255, 234, 194, 0.8), 224px 1185px rgba(255, 234, 194, 0.8), 2680px 2472px rgba(255, 234, 194, 0.8), 1906px 1517px rgba(255, 234, 194, 0.8), 1115px 181px rgba(255, 234, 194, 0.8), 2554px 1425px rgba(255, 234, 194, 0.8), 1753px 1492px rgba(255, 234, 194, 0.8), 1391px 2431px rgba(255, 234, 194, 0.8), 763px 1921px rgba(255, 234, 194, 0.8), 1711px 51px rgba(255, 234, 194, 0.8), 2619px 1940px rgba(255, 234, 194, 0.8), 873px 980px rgba(255, 234, 194, 0.8), 2537px 829px rgba(255, 234, 194, 0.8), 1247px 2935px rgba(255, 234, 194, 0.8), 2896px 601px rgba(255, 234, 194, 0.8), 2957px 964px rgba(255, 234, 194, 0.8), 621px 2972px rgba(255, 234, 194, 0.8), 1666px 243px rgba(255, 234, 194, 0.8), 1958px 137px rgba(255, 234, 194, 0.8), 208px 1077px rgba(255, 234, 194, 0.8), 2716px 960px rgba(255, 234, 194, 0.8), 2426px 2383px rgba(255, 234, 194, 0.8), 83px 51px rgba(255, 234, 194, 0.8), 228px 2238px rgba(255, 234, 194, 0.8), 2598px 1819px rgba(255, 234, 194, 0.8), 822px 966px rgba(255, 234, 194, 0.8), 1775px 1577px rgba(255, 234, 194, 0.8), 1587px 1539px rgba(255, 234, 194, 0.8), 2880px 321px rgba(255, 234, 194, 0.8), 1206px 2926px rgba(255, 234, 194, 0.8), 2396px 2412px rgba(255, 234, 194, 0.8), 1782px 542px rgba(255, 234, 194, 0.8), 514px 2151px rgba(255, 234, 194, 0.8), 2392px 159px rgba(255, 234, 194, 0.8), 1214px 1350px rgba(255, 234, 194, 0.8), 2941px 1611px rgba(255, 234, 194, 0.8), 1657px 362px rgba(255, 234, 194, 0.8), 1323px 787px rgba(255, 234, 194, 0.8), 708px 1755px rgba(255, 234, 194, 0.8), 330px 1388px rgba(255, 234, 194, 0.8), 1794px 2261px rgba(255, 234, 194, 0.8), 745px 1645px rgba(255, 234, 194, 0.8), 2934px 2256px rgba(255, 234, 194, 0.8), 767px 1956px rgba(255, 234, 194, 0.8), 1682px 1729px rgba(255, 234, 194, 0.8), 1450px 1205px rgba(255, 234, 194, 0.8), 571px 1212px rgba(255, 234, 194, 0.8), 2082px 2774px rgba(255, 234, 194, 0.8), 1681px 7px rgba(255, 234, 194, 0.8), 317px 2772px rgba(255, 234, 194, 0.8), 2405px 1196px rgba(255, 234, 194, 0.8), 2293px 2730px rgba(255, 234, 194, 0.8), 1441px 2454px rgba(255, 234, 194, 0.8), 2436px 2050px rgba(255, 234, 194, 0.8), 1090px 144px rgba(255, 234, 194, 0.8), 2651px 850px rgba(255, 234, 194, 0.8), 2367px 625px rgba(255, 234, 194, 0.8), 1662px 547px rgba(255, 234, 194, 0.8), 1008px 53px rgba(255, 234, 194, 0.8), 1377px 1874px rgba(255, 234, 194, 0.8), 688px 2323px rgba(255, 234, 194, 0.8), 2737px 2361px rgba(255, 234, 194, 0.8), 1853px 423px rgba(255, 234, 194, 0.8), 2101px 2313px rgba(255, 234, 194, 0.8), 1505px 2764px rgba(255, 234, 194, 0.8), 2711px 832px rgba(255, 234, 194, 0.8), 2066px 2543px rgba(255, 234, 194, 0.8), 2787px 1810px rgba(255, 234, 194, 0.8), 2319px 924px rgba(255, 234, 194, 0.8), 2665px 1276px rgba(255, 234, 194, 0.8), 2271px 2632px rgba(255, 234, 194, 0.8), 1580px 2972px rgba(255, 234, 194, 0.8), 2880px 1225px rgba(255, 234, 194, 0.8), 1063px 2745px rgba(255, 234, 194, 0.8), 1699px 1288px rgba(255, 234, 194, 0.8), 868px 2969px rgba(255, 234, 194, 0.8), 2092px 922px rgba(255, 234, 194, 0.8), 2670px 1040px rgba(255, 234, 194, 0.8), 1013px 2287px rgba(255, 234, 194, 0.8), 2691px 299px rgba(255, 234, 194, 0.8), 2040px 2367px rgba(255, 234, 194, 0.8), 2677px 1514px rgba(255, 234, 194, 0.8), 720px 2576px rgba(255, 234, 194, 0.8), 2106px 2750px rgba(255, 234, 194, 0.8), 2599px 622px rgba(255, 234, 194, 0.8), 745px 1632px rgba(255, 234, 194, 0.8), 2700px 1893px rgba(255, 234, 194, 0.8), 759px 1848px rgba(255, 234, 194, 0.8), 162px 1900px rgba(255, 234, 194, 0.8), 2914px 1884px rgba(255, 234, 194, 0.8), 985px 2029px rgba(255, 234, 194, 0.8), 2259px 1526px rgba(255, 234, 194, 0.8), 670px 599px rgba(255, 234, 194, 0.8), 2611px 253px rgba(255, 234, 194, 0.8), 1599px 580px rgba(255, 234, 194, 0.8), 1151px 2908px rgba(255, 234, 194, 0.8), 1648px 1989px rgba(255, 234, 194, 0.8), 1525px 448px rgba(255, 234, 194, 0.8), 1420px 1731px rgba(255, 234, 194, 0.8), 666px 1099px rgba(255, 234, 194, 0.8), 1499px 1443px rgba(255, 234, 194, 0.8), 2068px 296px rgba(255, 234, 194, 0.8), 1088px 1520px rgba(255, 234, 194, 0.8), 1970px 1404px rgba(255, 234, 194, 0.8), 747px 2960px rgba(255, 234, 194, 0.8), 2563px 1430px rgba(255, 234, 194, 0.8), 1087px 1730px rgba(255, 234, 194, 0.8), 953px 2602px rgba(255, 234, 194, 0.8), 1648px 1744px rgba(255, 234, 194, 0.8), 1624px 2159px rgba(255, 234, 194, 0.8), 296px 2889px rgba(255, 234, 194, 0.8), 2892px 856px rgba(255, 234, 194, 0.8), 799px 1202px rgba(255, 234, 194, 0.8), 2326px 380px rgba(255, 234, 194, 0.8), 1102px 465px rgba(255, 234, 194, 0.8), 2600px 421px rgba(255, 234, 194, 0.8), 864px 1485px rgba(255, 234, 194, 0.8), 2909px 543px rgba(255, 234, 194, 0.8), 704px 1108px rgba(255, 234, 194, 0.8), 747px 1302px rgba(255, 234, 194, 0.8), 1475px 16px rgba(255, 234, 194, 0.8), 1844px 1452px rgba(255, 234, 194, 0.8), 1463px 172px rgba(255, 234, 194, 0.8), 2023px 1067px rgba(255, 234, 194, 0.8), 1417px 1622px rgba(255, 234, 194, 0.8), 2333px 2011px rgba(255, 234, 194, 0.8), 2987px 414px rgba(255, 234, 194, 0.8), 1374px 1137px rgba(255, 234, 194, 0.8), 338px 46px rgba(255, 234, 194, 0.8), 626px 1405px rgba(255, 234, 194, 0.8), 423px 2635px rgba(255, 234, 194, 0.8), 1814px 192px rgba(255, 234, 194, 0.8), 263px 2425px rgba(255, 234, 194, 0.8), 784px 1026px rgba(255, 234, 194, 0.8), 2103px 970px rgba(255, 234, 194, 0.8), 171px 2133px rgba(255, 234, 194, 0.8), 1931px 81px rgba(255, 234, 194, 0.8), 2442px 2616px rgba(255, 234, 194, 0.8), 1321px 313px rgba(255, 234, 194, 0.8), 2370px 1502px rgba(255, 234, 194, 0.8), 836px 82px rgba(255, 234, 194, 0.8), 1337px 1050px rgba(255, 234, 194, 0.8), 1426px 1408px rgba(255, 234, 194, 0.8), 2654px 1005px rgba(255, 234, 194, 0.8), 272px 682px rgba(255, 234, 194, 0.8), 2414px 2441px rgba(255, 234, 194, 0.8), 1831px 193px rgba(255, 234, 194, 0.8), 123px 1957px rgba(255, 234, 194, 0.8), 2714px 908px rgba(255, 234, 194, 0.8), 215px 1852px rgba(255, 234, 194, 0.8), 2079px 2818px rgba(255, 234, 194, 0.8), 1058px 47px rgba(255, 234, 194, 0.8), 2924px 344px rgba(255, 234, 194, 0.8), 1687px 1601px rgba(255, 234, 194, 0.8), 114px 836px rgba(255, 234, 194, 0.8), 1053px 2381px rgba(255, 234, 194, 0.8), 2673px 1535px rgba(255, 234, 194, 0.8), 1046px 2261px rgba(255, 234, 194, 0.8), 2925px 1773px rgba(255, 234, 194, 0.8);
  transition: all 0.2s linear;
  animation: animStar 150s linear infinite;
}

.stars2 {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  box-shadow: 2510px 2611px rgba(255, 234, 194, 0.8), 2697px 2964px rgba(255, 234, 194, 0.8), 1200px 576px rgba(255, 234, 194, 0.8), 1926px 1002px rgba(255, 234, 194, 0.8), 2370px 1682px rgba(255, 234, 194, 0.8), 1039px 1341px rgba(255, 234, 194, 0.8), 1438px 1853px rgba(255, 234, 194, 0.8), 2194px 1349px rgba(255, 234, 194, 0.8), 1791px 1824px rgba(255, 234, 194, 0.8), 1842px 538px rgba(255, 234, 194, 0.8), 2238px 1633px rgba(255, 234, 194, 0.8), 1800px 1131px rgba(255, 234, 194, 0.8), 1784px 889px rgba(255, 234, 194, 0.8), 831px 1077px rgba(255, 234, 194, 0.8), 2310px 273px rgba(255, 234, 194, 0.8), 828px 771px rgba(255, 234, 194, 0.8), 2045px 687px rgba(255, 234, 194, 0.8), 961px 251px rgba(255, 234, 194, 0.8), 2477px 513px rgba(255, 234, 194, 0.8), 2240px 2331px rgba(255, 234, 194, 0.8), 2455px 1073px rgba(255, 234, 194, 0.8), 800px 2694px rgba(255, 234, 194, 0.8), 1195px 2580px rgba(255, 234, 194, 0.8), 2999px 2507px rgba(255, 234, 194, 0.8), 703px 2483px rgba(255, 234, 194, 0.8), 1635px 2134px rgba(255, 234, 194, 0.8), 576px 2496px rgba(255, 234, 194, 0.8), 2265px 799px rgba(255, 234, 194, 0.8), 2273px 2727px rgba(255, 234, 194, 0.8), 1153px 581px rgba(255, 234, 194, 0.8), 1048px 1620px rgba(255, 234, 194, 0.8), 2853px 1463px rgba(255, 234, 194, 0.8), 2701px 490px rgba(255, 234, 194, 0.8), 1149px 2154px rgba(255, 234, 194, 0.8), 191px 1367px rgba(255, 234, 194, 0.8), 1001px 2904px rgba(255, 234, 194, 0.8), 1516px 1549px rgba(255, 234, 194, 0.8), 1320px 2148px rgba(255, 234, 194, 0.8), 425px 2940px rgba(255, 234, 194, 0.8), 1295px 1007px rgba(255, 234, 194, 0.8), 1745px 2543px rgba(255, 234, 194, 0.8), 2720px 1005px rgba(255, 234, 194, 0.8), 1709px 1484px rgba(255, 234, 194, 0.8), 88px 1697px rgba(255, 234, 194, 0.8), 1889px 149px rgba(255, 234, 194, 0.8), 2492px 598px rgba(255, 234, 194, 0.8), 1674px 2778px rgba(255, 234, 194, 0.8), 2976px 1794px rgba(255, 234, 194, 0.8), 1744px 1977px rgba(255, 234, 194, 0.8), 2956px 2845px rgba(255, 234, 194, 0.8), 2956px 1144px rgba(255, 234, 194, 0.8), 2142px 226px rgba(255, 234, 194, 0.8), 1370px 354px rgba(255, 234, 194, 0.8), 865px 510px rgba(255, 234, 194, 0.8), 2117px 1701px rgba(255, 234, 194, 0.8), 1458px 2407px rgba(255, 234, 194, 0.8), 590px 1044px rgba(255, 234, 194, 0.8), 1158px 2370px rgba(255, 234, 194, 0.8), 2393px 858px rgba(255, 234, 194, 0.8), 529px 1018px rgba(255, 234, 194, 0.8), 2611px 1506px rgba(255, 234, 194, 0.8), 1867px 2801px rgba(255, 234, 194, 0.8), 1249px 2643px rgba(255, 234, 194, 0.8), 967px 1813px rgba(255, 234, 194, 0.8), 46px 320px rgba(255, 234, 194, 0.8), 2888px 395px rgba(255, 234, 194, 0.8), 1434px 1730px rgba(255, 234, 194, 0.8), 250px 2501px rgba(255, 234, 194, 0.8), 2513px 1327px rgba(255, 234, 194, 0.8), 962px 2056px rgba(255, 234, 194, 0.8), 1418px 246px rgba(255, 234, 194, 0.8), 1870px 2013px rgba(255, 234, 194, 0.8), 337px 205px rgba(255, 234, 194, 0.8), 1898px 707px rgba(255, 234, 194, 0.8), 1496px 111px rgba(255, 234, 194, 0.8), 51px 262px rgba(255, 234, 194, 0.8), 2249px 484px rgba(255, 234, 194, 0.8), 1622px 55px rgba(255, 234, 194, 0.8), 1017px 226px rgba(255, 234, 194, 0.8), 2616px 2435px rgba(255, 234, 194, 0.8), 1908px 2186px rgba(255, 234, 194, 0.8), 1216px 1720px rgba(255, 234, 194, 0.8), 2732px 1886px rgba(255, 234, 194, 0.8), 2242px 1730px rgba(255, 234, 194, 0.8), 621px 1634px rgba(255, 234, 194, 0.8), 751px 167px rgba(255, 234, 194, 0.8), 2296px 2377px rgba(255, 234, 194, 0.8), 1062px 1327px rgba(255, 234, 194, 0.8), 2852px 798px rgba(255, 234, 194, 0.8), 2px 2256px rgba(255, 234, 194, 0.8), 2304px 240px rgba(255, 234, 194, 0.8), 112px 2910px rgba(255, 234, 194, 0.8), 979px 1455px rgba(255, 234, 194, 0.8), 1774px 2245px rgba(255, 234, 194, 0.8), 1370px 530px rgba(255, 234, 194, 0.8), 2253px 2607px rgba(255, 234, 194, 0.8), 1935px 2250px rgba(255, 234, 194, 0.8), 1296px 2363px rgba(255, 234, 194, 0.8), 301px 2091px rgba(255, 234, 194, 0.8), 2743px 344px rgba(255, 234, 194, 0.8), 2323px 2073px rgba(255, 234, 194, 0.8), 229px 133px rgba(255, 234, 194, 0.8), 1277px 2491px rgba(255, 234, 194, 0.8), 2665px 1355px rgba(255, 234, 194, 0.8), 1711px 1317px rgba(255, 234, 194, 0.8), 1024px 2963px rgba(255, 234, 194, 0.8), 90px 1976px rgba(255, 234, 194, 0.8), 2533px 2594px rgba(255, 234, 194, 0.8), 2808px 2376px rgba(255, 234, 194, 0.8), 510px 2932px rgba(255, 234, 194, 0.8), 2210px 1744px rgba(255, 234, 194, 0.8), 248px 1815px rgba(255, 234, 194, 0.8), 2382px 1545px rgba(255, 234, 194, 0.8), 872px 2547px rgba(255, 234, 194, 0.8), 1381px 1360px rgba(255, 234, 194, 0.8), 814px 2836px rgba(255, 234, 194, 0.8), 1912px 1824px rgba(255, 234, 194, 0.8), 2489px 839px rgba(255, 234, 194, 0.8), 2201px 2239px rgba(255, 234, 194, 0.8), 909px 2010px rgba(255, 234, 194, 0.8), 822px 947px rgba(255, 234, 194, 0.8), 382px 1780px rgba(255, 234, 194, 0.8), 508px 805px rgba(255, 234, 194, 0.8), 230px 418px rgba(255, 234, 194, 0.8), 1497px 885px rgba(255, 234, 194, 0.8), 2869px 1639px rgba(255, 234, 194, 0.8), 550px 361px rgba(255, 234, 194, 0.8), 1969px 918px rgba(255, 234, 194, 0.8), 2464px 1833px rgba(255, 234, 194, 0.8), 1038px 788px rgba(255, 234, 194, 0.8), 2988px 798px rgba(255, 234, 194, 0.8), 776px 930px rgba(255, 234, 194, 0.8), 286px 2879px rgba(255, 234, 194, 0.8), 336px 2564px rgba(255, 234, 194, 0.8), 1321px 2116px rgba(255, 234, 194, 0.8), 900px 1937px rgba(255, 234, 194, 0.8), 882px 1178px rgba(255, 234, 194, 0.8), 2047px 1955px rgba(255, 234, 194, 0.8), 1117px 545px rgba(255, 234, 194, 0.8), 875px 445px rgba(255, 234, 194, 0.8), 2426px 2076px rgba(255, 234, 194, 0.8), 2582px 1924px rgba(255, 234, 194, 0.8), 2593px 20px rgba(255, 234, 194, 0.8), 2598px 1109px rgba(255, 234, 194, 0.8), 1839px 775px rgba(255, 234, 194, 0.8), 570px 380px rgba(255, 234, 194, 0.8), 22px 2693px rgba(255, 234, 194, 0.8), 594px 1217px rgba(255, 234, 194, 0.8), 726px 2787px rgba(255, 234, 194, 0.8), 1956px 2619px rgba(255, 234, 194, 0.8), 2236px 2473px rgba(255, 234, 194, 0.8), 2977px 1723px rgba(255, 234, 194, 0.8), 1926px 1763px rgba(255, 234, 194, 0.8), 2378px 1497px rgba(255, 234, 194, 0.8), 1705px 2870px rgba(255, 234, 194, 0.8), 2960px 1874px rgba(255, 234, 194, 0.8), 391px 1008px rgba(255, 234, 194, 0.8), 532px 2767px rgba(255, 234, 194, 0.8), 2700px 134px rgba(255, 234, 194, 0.8), 1902px 2856px rgba(255, 234, 194, 0.8), 2105px 239px rgba(255, 234, 194, 0.8), 1813px 480px rgba(255, 234, 194, 0.8), 2683px 1070px rgba(255, 234, 194, 0.8), 2058px 523px rgba(255, 234, 194, 0.8), 2468px 1284px rgba(255, 234, 194, 0.8), 2478px 1137px rgba(255, 234, 194, 0.8), 1236px 2830px rgba(255, 234, 194, 0.8), 43px 1004px rgba(255, 234, 194, 0.8), 1373px 1105px rgba(255, 234, 194, 0.8), 285px 2413px rgba(255, 234, 194, 0.8), 1449px 2921px rgba(255, 234, 194, 0.8), 1130px 1270px rgba(255, 234, 194, 0.8), 326px 2917px rgba(255, 234, 194, 0.8), 887px 577px rgba(255, 234, 194, 0.8), 1916px 545px rgba(255, 234, 194, 0.8), 1484px 2145px rgba(255, 234, 194, 0.8), 1694px 104px rgba(255, 234, 194, 0.8), 861px 1833px rgba(255, 234, 194, 0.8), 1243px 1276px rgba(255, 234, 194, 0.8), 1839px 1061px rgba(255, 234, 194, 0.8), 1501px 1047px rgba(255, 234, 194, 0.8), 251px 1507px rgba(255, 234, 194, 0.8), 391px 102px rgba(255, 234, 194, 0.8), 2613px 2700px rgba(255, 234, 194, 0.8), 1160px 2146px rgba(255, 234, 194, 0.8), 381px 714px rgba(255, 234, 194, 0.8), 2730px 1169px rgba(255, 234, 194, 0.8), 2920px 579px rgba(255, 234, 194, 0.8), 379px 2095px rgba(255, 234, 194, 0.8), 851px 1723px rgba(255, 234, 194, 0.8), 2867px 2953px rgba(255, 234, 194, 0.8), 2773px 1338px rgba(255, 234, 194, 0.8), 2935px 658px rgba(255, 234, 194, 0.8), 418px 2562px rgba(255, 234, 194, 0.8), 425px 2370px rgba(255, 234, 194, 0.8), 336px 2774px rgba(255, 234, 194, 0.8), 1160px 872px rgba(255, 234, 194, 0.8), 1071px 2438px rgba(255, 234, 194, 0.8), 355px 1977px rgba(255, 234, 194, 0.8), 2166px 221px rgba(255, 234, 194, 0.8), 273px 1048px rgba(255, 234, 194, 0.8), 684px 2477px rgba(255, 234, 194, 0.8), 1259px 1470px rgba(255, 234, 194, 0.8), 2524px 2390px rgba(255, 234, 194, 0.8), 1489px 2149px rgba(255, 234, 194, 0.8), 2698px 1816px rgba(255, 234, 194, 0.8), 1677px 2526px rgba(255, 234, 194, 0.8), 264px 1727px rgba(255, 234, 194, 0.8), 538px 1752px rgba(255, 234, 194, 0.8), 1553px 1289px rgba(255, 234, 194, 0.8), 425px 341px rgba(255, 234, 194, 0.8), 2082px 2396px rgba(255, 234, 194, 0.8), 783px 1263px rgba(255, 234, 194, 0.8), 1627px 1382px rgba(255, 234, 194, 0.8), 2779px 885px rgba(255, 234, 194, 0.8), 1049px 2462px rgba(255, 234, 194, 0.8), 1186px 1865px rgba(255, 234, 194, 0.8), 2270px 2842px rgba(255, 234, 194, 0.8), 2234px 54px rgba(255, 234, 194, 0.8), 1216px 256px rgba(255, 234, 194, 0.8), 1137px 279px rgba(255, 234, 194, 0.8), 908px 889px rgba(255, 234, 194, 0.8), 1581px 2579px rgba(255, 234, 194, 0.8), 1551px 1718px rgba(255, 234, 194, 0.8), 2916px 1851px rgba(255, 234, 194, 0.8), 1208px 803px rgba(255, 234, 194, 0.8), 2331px 2049px rgba(255, 234, 194, 0.8), 415px 1035px rgba(255, 234, 194, 0.8), 1197px 355px rgba(255, 234, 194, 0.8), 2018px 864px rgba(255, 234, 194, 0.8), 1751px 207px rgba(255, 234, 194, 0.8), 2372px 767px rgba(255, 234, 194, 0.8), 1395px 1362px rgba(255, 234, 194, 0.8), 2899px 1463px rgba(255, 234, 194, 0.8), 1157px 852px rgba(255, 234, 194, 0.8), 2053px 1699px rgba(255, 234, 194, 0.8), 1232px 2711px rgba(255, 234, 194, 0.8), 1146px 877px rgba(255, 234, 194, 0.8), 601px 2586px rgba(255, 234, 194, 0.8), 274px 1433px rgba(255, 234, 194, 0.8), 1294px 2516px rgba(255, 234, 194, 0.8), 361px 869px rgba(255, 234, 194, 0.8), 2739px 603px rgba(255, 234, 194, 0.8), 2189px 259px rgba(255, 234, 194, 0.8), 571px 2464px rgba(255, 234, 194, 0.8), 1423px 2638px rgba(255, 234, 194, 0.8), 2345px 776px rgba(255, 234, 194, 0.8), 1854px 307px rgba(255, 234, 194, 0.8), 1768px 1855px rgba(255, 234, 194, 0.8), 2084px 2222px rgba(255, 234, 194, 0.8), 2370px 2934px rgba(255, 234, 194, 0.8), 2954px 474px rgba(255, 234, 194, 0.8), 2881px 1003px rgba(255, 234, 194, 0.8), 434px 2876px rgba(255, 234, 194, 0.8), 1141px 2508px rgba(255, 234, 194, 0.8), 388px 1785px rgba(255, 234, 194, 0.8), 366px 246px rgba(255, 234, 194, 0.8), 2899px 1826px rgba(255, 234, 194, 0.8), 1466px 2432px rgba(255, 234, 194, 0.8), 784px 713px rgba(255, 234, 194, 0.8), 1013px 2623px rgba(255, 234, 194, 0.8), 545px 847px rgba(255, 234, 194, 0.8), 2579px 724px rgba(255, 234, 194, 0.8), 1509px 845px rgba(255, 234, 194, 0.8), 113px 843px rgba(255, 234, 194, 0.8), 822px 512px rgba(255, 234, 194, 0.8), 1195px 1455px rgba(255, 234, 194, 0.8), 841px 1035px rgba(255, 234, 194, 0.8), 230px 2810px rgba(255, 234, 194, 0.8), 2694px 2059px rgba(255, 234, 194, 0.8), 178px 402px rgba(255, 234, 194, 0.8), 2925px 1651px rgba(255, 234, 194, 0.8), 1218px 2749px rgba(255, 234, 194, 0.8), 2287px 744px rgba(255, 234, 194, 0.8), 1134px 2984px rgba(255, 234, 194, 0.8), 576px 1509px rgba(255, 234, 194, 0.8), 1391px 2808px rgba(255, 234, 194, 0.8), 836px 2461px rgba(255, 234, 194, 0.8), 1306px 2493px rgba(255, 234, 194, 0.8), 2665px 1010px rgba(255, 234, 194, 0.8), 1928px 252px rgba(255, 234, 194, 0.8), 1826px 851px rgba(255, 234, 194, 0.8), 495px 470px rgba(255, 234, 194, 0.8), 573px 480px rgba(255, 234, 194, 0.8), 1212px 2549px rgba(255, 234, 194, 0.8), 130px 1166px rgba(255, 234, 194, 0.8), 2036px 841px rgba(255, 234, 194, 0.8), 377px 2333px rgba(255, 234, 194, 0.8), 2996px 379px rgba(255, 234, 194, 0.8), 2122px 2374px rgba(255, 234, 194, 0.8), 2046px 852px rgba(255, 234, 194, 0.8), 2624px 2066px rgba(255, 234, 194, 0.8), 1469px 1067px rgba(255, 234, 194, 0.8), 2960px 28px rgba(255, 234, 194, 0.8), 1848px 2112px rgba(255, 234, 194, 0.8), 973px 11px rgba(255, 234, 194, 0.8), 791px 1998px rgba(255, 234, 194, 0.8), 2579px 229px rgba(255, 234, 194, 0.8), 561px 691px rgba(255, 234, 194, 0.8), 1090px 787px rgba(255, 234, 194, 0.8), 2463px 1978px rgba(255, 234, 194, 0.8), 338px 1610px rgba(255, 234, 194, 0.8), 691px 500px rgba(255, 234, 194, 0.8), 5px 737px rgba(255, 234, 194, 0.8), 2009px 2867px rgba(255, 234, 194, 0.8), 816px 178px rgba(255, 234, 194, 0.8), 411px 125px rgba(255, 234, 194, 0.8), 2838px 2965px rgba(255, 234, 194, 0.8), 1548px 2647px rgba(255, 234, 194, 0.8), 476px 2317px rgba(255, 234, 194, 0.8), 1193px 263px rgba(255, 234, 194, 0.8), 427px 2782px rgba(255, 234, 194, 0.8), 1714px 2193px rgba(255, 234, 194, 0.8), 672px 1028px rgba(255, 234, 194, 0.8), 622px 2203px rgba(255, 234, 194, 0.8), 766px 133px rgba(255, 234, 194, 0.8), 903px 608px rgba(255, 234, 194, 0.8), 2632px 2948px rgba(255, 234, 194, 0.8), 2250px 2775px rgba(255, 234, 194, 0.8), 2468px 455px rgba(255, 234, 194, 0.8), 2642px 2840px rgba(255, 234, 194, 0.8), 1545px 914px rgba(255, 234, 194, 0.8), 2786px 2761px rgba(255, 234, 194, 0.8), 2829px 2087px rgba(255, 234, 194, 0.8), 2686px 1959px rgba(255, 234, 194, 0.8), 2755px 2593px rgba(255, 234, 194, 0.8), 2025px 18px rgba(255, 234, 194, 0.8), 612px 409px rgba(255, 234, 194, 0.8), 26px 1732px rgba(255, 234, 194, 0.8), 2758px 2493px rgba(255, 234, 194, 0.8), 358px 1051px rgba(255, 234, 194, 0.8), 2656px 2193px rgba(255, 234, 194, 0.8), 296px 448px rgba(255, 234, 194, 0.8), 2397px 276px rgba(255, 234, 194, 0.8), 2446px 2373px rgba(255, 234, 194, 0.8), 1269px 1534px rgba(255, 234, 194, 0.8), 1417px 465px rgba(255, 234, 194, 0.8), 667px 2817px rgba(255, 234, 194, 0.8), 2123px 2569px rgba(255, 234, 194, 0.8), 2772px 2032px rgba(255, 234, 194, 0.8), 2483px 2125px rgba(255, 234, 194, 0.8), 2408px 1506px rgba(255, 234, 194, 0.8), 2296px 1065px rgba(255, 234, 194, 0.8), 342px 2959px rgba(255, 234, 194, 0.8), 857px 162px rgba(255, 234, 194, 0.8), 2907px 1917px rgba(255, 234, 194, 0.8), 660px 2156px rgba(255, 234, 194, 0.8), 2969px 2915px rgba(255, 234, 194, 0.8), 1182px 2443px rgba(255, 234, 194, 0.8), 1183px 831px rgba(255, 234, 194, 0.8), 2357px 932px rgba(255, 234, 194, 0.8), 2599px 2978px rgba(255, 234, 194, 0.8), 2374px 2906px rgba(255, 234, 194, 0.8), 1091px 1841px rgba(255, 234, 194, 0.8), 2236px 817px rgba(255, 234, 194, 0.8), 1379px 1487px rgba(255, 234, 194, 0.8), 1206px 359px rgba(255, 234, 194, 0.8), 1850px 2076px rgba(255, 234, 194, 0.8), 2379px 141px rgba(255, 234, 194, 0.8), 470px 2074px rgba(255, 234, 194, 0.8), 944px 545px rgba(255, 234, 194, 0.8), 1317px 1456px rgba(255, 234, 194, 0.8), 2603px 1448px rgba(255, 234, 194, 0.8), 254px 2665px rgba(255, 234, 194, 0.8), 2086px 1557px rgba(255, 234, 194, 0.8), 585px 1630px rgba(255, 234, 194, 0.8), 724px 2884px rgba(255, 234, 194, 0.8), 320px 1076px rgba(255, 234, 194, 0.8), 1274px 2338px rgba(255, 234, 194, 0.8), 287px 470px rgba(255, 234, 194, 0.8), 2381px 1766px rgba(255, 234, 194, 0.8), 624px 408px rgba(255, 234, 194, 0.8), 1007px 2402px rgba(255, 234, 194, 0.8), 2404px 160px rgba(255, 234, 194, 0.8), 1464px 299px rgba(255, 234, 194, 0.8), 2295px 91px rgba(255, 234, 194, 0.8), 822px 2451px rgba(255, 234, 194, 0.8), 1698px 175px rgba(255, 234, 194, 0.8), 677px 2347px rgba(255, 234, 194, 0.8), 1200px 1886px rgba(255, 234, 194, 0.8), 1707px 585px rgba(255, 234, 194, 0.8), 1892px 1448px rgba(255, 234, 194, 0.8), 235px 942px rgba(255, 234, 194, 0.8), 2624px 721px rgba(255, 234, 194, 0.8), 906px 312px rgba(255, 234, 194, 0.8), 2871px 2033px rgba(255, 234, 194, 0.8), 2433px 2061px rgba(255, 234, 194, 0.8), 1401px 2321px rgba(255, 234, 194, 0.8), 1792px 1691px rgba(255, 234, 194, 0.8), 2167px 1517px rgba(255, 234, 194, 0.8), 275px 1883px rgba(255, 234, 194, 0.8), 955px 542px rgba(255, 234, 194, 0.8), 2600px 418px rgba(255, 234, 194, 0.8), 2603px 536px rgba(255, 234, 194, 0.8), 1672px 349px rgba(255, 234, 194, 0.8), 345px 377px rgba(255, 234, 194, 0.8), 2943px 624px rgba(255, 234, 194, 0.8), 1113px 77px rgba(255, 234, 194, 0.8), 916px 1380px rgba(255, 234, 194, 0.8), 2533px 1650px rgba(255, 234, 194, 0.8), 2819px 2074px rgba(255, 234, 194, 0.8), 1223px 943px rgba(255, 234, 194, 0.8), 1051px 2079px rgba(255, 234, 194, 0.8), 345px 169px rgba(255, 234, 194, 0.8), 2975px 265px rgba(255, 234, 194, 0.8), 1044px 2985px rgba(255, 234, 194, 0.8), 1292px 2858px rgba(255, 234, 194, 0.8), 1992px 1442px rgba(255, 234, 194, 0.8), 2082px 793px rgba(255, 234, 194, 0.8), 2982px 2500px rgba(255, 234, 194, 0.8), 317px 118px rgba(255, 234, 194, 0.8), 579px 2309px rgba(255, 234, 194, 0.8), 1916px 908px rgba(255, 234, 194, 0.8), 1137px 2679px rgba(255, 234, 194, 0.8), 1720px 741px rgba(255, 234, 194, 0.8), 621px 2966px rgba(255, 234, 194, 0.8), 2499px 2064px rgba(255, 234, 194, 0.8), 1629px 2132px rgba(255, 234, 194, 0.8), 1014px 1013px rgba(255, 234, 194, 0.8), 2625px 856px rgba(255, 234, 194, 0.8), 556px 698px rgba(255, 234, 194, 0.8), 2857px 13px rgba(255, 234, 194, 0.8), 1255px 1379px rgba(255, 234, 194, 0.8), 2607px 1898px rgba(255, 234, 194, 0.8), 1769px 2460px rgba(255, 234, 194, 0.8), 1269px 1843px rgba(255, 234, 194, 0.8), 2322px 2893px rgba(255, 234, 194, 0.8), 2352px 1456px rgba(255, 234, 194, 0.8), 416px 531px rgba(255, 234, 194, 0.8), 2109px 2437px rgba(255, 234, 194, 0.8), 818px 1155px rgba(255, 234, 194, 0.8), 2436px 1960px rgba(255, 234, 194, 0.8), 1296px 55px rgba(255, 234, 194, 0.8), 987px 291px rgba(255, 234, 194, 0.8), 2197px 845px rgba(255, 234, 194, 0.8), 941px 157px rgba(255, 234, 194, 0.8), 266px 1173px rgba(255, 234, 194, 0.8), 864px 1497px rgba(255, 234, 194, 0.8), 2215px 2067px rgba(255, 234, 194, 0.8), 1369px 605px rgba(255, 234, 194, 0.8), 2724px 2010px rgba(255, 234, 194, 0.8), 1385px 788px rgba(255, 234, 194, 0.8), 1485px 2320px rgba(255, 234, 194, 0.8), 850px 953px rgba(255, 234, 194, 0.8), 2100px 2913px rgba(255, 234, 194, 0.8), 479px 1544px rgba(255, 234, 194, 0.8), 2621px 176px rgba(255, 234, 194, 0.8), 953px 1689px rgba(255, 234, 194, 0.8), 1261px 2355px rgba(255, 234, 194, 0.8), 1880px 1107px rgba(255, 234, 194, 0.8), 1619px 2081px rgba(255, 234, 194, 0.8), 1035px 1721px rgba(255, 234, 194, 0.8), 2954px 302px rgba(255, 234, 194, 0.8), 2720px 1240px rgba(255, 234, 194, 0.8), 1673px 1927px rgba(255, 234, 194, 0.8), 1294px 464px rgba(255, 234, 194, 0.8), 2656px 2930px rgba(255, 234, 194, 0.8), 535px 560px rgba(255, 234, 194, 0.8), 193px 2068px rgba(255, 234, 194, 0.8), 2354px 528px rgba(255, 234, 194, 0.8), 2780px 1341px rgba(255, 234, 194, 0.8), 58px 1516px rgba(255, 234, 194, 0.8), 2020px 1791px rgba(255, 234, 194, 0.8), 1153px 1430px rgba(255, 234, 194, 0.8), 504px 106px rgba(255, 234, 194, 0.8), 578px 1890px rgba(255, 234, 194, 0.8), 67px 166px rgba(255, 234, 194, 0.8), 2250px 2298px rgba(255, 234, 194, 0.8), 2661px 1449px rgba(255, 234, 194, 0.8), 1030px 2449px rgba(255, 234, 194, 0.8), 2009px 1067px rgba(255, 234, 194, 0.8), 1160px 2586px rgba(255, 234, 194, 0.8), 1390px 1717px rgba(255, 234, 194, 0.8), 2341px 1418px rgba(255, 234, 194, 0.8), 2440px 607px rgba(255, 234, 194, 0.8), 867px 2929px rgba(255, 234, 194, 0.8), 829px 1684px rgba(255, 234, 194, 0.8), 2780px 135px rgba(255, 234, 194, 0.8), 366px 2713px rgba(255, 234, 194, 0.8), 821px 2136px rgba(255, 234, 194, 0.8), 1830px 2343px rgba(255, 234, 194, 0.8), 930px 2984px rgba(255, 234, 194, 0.8), 985px 2874px rgba(255, 234, 194, 0.8), 2773px 2419px rgba(255, 234, 194, 0.8), 2479px 1289px rgba(255, 234, 194, 0.8), 610px 120px rgba(255, 234, 194, 0.8), 2848px 2231px rgba(255, 234, 194, 0.8), 685px 1797px rgba(255, 234, 194, 0.8), 838px 540px rgba(255, 234, 194, 0.8), 1141px 1503px rgba(255, 234, 194, 0.8), 2321px 1297px rgba(255, 234, 194, 0.8), 1381px 1504px rgba(255, 234, 194, 0.8), 666px 939px rgba(255, 234, 194, 0.8), 125px 885px rgba(255, 234, 194, 0.8), 924px 1259px rgba(255, 234, 194, 0.8), 2512px 2909px rgba(255, 234, 194, 0.8), 701px 2663px rgba(255, 234, 194, 0.8), 1471px 2254px rgba(255, 234, 194, 0.8), 2128px 202px rgba(255, 234, 194, 0.8), 806px 2441px rgba(255, 234, 194, 0.8), 1571px 2403px rgba(255, 234, 194, 0.8);
  transition: all 0.2s linear;
  animation: animStar 100s linear infinite;
}

.stars3 {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  box-shadow: 638px 1746px rgba(255, 234, 194, 0.8), 399px 2766px rgba(255, 234, 194, 0.8), 954px 1027px rgba(255, 234, 194, 0.8), 1517px 214px rgba(255, 234, 194, 0.8), 786px 1649px rgba(255, 234, 194, 0.8), 2213px 1871px rgba(255, 234, 194, 0.8), 2655px 2414px rgba(255, 234, 194, 0.8), 1465px 964px rgba(255, 234, 194, 0.8), 536px 1333px rgba(255, 234, 194, 0.8), 175px 2787px rgba(255, 234, 194, 0.8), 476px 976px rgba(255, 234, 194, 0.8), 1089px 1712px rgba(255, 234, 194, 0.8), 2770px 2614px rgba(255, 234, 194, 0.8), 1400px 504px rgba(255, 234, 194, 0.8), 666px 2783px rgba(255, 234, 194, 0.8), 797px 139px rgba(255, 234, 194, 0.8), 957px 2157px rgba(255, 234, 194, 0.8), 1163px 626px rgba(255, 234, 194, 0.8), 1346px 228px rgba(255, 234, 194, 0.8), 1080px 2455px rgba(255, 234, 194, 0.8), 352px 99px rgba(255, 234, 194, 0.8), 2838px 269px rgba(255, 234, 194, 0.8), 224px 2975px rgba(255, 234, 194, 0.8), 1951px 2698px rgba(255, 234, 194, 0.8), 137px 1862px rgba(255, 234, 194, 0.8), 1303px 2836px rgba(255, 234, 194, 0.8), 2295px 2495px rgba(255, 234, 194, 0.8), 2473px 2502px rgba(255, 234, 194, 0.8), 2902px 778px rgba(255, 234, 194, 0.8), 2920px 1352px rgba(255, 234, 194, 0.8), 2090px 2903px rgba(255, 234, 194, 0.8), 721px 1010px rgba(255, 234, 194, 0.8), 2700px 713px rgba(255, 234, 194, 0.8), 888px 923px rgba(255, 234, 194, 0.8), 1900px 1327px rgba(255, 234, 194, 0.8), 1508px 2830px rgba(255, 234, 194, 0.8), 1830px 1055px rgba(255, 234, 194, 0.8), 1242px 1889px rgba(255, 234, 194, 0.8), 311px 1709px rgba(255, 234, 194, 0.8), 442px 2675px rgba(255, 234, 194, 0.8), 425px 2196px rgba(255, 234, 194, 0.8), 2533px 1601px rgba(255, 234, 194, 0.8), 574px 2580px rgba(255, 234, 194, 0.8), 1477px 2748px rgba(255, 234, 194, 0.8), 1798px 1858px rgba(255, 234, 194, 0.8), 2863px 1306px rgba(255, 234, 194, 0.8), 1735px 2040px rgba(255, 234, 194, 0.8), 1064px 361px rgba(255, 234, 194, 0.8), 2818px 2292px rgba(255, 234, 194, 0.8), 930px 1543px rgba(255, 234, 194, 0.8), 2159px 481px rgba(255, 234, 194, 0.8), 2423px 2391px rgba(255, 234, 194, 0.8), 1797px 751px rgba(255, 234, 194, 0.8), 1735px 1576px rgba(255, 234, 194, 0.8), 2198px 794px rgba(255, 234, 194, 0.8), 825px 2827px rgba(255, 234, 194, 0.8), 860px 535px rgba(255, 234, 194, 0.8), 1299px 108px rgba(255, 234, 194, 0.8), 2502px 1101px rgba(255, 234, 194, 0.8), 1451px 2106px rgba(255, 234, 194, 0.8), 274px 721px rgba(255, 234, 194, 0.8), 2187px 1967px rgba(255, 234, 194, 0.8), 786px 2111px rgba(255, 234, 194, 0.8), 2372px 2967px rgba(255, 234, 194, 0.8), 11px 2276px rgba(255, 234, 194, 0.8), 1342px 2041px rgba(255, 234, 194, 0.8), 135px 2560px rgba(255, 234, 194, 0.8), 282px 1352px rgba(255, 234, 194, 0.8), 2751px 1660px rgba(255, 234, 194, 0.8), 1600px 1672px rgba(255, 234, 194, 0.8), 961px 1053px rgba(255, 234, 194, 0.8), 1975px 970px rgba(255, 234, 194, 0.8), 2852px 2151px rgba(255, 234, 194, 0.8), 59px 1230px rgba(255, 234, 194, 0.8), 1576px 2538px rgba(255, 234, 194, 0.8), 2899px 2889px rgba(255, 234, 194, 0.8), 1637px 2619px rgba(255, 234, 194, 0.8), 1466px 2645px rgba(255, 234, 194, 0.8), 172px 1146px rgba(255, 234, 194, 0.8), 1727px 546px rgba(255, 234, 194, 0.8), 2010px 1352px rgba(255, 234, 194, 0.8), 1341px 1214px rgba(255, 234, 194, 0.8), 2778px 1367px rgba(255, 234, 194, 0.8), 2219px 288px rgba(255, 234, 194, 0.8), 2141px 2993px rgba(255, 234, 194, 0.8), 535px 954px rgba(255, 234, 194, 0.8), 2346px 288px rgba(255, 234, 194, 0.8), 308px 2464px rgba(255, 234, 194, 0.8), 2230px 139px rgba(255, 234, 194, 0.8), 1562px 2752px rgba(255, 234, 194, 0.8), 536px 1983px rgba(255, 234, 194, 0.8), 1838px 2021px rgba(255, 234, 194, 0.8), 2560px 1728px rgba(255, 234, 194, 0.8), 1017px 2581px rgba(255, 234, 194, 0.8), 417px 2971px rgba(255, 234, 194, 0.8), 1993px 27px rgba(255, 234, 194, 0.8), 807px 76px rgba(255, 234, 194, 0.8), 1476px 2295px rgba(255, 234, 194, 0.8), 1508px 2602px rgba(255, 234, 194, 0.8), 276px 1304px rgba(255, 234, 194, 0.8), 113px 2465px rgba(255, 234, 194, 0.8), 335px 747px rgba(255, 234, 194, 0.8), 2214px 948px rgba(255, 234, 194, 0.8), 1859px 1415px rgba(255, 234, 194, 0.8), 1181px 159px rgba(255, 234, 194, 0.8), 2851px 646px rgba(255, 234, 194, 0.8), 1046px 146px rgba(255, 234, 194, 0.8), 759px 642px rgba(255, 234, 194, 0.8), 1720px 2064px rgba(255, 234, 194, 0.8), 2620px 1362px rgba(255, 234, 194, 0.8), 1800px 2465px rgba(255, 234, 194, 0.8), 622px 719px rgba(255, 234, 194, 0.8), 280px 2480px rgba(255, 234, 194, 0.8), 402px 2817px rgba(255, 234, 194, 0.8), 1065px 89px rgba(255, 234, 194, 0.8), 1130px 779px rgba(255, 234, 194, 0.8), 1520px 2740px rgba(255, 234, 194, 0.8), 2522px 2705px rgba(255, 234, 194, 0.8), 1477px 1390px rgba(255, 234, 194, 0.8), 1161px 494px rgba(255, 234, 194, 0.8), 1556px 990px rgba(255, 234, 194, 0.8), 503px 361px rgba(255, 234, 194, 0.8), 749px 1409px rgba(255, 234, 194, 0.8), 2310px 313px rgba(255, 234, 194, 0.8), 1237px 83px rgba(255, 234, 194, 0.8), 2363px 95px rgba(255, 234, 194, 0.8), 1039px 2763px rgba(255, 234, 194, 0.8), 1925px 2686px rgba(255, 234, 194, 0.8), 1736px 1386px rgba(255, 234, 194, 0.8), 1427px 2922px rgba(255, 234, 194, 0.8), 2001px 1522px rgba(255, 234, 194, 0.8), 1559px 2243px rgba(255, 234, 194, 0.8), 103px 1279px rgba(255, 234, 194, 0.8), 717px 1952px rgba(255, 234, 194, 0.8), 568px 2883px rgba(255, 234, 194, 0.8), 2853px 1077px rgba(255, 234, 194, 0.8), 2657px 155px rgba(255, 234, 194, 0.8), 742px 2063px rgba(255, 234, 194, 0.8), 1502px 2360px rgba(255, 234, 194, 0.8), 2574px 481px rgba(255, 234, 194, 0.8), 2094px 1070px rgba(255, 234, 194, 0.8), 62px 2615px rgba(255, 234, 194, 0.8), 2836px 581px rgba(255, 234, 194, 0.8), 1411px 830px rgba(255, 234, 194, 0.8), 75px 1180px rgba(255, 234, 194, 0.8), 2361px 1608px rgba(255, 234, 194, 0.8), 1820px 728px rgba(255, 234, 194, 0.8), 1652px 939px rgba(255, 234, 194, 0.8), 861px 167px rgba(255, 234, 194, 0.8), 1173px 1077px rgba(255, 234, 194, 0.8), 1928px 583px rgba(255, 234, 194, 0.8), 1252px 1196px rgba(255, 234, 194, 0.8), 1909px 1192px rgba(255, 234, 194, 0.8), 155px 2717px rgba(255, 234, 194, 0.8), 1983px 843px rgba(255, 234, 194, 0.8), 1462px 1601px rgba(255, 234, 194, 0.8), 269px 2800px rgba(255, 234, 194, 0.8), 952px 1752px rgba(255, 234, 194, 0.8), 581px 1006px rgba(255, 234, 194, 0.8), 916px 2430px rgba(255, 234, 194, 0.8), 2787px 231px rgba(255, 234, 194, 0.8), 1411px 2031px rgba(255, 234, 194, 0.8), 1589px 2430px rgba(255, 234, 194, 0.8), 2254px 2045px rgba(255, 234, 194, 0.8), 1964px 1314px rgba(255, 234, 194, 0.8), 377px 1086px rgba(255, 234, 194, 0.8), 1714px 2410px rgba(255, 234, 194, 0.8), 76px 1495px rgba(255, 234, 194, 0.8), 1225px 152px rgba(255, 234, 194, 0.8), 2969px 378px rgba(255, 234, 194, 0.8), 2411px 1250px rgba(255, 234, 194, 0.8), 314px 877px rgba(255, 234, 194, 0.8), 1696px 63px rgba(255, 234, 194, 0.8), 414px 2145px rgba(255, 234, 194, 0.8), 800px 2705px rgba(255, 234, 194, 0.8), 2082px 1710px rgba(255, 234, 194, 0.8), 2387px 1190px rgba(255, 234, 194, 0.8), 680px 419px rgba(255, 234, 194, 0.8), 2747px 1450px rgba(255, 234, 194, 0.8), 1124px 817px rgba(255, 234, 194, 0.8), 2170px 876px rgba(255, 234, 194, 0.8), 2111px 222px rgba(255, 234, 194, 0.8), 2497px 898px rgba(255, 234, 194, 0.8), 1802px 237px rgba(255, 234, 194, 0.8), 267px 39px rgba(255, 234, 194, 0.8), 2298px 125px rgba(255, 234, 194, 0.8), 966px 1109px rgba(255, 234, 194, 0.8), 88px 1508px rgba(255, 234, 194, 0.8), 1568px 88px rgba(255, 234, 194, 0.8), 1530px 2699px rgba(255, 234, 194, 0.8), 2594px 2543px rgba(255, 234, 194, 0.8), 1017px 1767px rgba(255, 234, 194, 0.8), 270px 2808px rgba(255, 234, 194, 0.8), 2598px 162px rgba(255, 234, 194, 0.8), 89px 545px rgba(255, 234, 194, 0.8), 1227px 2877px rgba(255, 234, 194, 0.8), 1351px 2069px rgba(255, 234, 194, 0.8), 1070px 807px rgba(255, 234, 194, 0.8), 1365px 1348px rgba(255, 234, 194, 0.8), 1092px 1374px rgba(255, 234, 194, 0.8), 459px 2308px rgba(255, 234, 194, 0.8);
  transition: all 0.2s linear;
  animation: animStar 300s linear infinite;
}

@keyframes animStar {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-100vh);
  }
}
.site-header {
  display: flex;
  justify-content: space-between;
  padding: 1em 0 0 1.5em;
}
.site-header h1 {
  font-size: clamp(1em, 2vw, 2em);
  z-index: 10;
}
.site-header h1 a {
  text-decoration: none;
  color: rgba(255, 234, 194, 0.8);
}

.site-nav {
  display: flex;
}
.site-nav .menu-button {
  position: relative;
  padding: 1em;
  cursor: pointer;
  z-index: 50;
}
.site-nav .menu-button svg {
  fill: white;
}
.site-nav .menu-button svg rect {
  transition: all 0.3s ease-out;
}
.site-nav h2, .site-nav li {
  font-size: 1em;
}
.site-nav ul {
  z-index: 20;
  position: fixed;
  font-size: 0.6em;
  text-transform: uppercase;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  margin: 0;
  list-style: none;
  line-height: 1;
  transform: translate(100%, 0);
  transition: all 0.3s ease-out;
}
.site-nav a {
  font-family: "tachyon", sans-serif;
  display: block;
  text-decoration: none;
  padding: 1em;
  color: rgba(255, 234, 194, 0.8);
  font-size: clamp(2em, 2vw, 2em);
}
.site-nav a:hover {
  color: rgb(255, 255, 255);
}
.site-nav[data-navstate=open] ul {
  background-color: rgb(0, 0, 0);
  transform: translate(0, 0);
}
.site-nav[data-navstate=open] .menu-button {
  right: 1em;
  position: fixed;
}
.site-nav[data-navstate=open] .menu-button svg {
  fill: white;
}
.site-nav[data-navstate=open] #menubar-top {
  transform-origin: center;
  transform: translate(7px, 7px) rotate(-45deg);
}
.site-nav[data-navstate=open] #menubar-mid {
  opacity: 0;
}
.site-nav[data-navstate=open] #menubar-bot {
  transform-origin: center;
  transform: translate(0, -4px) rotate(45deg);
}
.site-nav[data-navstate=open] li {
  transform: translate(0, 0);
  opacity: 1;
}

.site-footer {
  display: flex;
  align-items: center;
  font-family: "bilo", sans-serif;
  padding: 2em;
  color: white;
}

/* PAGINATION */
.swiper-pagination {
  margin-right: 1em;
  padding: 1em;
}
.swiper-pagination :nth-child(1) {
  background-color: #130025 !important;
}
.swiper-pagination :nth-child(2) {
  box-shadow: inset -9px 0 0 0px rgb(179, 179, 179);
}
.swiper-pagination :nth-child(3) {
  position: relative;
  overflow: hidden;
}
.swiper-pagination :nth-child(3):after {
  content: "";
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  background: rgb(179, 179, 179);
  border-radius: 0 100% 100% 0;
}
.swiper-pagination :nth-child(4) {
  background: rgb(179, 179, 179) !important;
  box-shadow: inset 9px 0 0 0 #130025;
}
.swiper-pagination :nth-child(5) {
  background: rgb(179, 179, 179) !important;
  box-sizing: inset 0 0 14px 0 #130025;
  border-radius: 50%;
}
.swiper-pagination :nth-child(6) {
  transform: rotate(180deg);
  background: rgb(179, 179, 179) !important;
  box-shadow: inset 9px 0 0 0 #130025;
}
.swiper-pagination :nth-child(7) {
  transform: rotate(180deg);
  position: relative;
  overflow: hidden;
}
.swiper-pagination :nth-child(7):after {
  content: "";
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  background: rgb(179, 179, 179);
  border-radius: 0 100% 100% 0;
}
.swiper-pagination :nth-child(8) {
  transform: rotate(180deg);
  box-shadow: inset -9px 0 0 0px rgb(179, 179, 179);
}

.swiper-pagination-bullet {
  background-color: #130025 !important;
  padding: 1em;
  border: 2px solid rgb(179, 179, 179);
}

.hide-visually {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.no-scroll-y {
  overflow-y: hidden;
}

/* Preloader */
.ctn-preloader {
  align-items: center;
  cursor: none;
  display: flex;
  height: 100%;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 900;
}
.ctn-preloader .animation-preloader {
  position: absolute;
  z-index: 100;
}
.ctn-preloader .animation-preloader .moon-preloader {
  height: 200px;
  width: 200px;
  margin: 0 auto;
  position: absolute;
  top: calc(50% - 300px);
  left: calc(50% - 100px);
  clip-path: circle(100px, 100px, 100px);
  clip-path: circle(100px at center);
  border-radius: 50%;
  background: #B5BCC6;
  overflow: hidden;
}
.ctn-preloader .animation-preloader .moon-preloader:before, .ctn-preloader .animation-preloader .moon-preloader:after {
  border-radius: 50%;
  content: "";
  position: absolute;
  top: -4%;
  left: -4%;
  height: 108%;
  width: 108%;
}
.ctn-preloader .animation-preloader .moon-preloader:before {
  animation: before-fullmoon linear 3s infinite;
}
.ctn-preloader .animation-preloader .moon-preloader:after {
  animation: after-fullmoon linear 3s infinite;
}
.ctn-preloader .animation-preloader .txt-loading {
  font-family: "tachyon", sans-serif;
  font-weight: 700;
  font-size: clamp(2em, 5vw, 5em);
  text-align: center;
  user-select: none;
}
.ctn-preloader .animation-preloader .txt-loading .letters-loading:before {
  animation: letters-loading 4s infinite;
  color: #ffffff;
  content: attr(data-text-preloader);
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: rotateY(-90deg);
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading {
  color: rgba(255, 255, 255, 0.1);
  position: relative;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(2):before {
  animation-delay: 0.2s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(3):before {
  animation-delay: 0.4s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(4):before {
  animation-delay: 0.6s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(5):before {
  animation-delay: 0.8s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(6):before {
  animation-delay: 1s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(7):before {
  animation-delay: 1.2s;
}

.ctn-preloader .loader-section {
  background-image: linear-gradient(#000, #130025);
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
}

.loaded .animation-preloader {
  opacity: 0;
  transition: 0.3s ease-out;
}

.loaded .loader-section {
  transform: translateY(-101%);
  transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1);
}

@keyframes letters-loading {
  0%, 75%, 100% {
    opacity: 0;
    transform: rotateY(-90deg);
  }
  25%, 50% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}
@keyframes before-fullmoon {
  0%, 50% {
    opacity: 1;
  }
  50.01%, 100% {
    opacity: 0;
  }
  0%, 24.99% {
    background: #130025;
  }
  25%, 100% {
    background: rgb(179, 179, 179);
  }
  0% {
    box-shadow: inset 0 0 14px 0 rgb(179, 179, 179);
  }
  24.99% {
    box-shadow: inset 110px 0 14px 0 rgb(179, 179, 179);
  }
  25% {
    box-shadow: inset 110px 0 14px 0 #130025;
  }
  50%, 100% {
    box-shadow: inset 0 0 14px 0 #130025;
  }
  0%, 50%, 100% {
    border-radius: 50%;
  }
  20%, 30% {
    border-radius: 10% 10% 10% 10%/50% 50% 50% 50%;
  }
  25% {
    border-radius: 0;
  }
  0%, 24.99% {
    transform: rotate(0);
  }
  25%, 50%, 100% {
    transform: rotate(180deg);
  }
}
@keyframes after-fullmoon {
  0%, 50% {
    opacity: 0;
  }
  50.01%, 100% {
    opacity: 1;
  }
  0%, 50%, 74.99% {
    background: rgb(179, 179, 179);
  }
  75%, 100% {
    background: #130025;
  }
  0%, 50% {
    box-shadow: inset 0 0 14px 0 #130025;
  }
  74.99% {
    box-shadow: inset 110px 0 14px 0 #130025;
  }
  75% {
    box-shadow: inset 110px 0 14px 0 rgb(179, 179, 179);
  }
  100% {
    box-shadow: inset 0 0 14px 0 rgb(179, 179, 179);
  }
  0%, 50%, 100% {
    border-radius: 50%;
  }
  70%, 80% {
    border-radius: 10% 10% 10% 10%/50% 50% 50% 50%;
  }
  75% {
    border-radius: 0;
  }
  0%, 50%, 74.99% {
    transform: rotate(0);
  }
  75%, 100% {
    transform: rotate(180deg);
  }
}
@media screen and (max-width: 767px) {
  .ctn-preloader .animation-preloader .txt-loading {
    font-family: "tachyon", sans-serif;
    font-weight: 700;
  }
}
@media screen and (max-width: 500px) {
  .ctn-preloader .animation-preloader .txt-loading {
    font-family: "tachyon", sans-serif;
    font-weight: 700;
  }
}