/* VARIABLES */
/* FONTS */
/* IMPORTS */
.swiper-slide-active .text-wrapper {
  animation: slide-right 0.6s ease-out;
}

@keyframes slide-down {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slide-right {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
/*
TABLE OF CONTENTS
# GLOBAL RESETS
# TYPOGRAPHY
# BUTTONS 
# MEDIA
    # RESPONSIVE IMAGES
# LAYOUT
    # CONTAINER
    # MEDIA QUERIES
    # SEMANTIC GRID SYSTEM
# STRUCTURE
    # SITE HEADER
    # SITE NAV
    # MAIN
        # SECTIONS
    # SITE FOOTER
        #FORM
*/
/* RESET BODY */
body {
  margin: 0;
}

/* CONTAINER */
.swiper {
  margin: 0 auto;
}

body {
  font-size: 87.5%;
}

@media (min-width: 768px) {
  body {
    font-size: 100%;
  }
  .site-nav {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
}
@media (min-width: 1050px) {
  body {
    font-size: 112.5%;
  }
}
@media (max-width: 800px) {
  .phase-wrapper {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  .phase-wrapper h1 {
    text-align: center;
  }
  .swiper-slide-active .text-wrapper {
    animation: slide-down 0.5s ease-out;
  }
  .swiper-pagination {
    opacity: 0;
  }
  .site-footer {
    padding: 0;
  }
}
/* RESPONSIVE IMAGES */
img {
  max-width: 100%;
  height: auto;
}

main {
  min-height: 100vh;
  background-image: linear-gradient(65deg, #000, #300b53);
  background-size: 400% 400%;
}

/* SWIPER */
.swiper {
  width: 100%;
  height: 100vh;
}

/* SLIDES */
.swiper-slide h1 {
  margin-top: 1em;
}
.swiper-slide .body-text p {
  font-family: "bilo", sans-serif;
  color: rgb(179, 179, 179);
  max-width: 35em;
  margin-top: 1em;
}

/* MOON PHASES */
.phase-wrapper {
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.phase-wrapper h1 {
  letter-spacing: 0.1em;
}
.phase-wrapper .moon-wrapper {
  margin-right: 2%;
  width: 30%;
}
.phase-wrapper .text-wrapper {
  width: 50%;
  z-index: -10;
}

h1, h2, h3 {
  color: rgb(255, 255, 255);
  font-family: "tachyon", sans-serif;
  font-weight: 800;
}

h1 {
  font-size: clamp(2em, 2vw, 2em);
  line-height: 1em;
  text-transform: uppercase;
}

.stars-bg {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.stars1 {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  box-shadow: 2754px 474px rgba(255, 234, 194, 0.8), 1820px 522px rgba(255, 234, 194, 0.8), 696px 1551px rgba(255, 234, 194, 0.8), 711px 1107px rgba(255, 234, 194, 0.8), 1630px 777px rgba(255, 234, 194, 0.8), 138px 324px rgba(255, 234, 194, 0.8), 534px 1789px rgba(255, 234, 194, 0.8), 888px 2111px rgba(255, 234, 194, 0.8), 1834px 2488px rgba(255, 234, 194, 0.8), 1917px 261px rgba(255, 234, 194, 0.8), 2870px 977px rgba(255, 234, 194, 0.8), 485px 215px rgba(255, 234, 194, 0.8), 1497px 2060px rgba(255, 234, 194, 0.8), 236px 909px rgba(255, 234, 194, 0.8), 21px 1761px rgba(255, 234, 194, 0.8), 112px 2691px rgba(255, 234, 194, 0.8), 1492px 713px rgba(255, 234, 194, 0.8), 160px 2016px rgba(255, 234, 194, 0.8), 665px 1773px rgba(255, 234, 194, 0.8), 2730px 1633px rgba(255, 234, 194, 0.8), 557px 1069px rgba(255, 234, 194, 0.8), 1501px 969px rgba(255, 234, 194, 0.8), 1225px 174px rgba(255, 234, 194, 0.8), 1049px 195px rgba(255, 234, 194, 0.8), 1913px 1983px rgba(255, 234, 194, 0.8), 296px 905px rgba(255, 234, 194, 0.8), 1188px 2878px rgba(255, 234, 194, 0.8), 2824px 1309px rgba(255, 234, 194, 0.8), 1033px 290px rgba(255, 234, 194, 0.8), 514px 2844px rgba(255, 234, 194, 0.8), 1576px 1694px rgba(255, 234, 194, 0.8), 2966px 159px rgba(255, 234, 194, 0.8), 2668px 1244px rgba(255, 234, 194, 0.8), 2113px 1848px rgba(255, 234, 194, 0.8), 1430px 1829px rgba(255, 234, 194, 0.8), 1522px 1569px rgba(255, 234, 194, 0.8), 2572px 1600px rgba(255, 234, 194, 0.8), 367px 2443px rgba(255, 234, 194, 0.8), 109px 2280px rgba(255, 234, 194, 0.8), 1392px 13px rgba(255, 234, 194, 0.8), 866px 2766px rgba(255, 234, 194, 0.8), 1382px 2238px rgba(255, 234, 194, 0.8), 2117px 965px rgba(255, 234, 194, 0.8), 1541px 2680px rgba(255, 234, 194, 0.8), 2971px 1799px rgba(255, 234, 194, 0.8), 862px 1193px rgba(255, 234, 194, 0.8), 2055px 909px rgba(255, 234, 194, 0.8), 2841px 1370px rgba(255, 234, 194, 0.8), 2943px 1461px rgba(255, 234, 194, 0.8), 1118px 636px rgba(255, 234, 194, 0.8), 927px 1862px rgba(255, 234, 194, 0.8), 1539px 41px rgba(255, 234, 194, 0.8), 458px 1618px rgba(255, 234, 194, 0.8), 479px 2108px rgba(255, 234, 194, 0.8), 1898px 537px rgba(255, 234, 194, 0.8), 1372px 2209px rgba(255, 234, 194, 0.8), 424px 500px rgba(255, 234, 194, 0.8), 1578px 1057px rgba(255, 234, 194, 0.8), 965px 2255px rgba(255, 234, 194, 0.8), 2789px 2696px rgba(255, 234, 194, 0.8), 1927px 230px rgba(255, 234, 194, 0.8), 1602px 388px rgba(255, 234, 194, 0.8), 1372px 1895px rgba(255, 234, 194, 0.8), 500px 863px rgba(255, 234, 194, 0.8), 2201px 1712px rgba(255, 234, 194, 0.8), 1656px 925px rgba(255, 234, 194, 0.8), 946px 516px rgba(255, 234, 194, 0.8), 578px 46px rgba(255, 234, 194, 0.8), 83px 1800px rgba(255, 234, 194, 0.8), 781px 1283px rgba(255, 234, 194, 0.8), 2107px 1138px rgba(255, 234, 194, 0.8), 2815px 458px rgba(255, 234, 194, 0.8), 1314px 688px rgba(255, 234, 194, 0.8), 465px 2951px rgba(255, 234, 194, 0.8), 350px 2229px rgba(255, 234, 194, 0.8), 2954px 1634px rgba(255, 234, 194, 0.8), 2017px 1987px rgba(255, 234, 194, 0.8), 2996px 2845px rgba(255, 234, 194, 0.8), 1100px 1715px rgba(255, 234, 194, 0.8), 833px 2254px rgba(255, 234, 194, 0.8), 2165px 898px rgba(255, 234, 194, 0.8), 2153px 2335px rgba(255, 234, 194, 0.8), 2362px 797px rgba(255, 234, 194, 0.8), 1564px 432px rgba(255, 234, 194, 0.8), 995px 140px rgba(255, 234, 194, 0.8), 1497px 1149px rgba(255, 234, 194, 0.8), 1821px 1766px rgba(255, 234, 194, 0.8), 1089px 1472px rgba(255, 234, 194, 0.8), 1641px 126px rgba(255, 234, 194, 0.8), 1257px 2098px rgba(255, 234, 194, 0.8), 1890px 1850px rgba(255, 234, 194, 0.8), 690px 1898px rgba(255, 234, 194, 0.8), 2687px 2923px rgba(255, 234, 194, 0.8), 1931px 37px rgba(255, 234, 194, 0.8), 1911px 1378px rgba(255, 234, 194, 0.8), 2936px 696px rgba(255, 234, 194, 0.8), 894px 2700px rgba(255, 234, 194, 0.8), 1636px 144px rgba(255, 234, 194, 0.8), 2531px 2484px rgba(255, 234, 194, 0.8), 2567px 1742px rgba(255, 234, 194, 0.8), 1701px 550px rgba(255, 234, 194, 0.8), 661px 1583px rgba(255, 234, 194, 0.8), 1480px 1766px rgba(255, 234, 194, 0.8), 1365px 417px rgba(255, 234, 194, 0.8), 2282px 404px rgba(255, 234, 194, 0.8), 1232px 2044px rgba(255, 234, 194, 0.8), 131px 1737px rgba(255, 234, 194, 0.8), 409px 1187px rgba(255, 234, 194, 0.8), 392px 1690px rgba(255, 234, 194, 0.8), 131px 2347px rgba(255, 234, 194, 0.8), 2289px 2859px rgba(255, 234, 194, 0.8), 1938px 1039px rgba(255, 234, 194, 0.8), 2934px 1495px rgba(255, 234, 194, 0.8), 598px 1231px rgba(255, 234, 194, 0.8), 1573px 1792px rgba(255, 234, 194, 0.8), 941px 2681px rgba(255, 234, 194, 0.8), 480px 2821px rgba(255, 234, 194, 0.8), 2301px 2424px rgba(255, 234, 194, 0.8), 413px 1992px rgba(255, 234, 194, 0.8), 833px 2566px rgba(255, 234, 194, 0.8), 2020px 1700px rgba(255, 234, 194, 0.8), 2668px 1282px rgba(255, 234, 194, 0.8), 330px 2698px rgba(255, 234, 194, 0.8), 2351px 187px rgba(255, 234, 194, 0.8), 2688px 291px rgba(255, 234, 194, 0.8), 2165px 1824px rgba(255, 234, 194, 0.8), 1698px 962px rgba(255, 234, 194, 0.8), 201px 2589px rgba(255, 234, 194, 0.8), 1855px 149px rgba(255, 234, 194, 0.8), 1061px 331px rgba(255, 234, 194, 0.8), 1671px 514px rgba(255, 234, 194, 0.8), 1964px 2787px rgba(255, 234, 194, 0.8), 1755px 418px rgba(255, 234, 194, 0.8), 1291px 2692px rgba(255, 234, 194, 0.8), 2745px 2881px rgba(255, 234, 194, 0.8), 1660px 1975px rgba(255, 234, 194, 0.8), 11px 1924px rgba(255, 234, 194, 0.8), 2273px 920px rgba(255, 234, 194, 0.8), 266px 652px rgba(255, 234, 194, 0.8), 476px 863px rgba(255, 234, 194, 0.8), 512px 1909px rgba(255, 234, 194, 0.8), 1591px 321px rgba(255, 234, 194, 0.8), 1816px 2623px rgba(255, 234, 194, 0.8), 364px 625px rgba(255, 234, 194, 0.8), 1139px 2425px rgba(255, 234, 194, 0.8), 2554px 2155px rgba(255, 234, 194, 0.8), 2609px 1713px rgba(255, 234, 194, 0.8), 2225px 1950px rgba(255, 234, 194, 0.8), 2835px 2459px rgba(255, 234, 194, 0.8), 495px 888px rgba(255, 234, 194, 0.8), 1162px 2964px rgba(255, 234, 194, 0.8), 2859px 305px rgba(255, 234, 194, 0.8), 1354px 1814px rgba(255, 234, 194, 0.8), 1246px 1339px rgba(255, 234, 194, 0.8), 1649px 788px rgba(255, 234, 194, 0.8), 1550px 1000px rgba(255, 234, 194, 0.8), 1391px 2157px rgba(255, 234, 194, 0.8), 2236px 2530px rgba(255, 234, 194, 0.8), 756px 689px rgba(255, 234, 194, 0.8), 2967px 906px rgba(255, 234, 194, 0.8), 1119px 196px rgba(255, 234, 194, 0.8), 2149px 751px rgba(255, 234, 194, 0.8), 1595px 1417px rgba(255, 234, 194, 0.8), 455px 1551px rgba(255, 234, 194, 0.8), 2674px 1509px rgba(255, 234, 194, 0.8), 319px 164px rgba(255, 234, 194, 0.8), 2833px 2218px rgba(255, 234, 194, 0.8), 2790px 1568px rgba(255, 234, 194, 0.8), 250px 1215px rgba(255, 234, 194, 0.8), 51px 2252px rgba(255, 234, 194, 0.8), 2820px 433px rgba(255, 234, 194, 0.8), 1304px 2163px rgba(255, 234, 194, 0.8), 505px 1418px rgba(255, 234, 194, 0.8), 1493px 870px rgba(255, 234, 194, 0.8), 411px 1469px rgba(255, 234, 194, 0.8), 2409px 2084px rgba(255, 234, 194, 0.8), 574px 2276px rgba(255, 234, 194, 0.8), 595px 2366px rgba(255, 234, 194, 0.8), 1859px 834px rgba(255, 234, 194, 0.8), 1980px 2955px rgba(255, 234, 194, 0.8), 2090px 2578px rgba(255, 234, 194, 0.8), 1173px 744px rgba(255, 234, 194, 0.8), 1857px 1324px rgba(255, 234, 194, 0.8), 766px 811px rgba(255, 234, 194, 0.8), 1696px 1950px rgba(255, 234, 194, 0.8), 1825px 278px rgba(255, 234, 194, 0.8), 2754px 1401px rgba(255, 234, 194, 0.8), 791px 1992px rgba(255, 234, 194, 0.8), 2515px 1764px rgba(255, 234, 194, 0.8), 1447px 2254px rgba(255, 234, 194, 0.8), 885px 1161px rgba(255, 234, 194, 0.8), 1264px 2836px rgba(255, 234, 194, 0.8), 2646px 196px rgba(255, 234, 194, 0.8), 1634px 2813px rgba(255, 234, 194, 0.8), 1071px 78px rgba(255, 234, 194, 0.8), 2414px 2716px rgba(255, 234, 194, 0.8), 2157px 2204px rgba(255, 234, 194, 0.8), 153px 1687px rgba(255, 234, 194, 0.8), 2134px 1881px rgba(255, 234, 194, 0.8), 1146px 2521px rgba(255, 234, 194, 0.8), 2023px 1469px rgba(255, 234, 194, 0.8), 844px 9px rgba(255, 234, 194, 0.8), 969px 1497px rgba(255, 234, 194, 0.8), 1990px 1325px rgba(255, 234, 194, 0.8), 134px 2825px rgba(255, 234, 194, 0.8), 1264px 1873px rgba(255, 234, 194, 0.8), 2316px 1595px rgba(255, 234, 194, 0.8), 2323px 817px rgba(255, 234, 194, 0.8), 2877px 1564px rgba(255, 234, 194, 0.8), 2855px 816px rgba(255, 234, 194, 0.8), 1627px 2542px rgba(255, 234, 194, 0.8), 1663px 100px rgba(255, 234, 194, 0.8), 398px 2912px rgba(255, 234, 194, 0.8), 2172px 2420px rgba(255, 234, 194, 0.8), 2412px 2302px rgba(255, 234, 194, 0.8), 980px 1725px rgba(255, 234, 194, 0.8), 1038px 134px rgba(255, 234, 194, 0.8), 44px 2737px rgba(255, 234, 194, 0.8), 1334px 2309px rgba(255, 234, 194, 0.8), 2401px 1185px rgba(255, 234, 194, 0.8), 82px 1896px rgba(255, 234, 194, 0.8), 966px 1093px rgba(255, 234, 194, 0.8), 2619px 1680px rgba(255, 234, 194, 0.8), 1025px 1967px rgba(255, 234, 194, 0.8), 2012px 98px rgba(255, 234, 194, 0.8), 1299px 2606px rgba(255, 234, 194, 0.8), 1036px 572px rgba(255, 234, 194, 0.8), 1732px 2716px rgba(255, 234, 194, 0.8), 332px 2869px rgba(255, 234, 194, 0.8), 2443px 2661px rgba(255, 234, 194, 0.8), 1444px 521px rgba(255, 234, 194, 0.8), 2717px 1891px rgba(255, 234, 194, 0.8), 1073px 701px rgba(255, 234, 194, 0.8), 1986px 1478px rgba(255, 234, 194, 0.8), 333px 1075px rgba(255, 234, 194, 0.8), 870px 2544px rgba(255, 234, 194, 0.8), 1990px 313px rgba(255, 234, 194, 0.8), 390px 2000px rgba(255, 234, 194, 0.8), 1651px 2163px rgba(255, 234, 194, 0.8), 1516px 330px rgba(255, 234, 194, 0.8), 2198px 2218px rgba(255, 234, 194, 0.8), 548px 2205px rgba(255, 234, 194, 0.8), 21px 1684px rgba(255, 234, 194, 0.8), 1334px 3000px rgba(255, 234, 194, 0.8), 266px 1226px rgba(255, 234, 194, 0.8), 748px 2541px rgba(255, 234, 194, 0.8), 253px 1217px rgba(255, 234, 194, 0.8), 221px 231px rgba(255, 234, 194, 0.8), 502px 1767px rgba(255, 234, 194, 0.8), 760px 2101px rgba(255, 234, 194, 0.8), 1078px 301px rgba(255, 234, 194, 0.8), 2371px 2726px rgba(255, 234, 194, 0.8), 1515px 149px rgba(255, 234, 194, 0.8), 525px 2594px rgba(255, 234, 194, 0.8), 664px 4px rgba(255, 234, 194, 0.8), 958px 1713px rgba(255, 234, 194, 0.8), 1906px 1997px rgba(255, 234, 194, 0.8), 2729px 833px rgba(255, 234, 194, 0.8), 557px 1649px rgba(255, 234, 194, 0.8), 2039px 757px rgba(255, 234, 194, 0.8), 497px 444px rgba(255, 234, 194, 0.8), 331px 2046px rgba(255, 234, 194, 0.8), 1627px 1220px rgba(255, 234, 194, 0.8), 2887px 747px rgba(255, 234, 194, 0.8), 2104px 977px rgba(255, 234, 194, 0.8), 2038px 1353px rgba(255, 234, 194, 0.8), 1616px 3px rgba(255, 234, 194, 0.8), 1102px 2987px rgba(255, 234, 194, 0.8), 2745px 1654px rgba(255, 234, 194, 0.8), 2733px 1699px rgba(255, 234, 194, 0.8), 2376px 2674px rgba(255, 234, 194, 0.8), 1489px 34px rgba(255, 234, 194, 0.8), 228px 1137px rgba(255, 234, 194, 0.8), 1877px 1987px rgba(255, 234, 194, 0.8), 1792px 1249px rgba(255, 234, 194, 0.8), 2219px 458px rgba(255, 234, 194, 0.8), 2859px 2344px rgba(255, 234, 194, 0.8), 661px 147px rgba(255, 234, 194, 0.8), 1098px 1274px rgba(255, 234, 194, 0.8), 1301px 942px rgba(255, 234, 194, 0.8), 2900px 1491px rgba(255, 234, 194, 0.8), 208px 2415px rgba(255, 234, 194, 0.8), 2949px 1028px rgba(255, 234, 194, 0.8), 2116px 1180px rgba(255, 234, 194, 0.8), 2197px 2884px rgba(255, 234, 194, 0.8), 149px 807px rgba(255, 234, 194, 0.8), 2383px 1571px rgba(255, 234, 194, 0.8), 2622px 106px rgba(255, 234, 194, 0.8), 954px 144px rgba(255, 234, 194, 0.8), 1580px 412px rgba(255, 234, 194, 0.8), 1451px 1236px rgba(255, 234, 194, 0.8), 2754px 2260px rgba(255, 234, 194, 0.8), 279px 394px rgba(255, 234, 194, 0.8), 254px 2796px rgba(255, 234, 194, 0.8), 484px 2741px rgba(255, 234, 194, 0.8), 349px 2555px rgba(255, 234, 194, 0.8), 2603px 636px rgba(255, 234, 194, 0.8), 2232px 2882px rgba(255, 234, 194, 0.8), 600px 2349px rgba(255, 234, 194, 0.8), 2001px 350px rgba(255, 234, 194, 0.8), 2856px 239px rgba(255, 234, 194, 0.8), 1105px 1346px rgba(255, 234, 194, 0.8), 2575px 2549px rgba(255, 234, 194, 0.8), 819px 1016px rgba(255, 234, 194, 0.8), 338px 2580px rgba(255, 234, 194, 0.8), 2320px 1432px rgba(255, 234, 194, 0.8), 59px 2989px rgba(255, 234, 194, 0.8), 568px 651px rgba(255, 234, 194, 0.8), 637px 2343px rgba(255, 234, 194, 0.8), 1756px 2285px rgba(255, 234, 194, 0.8), 553px 1161px rgba(255, 234, 194, 0.8), 67px 1886px rgba(255, 234, 194, 0.8), 1077px 2677px rgba(255, 234, 194, 0.8), 107px 1060px rgba(255, 234, 194, 0.8), 297px 2188px rgba(255, 234, 194, 0.8), 1379px 2039px rgba(255, 234, 194, 0.8), 1379px 1714px rgba(255, 234, 194, 0.8), 2896px 454px rgba(255, 234, 194, 0.8), 582px 767px rgba(255, 234, 194, 0.8), 2397px 2752px rgba(255, 234, 194, 0.8), 563px 993px rgba(255, 234, 194, 0.8), 1329px 1559px rgba(255, 234, 194, 0.8), 2732px 1300px rgba(255, 234, 194, 0.8), 1313px 206px rgba(255, 234, 194, 0.8), 2673px 893px rgba(255, 234, 194, 0.8), 844px 857px rgba(255, 234, 194, 0.8), 451px 537px rgba(255, 234, 194, 0.8), 480px 1075px rgba(255, 234, 194, 0.8), 599px 160px rgba(255, 234, 194, 0.8), 2495px 999px rgba(255, 234, 194, 0.8), 265px 2557px rgba(255, 234, 194, 0.8), 1393px 881px rgba(255, 234, 194, 0.8), 2039px 2411px rgba(255, 234, 194, 0.8), 1235px 789px rgba(255, 234, 194, 0.8), 376px 575px rgba(255, 234, 194, 0.8), 2518px 2203px rgba(255, 234, 194, 0.8), 1394px 881px rgba(255, 234, 194, 0.8), 996px 2671px rgba(255, 234, 194, 0.8), 2122px 2181px rgba(255, 234, 194, 0.8), 1159px 1360px rgba(255, 234, 194, 0.8), 1254px 1303px rgba(255, 234, 194, 0.8), 1603px 1724px rgba(255, 234, 194, 0.8), 867px 1967px rgba(255, 234, 194, 0.8), 2509px 1736px rgba(255, 234, 194, 0.8), 1759px 4px rgba(255, 234, 194, 0.8), 1155px 2899px rgba(255, 234, 194, 0.8), 2824px 121px rgba(255, 234, 194, 0.8), 1008px 2045px rgba(255, 234, 194, 0.8), 40px 2610px rgba(255, 234, 194, 0.8), 1960px 1947px rgba(255, 234, 194, 0.8), 1206px 1464px rgba(255, 234, 194, 0.8), 235px 2265px rgba(255, 234, 194, 0.8), 460px 2463px rgba(255, 234, 194, 0.8), 1744px 374px rgba(255, 234, 194, 0.8), 838px 1275px rgba(255, 234, 194, 0.8), 2400px 1923px rgba(255, 234, 194, 0.8), 887px 1714px rgba(255, 234, 194, 0.8), 1090px 2174px rgba(255, 234, 194, 0.8), 2081px 927px rgba(255, 234, 194, 0.8), 926px 1776px rgba(255, 234, 194, 0.8), 184px 663px rgba(255, 234, 194, 0.8), 1000px 1331px rgba(255, 234, 194, 0.8), 1803px 2634px rgba(255, 234, 194, 0.8), 1168px 597px rgba(255, 234, 194, 0.8), 2371px 1605px rgba(255, 234, 194, 0.8), 1571px 2482px rgba(255, 234, 194, 0.8), 1417px 1567px rgba(255, 234, 194, 0.8), 1380px 465px rgba(255, 234, 194, 0.8), 2693px 2821px rgba(255, 234, 194, 0.8), 729px 1625px rgba(255, 234, 194, 0.8), 883px 1119px rgba(255, 234, 194, 0.8), 1037px 881px rgba(255, 234, 194, 0.8), 2254px 2038px rgba(255, 234, 194, 0.8), 1441px 81px rgba(255, 234, 194, 0.8), 2685px 1361px rgba(255, 234, 194, 0.8), 1136px 216px rgba(255, 234, 194, 0.8), 2849px 7px rgba(255, 234, 194, 0.8), 1415px 1165px rgba(255, 234, 194, 0.8), 2242px 120px rgba(255, 234, 194, 0.8), 2277px 612px rgba(255, 234, 194, 0.8), 2072px 2103px rgba(255, 234, 194, 0.8), 857px 1390px rgba(255, 234, 194, 0.8), 1949px 1445px rgba(255, 234, 194, 0.8), 1374px 2806px rgba(255, 234, 194, 0.8), 2241px 2602px rgba(255, 234, 194, 0.8), 2113px 2365px rgba(255, 234, 194, 0.8), 2519px 273px rgba(255, 234, 194, 0.8), 248px 2547px rgba(255, 234, 194, 0.8), 1717px 1566px rgba(255, 234, 194, 0.8), 1078px 1506px rgba(255, 234, 194, 0.8), 2009px 1371px rgba(255, 234, 194, 0.8), 252px 2907px rgba(255, 234, 194, 0.8), 969px 2954px rgba(255, 234, 194, 0.8), 2958px 812px rgba(255, 234, 194, 0.8), 2400px 1453px rgba(255, 234, 194, 0.8), 2178px 590px rgba(255, 234, 194, 0.8), 408px 2727px rgba(255, 234, 194, 0.8), 545px 863px rgba(255, 234, 194, 0.8), 637px 1355px rgba(255, 234, 194, 0.8), 2533px 1770px rgba(255, 234, 194, 0.8), 2809px 2460px rgba(255, 234, 194, 0.8), 90px 69px rgba(255, 234, 194, 0.8), 1451px 2933px rgba(255, 234, 194, 0.8), 2126px 2597px rgba(255, 234, 194, 0.8), 2270px 1665px rgba(255, 234, 194, 0.8), 730px 2547px rgba(255, 234, 194, 0.8), 224px 2204px rgba(255, 234, 194, 0.8), 1885px 2543px rgba(255, 234, 194, 0.8), 1048px 155px rgba(255, 234, 194, 0.8), 67px 2881px rgba(255, 234, 194, 0.8), 1841px 2694px rgba(255, 234, 194, 0.8), 1863px 2470px rgba(255, 234, 194, 0.8), 2468px 340px rgba(255, 234, 194, 0.8), 380px 2922px rgba(255, 234, 194, 0.8), 1363px 2307px rgba(255, 234, 194, 0.8), 2346px 2579px rgba(255, 234, 194, 0.8), 2975px 2896px rgba(255, 234, 194, 0.8), 2885px 2382px rgba(255, 234, 194, 0.8), 1823px 1683px rgba(255, 234, 194, 0.8), 1882px 2198px rgba(255, 234, 194, 0.8), 42px 2714px rgba(255, 234, 194, 0.8), 751px 1760px rgba(255, 234, 194, 0.8), 2970px 1135px rgba(255, 234, 194, 0.8), 2172px 1143px rgba(255, 234, 194, 0.8), 651px 816px rgba(255, 234, 194, 0.8), 69px 1777px rgba(255, 234, 194, 0.8), 2016px 376px rgba(255, 234, 194, 0.8), 881px 118px rgba(255, 234, 194, 0.8), 1860px 1372px rgba(255, 234, 194, 0.8), 1987px 888px rgba(255, 234, 194, 0.8), 339px 1687px rgba(255, 234, 194, 0.8), 1263px 1534px rgba(255, 234, 194, 0.8), 809px 769px rgba(255, 234, 194, 0.8), 1889px 2590px rgba(255, 234, 194, 0.8), 501px 2367px rgba(255, 234, 194, 0.8), 2285px 1404px rgba(255, 234, 194, 0.8), 1101px 716px rgba(255, 234, 194, 0.8), 104px 2481px rgba(255, 234, 194, 0.8), 1222px 2830px rgba(255, 234, 194, 0.8), 1333px 724px rgba(255, 234, 194, 0.8), 1878px 489px rgba(255, 234, 194, 0.8), 2521px 801px rgba(255, 234, 194, 0.8), 44px 1870px rgba(255, 234, 194, 0.8), 1519px 1968px rgba(255, 234, 194, 0.8), 1877px 968px rgba(255, 234, 194, 0.8), 1897px 616px rgba(255, 234, 194, 0.8), 1234px 2912px rgba(255, 234, 194, 0.8), 536px 870px rgba(255, 234, 194, 0.8), 320px 129px rgba(255, 234, 194, 0.8), 2959px 1461px rgba(255, 234, 194, 0.8), 52px 1952px rgba(255, 234, 194, 0.8), 1219px 901px rgba(255, 234, 194, 0.8), 493px 1569px rgba(255, 234, 194, 0.8), 819px 2198px rgba(255, 234, 194, 0.8), 992px 2264px rgba(255, 234, 194, 0.8), 1161px 995px rgba(255, 234, 194, 0.8), 286px 547px rgba(255, 234, 194, 0.8), 1041px 1778px rgba(255, 234, 194, 0.8), 2770px 829px rgba(255, 234, 194, 0.8), 2337px 1182px rgba(255, 234, 194, 0.8), 303px 2981px rgba(255, 234, 194, 0.8), 1945px 522px rgba(255, 234, 194, 0.8), 2704px 622px rgba(255, 234, 194, 0.8), 351px 768px rgba(255, 234, 194, 0.8), 2503px 2729px rgba(255, 234, 194, 0.8), 32px 2367px rgba(255, 234, 194, 0.8), 1116px 2644px rgba(255, 234, 194, 0.8), 913px 951px rgba(255, 234, 194, 0.8), 1645px 1727px rgba(255, 234, 194, 0.8), 1732px 1600px rgba(255, 234, 194, 0.8), 1380px 845px rgba(255, 234, 194, 0.8), 1749px 2191px rgba(255, 234, 194, 0.8), 356px 1136px rgba(255, 234, 194, 0.8), 508px 1138px rgba(255, 234, 194, 0.8), 1423px 1644px rgba(255, 234, 194, 0.8), 2470px 293px rgba(255, 234, 194, 0.8), 370px 273px rgba(255, 234, 194, 0.8), 123px 2530px rgba(255, 234, 194, 0.8), 1670px 1938px rgba(255, 234, 194, 0.8), 2920px 21px rgba(255, 234, 194, 0.8), 1608px 1546px rgba(255, 234, 194, 0.8), 2880px 352px rgba(255, 234, 194, 0.8), 361px 2560px rgba(255, 234, 194, 0.8), 2642px 1863px rgba(255, 234, 194, 0.8), 2605px 2728px rgba(255, 234, 194, 0.8), 2384px 469px rgba(255, 234, 194, 0.8), 1930px 2528px rgba(255, 234, 194, 0.8), 1805px 1320px rgba(255, 234, 194, 0.8), 881px 2075px rgba(255, 234, 194, 0.8), 1353px 2870px rgba(255, 234, 194, 0.8), 690px 930px rgba(255, 234, 194, 0.8), 2013px 1069px rgba(255, 234, 194, 0.8), 322px 554px rgba(255, 234, 194, 0.8), 1569px 1283px rgba(255, 234, 194, 0.8), 2566px 1755px rgba(255, 234, 194, 0.8), 640px 1088px rgba(255, 234, 194, 0.8), 612px 1887px rgba(255, 234, 194, 0.8), 171px 2528px rgba(255, 234, 194, 0.8), 1297px 1546px rgba(255, 234, 194, 0.8), 1269px 364px rgba(255, 234, 194, 0.8), 761px 1533px rgba(255, 234, 194, 0.8);
  transition: all 0.2s linear;
  animation: animStar 150s linear infinite;
}

.stars2 {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  box-shadow: 497px 21px rgba(255, 234, 194, 0.8), 2142px 2640px rgba(255, 234, 194, 0.8), 154px 182px rgba(255, 234, 194, 0.8), 2604px 2274px rgba(255, 234, 194, 0.8), 1097px 2100px rgba(255, 234, 194, 0.8), 339px 962px rgba(255, 234, 194, 0.8), 86px 1532px rgba(255, 234, 194, 0.8), 2181px 695px rgba(255, 234, 194, 0.8), 1140px 1343px rgba(255, 234, 194, 0.8), 2178px 133px rgba(255, 234, 194, 0.8), 2123px 1120px rgba(255, 234, 194, 0.8), 2986px 1411px rgba(255, 234, 194, 0.8), 2119px 1459px rgba(255, 234, 194, 0.8), 2402px 1616px rgba(255, 234, 194, 0.8), 347px 1718px rgba(255, 234, 194, 0.8), 1600px 516px rgba(255, 234, 194, 0.8), 297px 217px rgba(255, 234, 194, 0.8), 276px 1041px rgba(255, 234, 194, 0.8), 371px 2786px rgba(255, 234, 194, 0.8), 446px 1328px rgba(255, 234, 194, 0.8), 130px 436px rgba(255, 234, 194, 0.8), 2118px 913px rgba(255, 234, 194, 0.8), 1018px 1073px rgba(255, 234, 194, 0.8), 1019px 2388px rgba(255, 234, 194, 0.8), 18px 1531px rgba(255, 234, 194, 0.8), 620px 592px rgba(255, 234, 194, 0.8), 2694px 2289px rgba(255, 234, 194, 0.8), 359px 2986px rgba(255, 234, 194, 0.8), 900px 2957px rgba(255, 234, 194, 0.8), 2032px 733px rgba(255, 234, 194, 0.8), 552px 221px rgba(255, 234, 194, 0.8), 1137px 271px rgba(255, 234, 194, 0.8), 925px 2244px rgba(255, 234, 194, 0.8), 797px 749px rgba(255, 234, 194, 0.8), 2654px 1987px rgba(255, 234, 194, 0.8), 520px 1318px rgba(255, 234, 194, 0.8), 862px 650px rgba(255, 234, 194, 0.8), 1915px 2571px rgba(255, 234, 194, 0.8), 2243px 963px rgba(255, 234, 194, 0.8), 865px 1915px rgba(255, 234, 194, 0.8), 2482px 1924px rgba(255, 234, 194, 0.8), 1770px 1984px rgba(255, 234, 194, 0.8), 1478px 132px rgba(255, 234, 194, 0.8), 2498px 1680px rgba(255, 234, 194, 0.8), 1248px 582px rgba(255, 234, 194, 0.8), 2169px 1439px rgba(255, 234, 194, 0.8), 661px 500px rgba(255, 234, 194, 0.8), 196px 1128px rgba(255, 234, 194, 0.8), 2818px 1372px rgba(255, 234, 194, 0.8), 1602px 2790px rgba(255, 234, 194, 0.8), 1136px 2443px rgba(255, 234, 194, 0.8), 1586px 1367px rgba(255, 234, 194, 0.8), 1206px 2595px rgba(255, 234, 194, 0.8), 1376px 600px rgba(255, 234, 194, 0.8), 2989px 376px rgba(255, 234, 194, 0.8), 2548px 999px rgba(255, 234, 194, 0.8), 1764px 2120px rgba(255, 234, 194, 0.8), 1088px 2403px rgba(255, 234, 194, 0.8), 1269px 936px rgba(255, 234, 194, 0.8), 502px 2845px rgba(255, 234, 194, 0.8), 783px 2488px rgba(255, 234, 194, 0.8), 403px 2650px rgba(255, 234, 194, 0.8), 1357px 2311px rgba(255, 234, 194, 0.8), 2737px 2445px rgba(255, 234, 194, 0.8), 2593px 488px rgba(255, 234, 194, 0.8), 624px 2754px rgba(255, 234, 194, 0.8), 2756px 1538px rgba(255, 234, 194, 0.8), 2718px 677px rgba(255, 234, 194, 0.8), 2459px 2633px rgba(255, 234, 194, 0.8), 1842px 1528px rgba(255, 234, 194, 0.8), 428px 2205px rgba(255, 234, 194, 0.8), 1827px 203px rgba(255, 234, 194, 0.8), 439px 143px rgba(255, 234, 194, 0.8), 2479px 2876px rgba(255, 234, 194, 0.8), 108px 1615px rgba(255, 234, 194, 0.8), 923px 790px rgba(255, 234, 194, 0.8), 538px 1309px rgba(255, 234, 194, 0.8), 2535px 47px rgba(255, 234, 194, 0.8), 88px 1349px rgba(255, 234, 194, 0.8), 2678px 1350px rgba(255, 234, 194, 0.8), 1075px 166px rgba(255, 234, 194, 0.8), 767px 2336px rgba(255, 234, 194, 0.8), 2428px 1393px rgba(255, 234, 194, 0.8), 1951px 2486px rgba(255, 234, 194, 0.8), 2715px 1965px rgba(255, 234, 194, 0.8), 1851px 1766px rgba(255, 234, 194, 0.8), 2679px 1699px rgba(255, 234, 194, 0.8), 1238px 504px rgba(255, 234, 194, 0.8), 1115px 661px rgba(255, 234, 194, 0.8), 2975px 2183px rgba(255, 234, 194, 0.8), 1245px 330px rgba(255, 234, 194, 0.8), 657px 2068px rgba(255, 234, 194, 0.8), 2969px 2645px rgba(255, 234, 194, 0.8), 2734px 1359px rgba(255, 234, 194, 0.8), 868px 2855px rgba(255, 234, 194, 0.8), 1622px 1221px rgba(255, 234, 194, 0.8), 1801px 2683px rgba(255, 234, 194, 0.8), 553px 1636px rgba(255, 234, 194, 0.8), 2097px 1717px rgba(255, 234, 194, 0.8), 665px 1003px rgba(255, 234, 194, 0.8), 2187px 1054px rgba(255, 234, 194, 0.8), 2465px 837px rgba(255, 234, 194, 0.8), 1069px 166px rgba(255, 234, 194, 0.8), 385px 2400px rgba(255, 234, 194, 0.8), 609px 143px rgba(255, 234, 194, 0.8), 2522px 846px rgba(255, 234, 194, 0.8), 1299px 308px rgba(255, 234, 194, 0.8), 1385px 2519px rgba(255, 234, 194, 0.8), 2447px 2018px rgba(255, 234, 194, 0.8), 1624px 2262px rgba(255, 234, 194, 0.8), 1723px 746px rgba(255, 234, 194, 0.8), 1908px 1804px rgba(255, 234, 194, 0.8), 1614px 1482px rgba(255, 234, 194, 0.8), 2046px 873px rgba(255, 234, 194, 0.8), 731px 1174px rgba(255, 234, 194, 0.8), 951px 145px rgba(255, 234, 194, 0.8), 2482px 2739px rgba(255, 234, 194, 0.8), 1338px 1661px rgba(255, 234, 194, 0.8), 2192px 699px rgba(255, 234, 194, 0.8), 1466px 2151px rgba(255, 234, 194, 0.8), 287px 2992px rgba(255, 234, 194, 0.8), 588px 379px rgba(255, 234, 194, 0.8), 2888px 2365px rgba(255, 234, 194, 0.8), 2079px 1261px rgba(255, 234, 194, 0.8), 802px 352px rgba(255, 234, 194, 0.8), 2341px 2500px rgba(255, 234, 194, 0.8), 2998px 370px rgba(255, 234, 194, 0.8), 2512px 791px rgba(255, 234, 194, 0.8), 83px 2465px rgba(255, 234, 194, 0.8), 167px 2351px rgba(255, 234, 194, 0.8), 1561px 2157px rgba(255, 234, 194, 0.8), 262px 759px rgba(255, 234, 194, 0.8), 1889px 1956px rgba(255, 234, 194, 0.8), 1832px 473px rgba(255, 234, 194, 0.8), 1508px 612px rgba(255, 234, 194, 0.8), 1523px 353px rgba(255, 234, 194, 0.8), 1506px 3px rgba(255, 234, 194, 0.8), 580px 1407px rgba(255, 234, 194, 0.8), 70px 2201px rgba(255, 234, 194, 0.8), 273px 1017px rgba(255, 234, 194, 0.8), 1731px 2056px rgba(255, 234, 194, 0.8), 2588px 333px rgba(255, 234, 194, 0.8), 2571px 2779px rgba(255, 234, 194, 0.8), 2927px 615px rgba(255, 234, 194, 0.8), 2628px 1537px rgba(255, 234, 194, 0.8), 468px 2424px rgba(255, 234, 194, 0.8), 747px 1470px rgba(255, 234, 194, 0.8), 2276px 955px rgba(255, 234, 194, 0.8), 2087px 636px rgba(255, 234, 194, 0.8), 879px 1620px rgba(255, 234, 194, 0.8), 151px 13px rgba(255, 234, 194, 0.8), 1701px 1543px rgba(255, 234, 194, 0.8), 1149px 1286px rgba(255, 234, 194, 0.8), 2765px 278px rgba(255, 234, 194, 0.8), 260px 2663px rgba(255, 234, 194, 0.8), 2188px 2026px rgba(255, 234, 194, 0.8), 673px 1231px rgba(255, 234, 194, 0.8), 101px 567px rgba(255, 234, 194, 0.8), 2785px 858px rgba(255, 234, 194, 0.8), 2214px 1421px rgba(255, 234, 194, 0.8), 616px 196px rgba(255, 234, 194, 0.8), 1775px 1926px rgba(255, 234, 194, 0.8), 892px 1111px rgba(255, 234, 194, 0.8), 2632px 1840px rgba(255, 234, 194, 0.8), 2055px 1437px rgba(255, 234, 194, 0.8), 2770px 78px rgba(255, 234, 194, 0.8), 1668px 88px rgba(255, 234, 194, 0.8), 569px 1407px rgba(255, 234, 194, 0.8), 1720px 604px rgba(255, 234, 194, 0.8), 2717px 1287px rgba(255, 234, 194, 0.8), 983px 194px rgba(255, 234, 194, 0.8), 2532px 333px rgba(255, 234, 194, 0.8), 2603px 813px rgba(255, 234, 194, 0.8), 2232px 1936px rgba(255, 234, 194, 0.8), 2741px 2572px rgba(255, 234, 194, 0.8), 2181px 488px rgba(255, 234, 194, 0.8), 52px 628px rgba(255, 234, 194, 0.8), 364px 2167px rgba(255, 234, 194, 0.8), 2053px 1136px rgba(255, 234, 194, 0.8), 2882px 1145px rgba(255, 234, 194, 0.8), 1010px 1868px rgba(255, 234, 194, 0.8), 671px 2029px rgba(255, 234, 194, 0.8), 1639px 780px rgba(255, 234, 194, 0.8), 598px 2364px rgba(255, 234, 194, 0.8), 794px 276px rgba(255, 234, 194, 0.8), 1347px 2061px rgba(255, 234, 194, 0.8), 925px 1113px rgba(255, 234, 194, 0.8), 2658px 806px rgba(255, 234, 194, 0.8), 1222px 1055px rgba(255, 234, 194, 0.8), 2755px 818px rgba(255, 234, 194, 0.8), 554px 2063px rgba(255, 234, 194, 0.8), 972px 1226px rgba(255, 234, 194, 0.8), 77px 132px rgba(255, 234, 194, 0.8), 2310px 820px rgba(255, 234, 194, 0.8), 1744px 2965px rgba(255, 234, 194, 0.8), 2442px 579px rgba(255, 234, 194, 0.8), 18px 2782px rgba(255, 234, 194, 0.8), 1437px 2757px rgba(255, 234, 194, 0.8), 2560px 965px rgba(255, 234, 194, 0.8), 215px 937px rgba(255, 234, 194, 0.8), 336px 2670px rgba(255, 234, 194, 0.8), 2148px 414px rgba(255, 234, 194, 0.8), 443px 658px rgba(255, 234, 194, 0.8), 478px 1583px rgba(255, 234, 194, 0.8), 2608px 2103px rgba(255, 234, 194, 0.8), 912px 1398px rgba(255, 234, 194, 0.8), 1630px 579px rgba(255, 234, 194, 0.8), 2403px 604px rgba(255, 234, 194, 0.8), 1252px 2834px rgba(255, 234, 194, 0.8), 939px 1266px rgba(255, 234, 194, 0.8), 1933px 1240px rgba(255, 234, 194, 0.8), 2645px 557px rgba(255, 234, 194, 0.8), 2927px 492px rgba(255, 234, 194, 0.8), 1382px 158px rgba(255, 234, 194, 0.8), 2306px 1069px rgba(255, 234, 194, 0.8), 746px 1848px rgba(255, 234, 194, 0.8), 691px 1957px rgba(255, 234, 194, 0.8), 1954px 1146px rgba(255, 234, 194, 0.8), 2376px 1708px rgba(255, 234, 194, 0.8), 2250px 967px rgba(255, 234, 194, 0.8), 537px 1635px rgba(255, 234, 194, 0.8), 1252px 310px rgba(255, 234, 194, 0.8), 17px 764px rgba(255, 234, 194, 0.8), 861px 1163px rgba(255, 234, 194, 0.8), 1884px 2950px rgba(255, 234, 194, 0.8), 2348px 1371px rgba(255, 234, 194, 0.8), 2649px 214px rgba(255, 234, 194, 0.8), 2349px 969px rgba(255, 234, 194, 0.8), 482px 803px rgba(255, 234, 194, 0.8), 1182px 1447px rgba(255, 234, 194, 0.8), 1797px 2320px rgba(255, 234, 194, 0.8), 1150px 2538px rgba(255, 234, 194, 0.8), 947px 1494px rgba(255, 234, 194, 0.8), 783px 1368px rgba(255, 234, 194, 0.8), 2641px 1828px rgba(255, 234, 194, 0.8), 2506px 1733px rgba(255, 234, 194, 0.8), 2387px 1127px rgba(255, 234, 194, 0.8), 605px 2360px rgba(255, 234, 194, 0.8), 2749px 2930px rgba(255, 234, 194, 0.8), 2739px 1080px rgba(255, 234, 194, 0.8), 2805px 44px rgba(255, 234, 194, 0.8), 675px 1905px rgba(255, 234, 194, 0.8), 2197px 2814px rgba(255, 234, 194, 0.8), 436px 2264px rgba(255, 234, 194, 0.8), 226px 1127px rgba(255, 234, 194, 0.8), 1378px 665px rgba(255, 234, 194, 0.8), 247px 2767px rgba(255, 234, 194, 0.8), 719px 227px rgba(255, 234, 194, 0.8), 2370px 1346px rgba(255, 234, 194, 0.8), 1689px 958px rgba(255, 234, 194, 0.8), 2968px 228px rgba(255, 234, 194, 0.8), 581px 2238px rgba(255, 234, 194, 0.8), 533px 289px rgba(255, 234, 194, 0.8), 440px 1456px rgba(255, 234, 194, 0.8), 1555px 2024px rgba(255, 234, 194, 0.8), 2259px 2550px rgba(255, 234, 194, 0.8), 1985px 1430px rgba(255, 234, 194, 0.8), 223px 1298px rgba(255, 234, 194, 0.8), 58px 841px rgba(255, 234, 194, 0.8), 2643px 545px rgba(255, 234, 194, 0.8), 2595px 1324px rgba(255, 234, 194, 0.8), 470px 2380px rgba(255, 234, 194, 0.8), 2066px 2207px rgba(255, 234, 194, 0.8), 2233px 2624px rgba(255, 234, 194, 0.8), 2093px 970px rgba(255, 234, 194, 0.8), 2392px 1715px rgba(255, 234, 194, 0.8), 2589px 1606px rgba(255, 234, 194, 0.8), 2463px 1122px rgba(255, 234, 194, 0.8), 2361px 2659px rgba(255, 234, 194, 0.8), 2392px 350px rgba(255, 234, 194, 0.8), 2798px 2584px rgba(255, 234, 194, 0.8), 2645px 2640px rgba(255, 234, 194, 0.8), 321px 659px rgba(255, 234, 194, 0.8), 2627px 314px rgba(255, 234, 194, 0.8), 566px 1645px rgba(255, 234, 194, 0.8), 2968px 251px rgba(255, 234, 194, 0.8), 1340px 222px rgba(255, 234, 194, 0.8), 455px 2389px rgba(255, 234, 194, 0.8), 1547px 2151px rgba(255, 234, 194, 0.8), 330px 1882px rgba(255, 234, 194, 0.8), 2146px 593px rgba(255, 234, 194, 0.8), 2720px 642px rgba(255, 234, 194, 0.8), 569px 1299px rgba(255, 234, 194, 0.8), 749px 2687px rgba(255, 234, 194, 0.8), 173px 215px rgba(255, 234, 194, 0.8), 1567px 2922px rgba(255, 234, 194, 0.8), 2320px 1380px rgba(255, 234, 194, 0.8), 820px 584px rgba(255, 234, 194, 0.8), 430px 1337px rgba(255, 234, 194, 0.8), 2931px 575px rgba(255, 234, 194, 0.8), 1617px 1061px rgba(255, 234, 194, 0.8), 1382px 667px rgba(255, 234, 194, 0.8), 2280px 1195px rgba(255, 234, 194, 0.8), 2672px 725px rgba(255, 234, 194, 0.8), 1873px 671px rgba(255, 234, 194, 0.8), 588px 10px rgba(255, 234, 194, 0.8), 2670px 933px rgba(255, 234, 194, 0.8), 2360px 1739px rgba(255, 234, 194, 0.8), 14px 2144px rgba(255, 234, 194, 0.8), 836px 1981px rgba(255, 234, 194, 0.8), 1076px 1529px rgba(255, 234, 194, 0.8), 900px 2506px rgba(255, 234, 194, 0.8), 1027px 268px rgba(255, 234, 194, 0.8), 1617px 2552px rgba(255, 234, 194, 0.8), 1862px 2997px rgba(255, 234, 194, 0.8), 52px 1345px rgba(255, 234, 194, 0.8), 2838px 1931px rgba(255, 234, 194, 0.8), 517px 800px rgba(255, 234, 194, 0.8), 912px 1537px rgba(255, 234, 194, 0.8), 2777px 2497px rgba(255, 234, 194, 0.8), 1977px 1123px rgba(255, 234, 194, 0.8), 977px 730px rgba(255, 234, 194, 0.8), 1113px 1430px rgba(255, 234, 194, 0.8), 753px 2663px rgba(255, 234, 194, 0.8), 1159px 1362px rgba(255, 234, 194, 0.8), 603px 1485px rgba(255, 234, 194, 0.8), 1966px 230px rgba(255, 234, 194, 0.8), 270px 810px rgba(255, 234, 194, 0.8), 2975px 372px rgba(255, 234, 194, 0.8), 1606px 1420px rgba(255, 234, 194, 0.8), 756px 1459px rgba(255, 234, 194, 0.8), 2519px 2611px rgba(255, 234, 194, 0.8), 2687px 1791px rgba(255, 234, 194, 0.8), 1929px 545px rgba(255, 234, 194, 0.8), 262px 1072px rgba(255, 234, 194, 0.8), 1638px 462px rgba(255, 234, 194, 0.8), 515px 980px rgba(255, 234, 194, 0.8), 2914px 709px rgba(255, 234, 194, 0.8), 2107px 2676px rgba(255, 234, 194, 0.8), 1386px 1275px rgba(255, 234, 194, 0.8), 274px 976px rgba(255, 234, 194, 0.8), 1479px 1545px rgba(255, 234, 194, 0.8), 1543px 1631px rgba(255, 234, 194, 0.8), 2933px 1309px rgba(255, 234, 194, 0.8), 60px 2709px rgba(255, 234, 194, 0.8), 145px 2074px rgba(255, 234, 194, 0.8), 761px 226px rgba(255, 234, 194, 0.8), 1167px 512px rgba(255, 234, 194, 0.8), 1868px 2577px rgba(255, 234, 194, 0.8), 1247px 436px rgba(255, 234, 194, 0.8), 712px 2256px rgba(255, 234, 194, 0.8), 2821px 329px rgba(255, 234, 194, 0.8), 2074px 2364px rgba(255, 234, 194, 0.8), 1645px 351px rgba(255, 234, 194, 0.8), 2002px 19px rgba(255, 234, 194, 0.8), 2648px 1290px rgba(255, 234, 194, 0.8), 1414px 2380px rgba(255, 234, 194, 0.8), 829px 1713px rgba(255, 234, 194, 0.8), 2601px 2640px rgba(255, 234, 194, 0.8), 2578px 1749px rgba(255, 234, 194, 0.8), 1839px 855px rgba(255, 234, 194, 0.8), 1158px 701px rgba(255, 234, 194, 0.8), 628px 626px rgba(255, 234, 194, 0.8), 1601px 2954px rgba(255, 234, 194, 0.8), 572px 2973px rgba(255, 234, 194, 0.8), 2953px 2234px rgba(255, 234, 194, 0.8), 2342px 277px rgba(255, 234, 194, 0.8), 269px 1429px rgba(255, 234, 194, 0.8), 1387px 2403px rgba(255, 234, 194, 0.8), 2964px 856px rgba(255, 234, 194, 0.8), 1670px 2804px rgba(255, 234, 194, 0.8), 2436px 2505px rgba(255, 234, 194, 0.8), 1623px 2622px rgba(255, 234, 194, 0.8), 2001px 2554px rgba(255, 234, 194, 0.8), 2882px 1103px rgba(255, 234, 194, 0.8), 1522px 1796px rgba(255, 234, 194, 0.8), 1045px 1354px rgba(255, 234, 194, 0.8), 491px 1329px rgba(255, 234, 194, 0.8), 879px 1220px rgba(255, 234, 194, 0.8), 1361px 2261px rgba(255, 234, 194, 0.8), 850px 2543px rgba(255, 234, 194, 0.8), 224px 787px rgba(255, 234, 194, 0.8), 1326px 1007px rgba(255, 234, 194, 0.8), 2213px 2637px rgba(255, 234, 194, 0.8), 421px 1254px rgba(255, 234, 194, 0.8), 390px 469px rgba(255, 234, 194, 0.8), 1389px 2951px rgba(255, 234, 194, 0.8), 1003px 1085px rgba(255, 234, 194, 0.8), 2325px 1010px rgba(255, 234, 194, 0.8), 611px 958px rgba(255, 234, 194, 0.8), 2492px 1030px rgba(255, 234, 194, 0.8), 918px 2076px rgba(255, 234, 194, 0.8), 2780px 118px rgba(255, 234, 194, 0.8), 1213px 2774px rgba(255, 234, 194, 0.8), 2487px 1165px rgba(255, 234, 194, 0.8), 2319px 1804px rgba(255, 234, 194, 0.8), 766px 192px rgba(255, 234, 194, 0.8), 2554px 601px rgba(255, 234, 194, 0.8), 362px 2537px rgba(255, 234, 194, 0.8), 2390px 1432px rgba(255, 234, 194, 0.8), 2938px 2673px rgba(255, 234, 194, 0.8), 1516px 405px rgba(255, 234, 194, 0.8), 392px 2440px rgba(255, 234, 194, 0.8), 239px 1721px rgba(255, 234, 194, 0.8), 1375px 958px rgba(255, 234, 194, 0.8), 478px 2164px rgba(255, 234, 194, 0.8), 151px 912px rgba(255, 234, 194, 0.8), 2185px 15px rgba(255, 234, 194, 0.8), 128px 1890px rgba(255, 234, 194, 0.8), 931px 1150px rgba(255, 234, 194, 0.8), 1731px 2613px rgba(255, 234, 194, 0.8), 2880px 2486px rgba(255, 234, 194, 0.8), 772px 2223px rgba(255, 234, 194, 0.8), 1043px 2735px rgba(255, 234, 194, 0.8), 1868px 1208px rgba(255, 234, 194, 0.8), 293px 1754px rgba(255, 234, 194, 0.8), 1799px 1493px rgba(255, 234, 194, 0.8), 1456px 360px rgba(255, 234, 194, 0.8), 2357px 2441px rgba(255, 234, 194, 0.8), 1937px 2039px rgba(255, 234, 194, 0.8), 989px 754px rgba(255, 234, 194, 0.8), 1633px 544px rgba(255, 234, 194, 0.8), 1609px 1835px rgba(255, 234, 194, 0.8), 595px 787px rgba(255, 234, 194, 0.8), 422px 315px rgba(255, 234, 194, 0.8), 849px 265px rgba(255, 234, 194, 0.8), 33px 983px rgba(255, 234, 194, 0.8), 2372px 76px rgba(255, 234, 194, 0.8), 298px 1487px rgba(255, 234, 194, 0.8), 2114px 2767px rgba(255, 234, 194, 0.8), 2380px 335px rgba(255, 234, 194, 0.8), 2641px 2618px rgba(255, 234, 194, 0.8), 2922px 140px rgba(255, 234, 194, 0.8), 2686px 2588px rgba(255, 234, 194, 0.8), 41px 548px rgba(255, 234, 194, 0.8), 2366px 1624px rgba(255, 234, 194, 0.8), 2424px 206px rgba(255, 234, 194, 0.8), 2725px 977px rgba(255, 234, 194, 0.8), 55px 2849px rgba(255, 234, 194, 0.8), 1410px 1503px rgba(255, 234, 194, 0.8), 308px 2598px rgba(255, 234, 194, 0.8), 832px 1483px rgba(255, 234, 194, 0.8), 2725px 1652px rgba(255, 234, 194, 0.8), 1749px 1822px rgba(255, 234, 194, 0.8), 950px 1036px rgba(255, 234, 194, 0.8), 717px 1057px rgba(255, 234, 194, 0.8), 2282px 259px rgba(255, 234, 194, 0.8), 88px 2473px rgba(255, 234, 194, 0.8), 1034px 2410px rgba(255, 234, 194, 0.8), 1026px 846px rgba(255, 234, 194, 0.8), 1188px 2671px rgba(255, 234, 194, 0.8), 120px 557px rgba(255, 234, 194, 0.8), 193px 739px rgba(255, 234, 194, 0.8), 1837px 255px rgba(255, 234, 194, 0.8), 83px 368px rgba(255, 234, 194, 0.8), 260px 49px rgba(255, 234, 194, 0.8), 2452px 2159px rgba(255, 234, 194, 0.8), 1496px 457px rgba(255, 234, 194, 0.8), 2443px 2187px rgba(255, 234, 194, 0.8), 2782px 1098px rgba(255, 234, 194, 0.8), 2713px 997px rgba(255, 234, 194, 0.8), 184px 333px rgba(255, 234, 194, 0.8), 1852px 234px rgba(255, 234, 194, 0.8), 747px 1093px rgba(255, 234, 194, 0.8), 2228px 1017px rgba(255, 234, 194, 0.8), 2666px 1483px rgba(255, 234, 194, 0.8), 1647px 2653px rgba(255, 234, 194, 0.8), 1030px 2029px rgba(255, 234, 194, 0.8), 1758px 1311px rgba(255, 234, 194, 0.8), 1641px 2212px rgba(255, 234, 194, 0.8), 2371px 2534px rgba(255, 234, 194, 0.8), 585px 2610px rgba(255, 234, 194, 0.8), 2805px 16px rgba(255, 234, 194, 0.8), 1658px 2454px rgba(255, 234, 194, 0.8), 799px 2122px rgba(255, 234, 194, 0.8), 939px 758px rgba(255, 234, 194, 0.8), 1283px 779px rgba(255, 234, 194, 0.8), 2005px 402px rgba(255, 234, 194, 0.8), 2472px 712px rgba(255, 234, 194, 0.8), 1326px 1399px rgba(255, 234, 194, 0.8), 2245px 2439px rgba(255, 234, 194, 0.8), 471px 1978px rgba(255, 234, 194, 0.8), 2718px 2362px rgba(255, 234, 194, 0.8), 2576px 1690px rgba(255, 234, 194, 0.8), 519px 2407px rgba(255, 234, 194, 0.8), 2562px 623px rgba(255, 234, 194, 0.8), 684px 1062px rgba(255, 234, 194, 0.8), 1798px 2603px rgba(255, 234, 194, 0.8), 2814px 2353px rgba(255, 234, 194, 0.8), 1587px 515px rgba(255, 234, 194, 0.8), 323px 1586px rgba(255, 234, 194, 0.8), 896px 239px rgba(255, 234, 194, 0.8), 2196px 2582px rgba(255, 234, 194, 0.8), 908px 565px rgba(255, 234, 194, 0.8), 1247px 1271px rgba(255, 234, 194, 0.8), 2255px 1055px rgba(255, 234, 194, 0.8), 2104px 498px rgba(255, 234, 194, 0.8), 30px 1463px rgba(255, 234, 194, 0.8), 1400px 2037px rgba(255, 234, 194, 0.8), 2613px 1156px rgba(255, 234, 194, 0.8), 1707px 1536px rgba(255, 234, 194, 0.8), 2168px 2357px rgba(255, 234, 194, 0.8), 1577px 20px rgba(255, 234, 194, 0.8), 931px 127px rgba(255, 234, 194, 0.8), 1312px 1189px rgba(255, 234, 194, 0.8), 1705px 694px rgba(255, 234, 194, 0.8), 1425px 1045px rgba(255, 234, 194, 0.8), 2247px 1993px rgba(255, 234, 194, 0.8), 2311px 2596px rgba(255, 234, 194, 0.8), 575px 2605px rgba(255, 234, 194, 0.8), 2136px 317px rgba(255, 234, 194, 0.8);
  transition: all 0.2s linear;
  animation: animStar 100s linear infinite;
}

.stars3 {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  box-shadow: 2344px 1099px rgba(255, 234, 194, 0.8), 2426px 1258px rgba(255, 234, 194, 0.8), 2267px 232px rgba(255, 234, 194, 0.8), 105px 47px rgba(255, 234, 194, 0.8), 2415px 529px rgba(255, 234, 194, 0.8), 1159px 2733px rgba(255, 234, 194, 0.8), 889px 2668px rgba(255, 234, 194, 0.8), 10px 1511px rgba(255, 234, 194, 0.8), 2826px 1143px rgba(255, 234, 194, 0.8), 676px 714px rgba(255, 234, 194, 0.8), 1276px 2402px rgba(255, 234, 194, 0.8), 2784px 2070px rgba(255, 234, 194, 0.8), 1094px 1709px rgba(255, 234, 194, 0.8), 1902px 1430px rgba(255, 234, 194, 0.8), 2590px 1641px rgba(255, 234, 194, 0.8), 2311px 1788px rgba(255, 234, 194, 0.8), 2406px 2692px rgba(255, 234, 194, 0.8), 2565px 778px rgba(255, 234, 194, 0.8), 52px 383px rgba(255, 234, 194, 0.8), 2392px 248px rgba(255, 234, 194, 0.8), 437px 2803px rgba(255, 234, 194, 0.8), 1510px 2020px rgba(255, 234, 194, 0.8), 2096px 1177px rgba(255, 234, 194, 0.8), 1180px 2118px rgba(255, 234, 194, 0.8), 1541px 2639px rgba(255, 234, 194, 0.8), 386px 795px rgba(255, 234, 194, 0.8), 2684px 1472px rgba(255, 234, 194, 0.8), 1459px 2495px rgba(255, 234, 194, 0.8), 2180px 2051px rgba(255, 234, 194, 0.8), 1163px 525px rgba(255, 234, 194, 0.8), 872px 2126px rgba(255, 234, 194, 0.8), 1749px 1577px rgba(255, 234, 194, 0.8), 2785px 316px rgba(255, 234, 194, 0.8), 677px 1310px rgba(255, 234, 194, 0.8), 2909px 2537px rgba(255, 234, 194, 0.8), 2159px 1566px rgba(255, 234, 194, 0.8), 1846px 171px rgba(255, 234, 194, 0.8), 1339px 1438px rgba(255, 234, 194, 0.8), 2354px 2117px rgba(255, 234, 194, 0.8), 2587px 2014px rgba(255, 234, 194, 0.8), 2491px 790px rgba(255, 234, 194, 0.8), 2204px 2020px rgba(255, 234, 194, 0.8), 2902px 2341px rgba(255, 234, 194, 0.8), 1798px 1858px rgba(255, 234, 194, 0.8), 2067px 1787px rgba(255, 234, 194, 0.8), 2248px 1367px rgba(255, 234, 194, 0.8), 2522px 2654px rgba(255, 234, 194, 0.8), 1078px 1322px rgba(255, 234, 194, 0.8), 74px 1543px rgba(255, 234, 194, 0.8), 1209px 247px rgba(255, 234, 194, 0.8), 184px 773px rgba(255, 234, 194, 0.8), 765px 2256px rgba(255, 234, 194, 0.8), 2668px 75px rgba(255, 234, 194, 0.8), 1871px 457px rgba(255, 234, 194, 0.8), 2397px 2895px rgba(255, 234, 194, 0.8), 2483px 1199px rgba(255, 234, 194, 0.8), 2454px 157px rgba(255, 234, 194, 0.8), 2974px 1358px rgba(255, 234, 194, 0.8), 1057px 1569px rgba(255, 234, 194, 0.8), 1900px 1029px rgba(255, 234, 194, 0.8), 2103px 2460px rgba(255, 234, 194, 0.8), 1402px 1754px rgba(255, 234, 194, 0.8), 869px 1963px rgba(255, 234, 194, 0.8), 2157px 335px rgba(255, 234, 194, 0.8), 1655px 2656px rgba(255, 234, 194, 0.8), 2932px 842px rgba(255, 234, 194, 0.8), 1327px 171px rgba(255, 234, 194, 0.8), 1511px 2639px rgba(255, 234, 194, 0.8), 2777px 2098px rgba(255, 234, 194, 0.8), 2508px 614px rgba(255, 234, 194, 0.8), 2358px 1584px rgba(255, 234, 194, 0.8), 1812px 1647px rgba(255, 234, 194, 0.8), 2562px 309px rgba(255, 234, 194, 0.8), 88px 454px rgba(255, 234, 194, 0.8), 1522px 1664px rgba(255, 234, 194, 0.8), 464px 2756px rgba(255, 234, 194, 0.8), 906px 2462px rgba(255, 234, 194, 0.8), 1315px 2042px rgba(255, 234, 194, 0.8), 2555px 2035px rgba(255, 234, 194, 0.8), 2360px 179px rgba(255, 234, 194, 0.8), 1359px 2539px rgba(255, 234, 194, 0.8), 2629px 643px rgba(255, 234, 194, 0.8), 2362px 2958px rgba(255, 234, 194, 0.8), 1974px 865px rgba(255, 234, 194, 0.8), 2192px 2250px rgba(255, 234, 194, 0.8), 2117px 2453px rgba(255, 234, 194, 0.8), 1560px 277px rgba(255, 234, 194, 0.8), 2170px 2548px rgba(255, 234, 194, 0.8), 2330px 2964px rgba(255, 234, 194, 0.8), 1890px 271px rgba(255, 234, 194, 0.8), 2090px 2948px rgba(255, 234, 194, 0.8), 1196px 1123px rgba(255, 234, 194, 0.8), 512px 52px rgba(255, 234, 194, 0.8), 1471px 824px rgba(255, 234, 194, 0.8), 1169px 1684px rgba(255, 234, 194, 0.8), 1194px 1282px rgba(255, 234, 194, 0.8), 1574px 1715px rgba(255, 234, 194, 0.8), 1105px 964px rgba(255, 234, 194, 0.8), 440px 488px rgba(255, 234, 194, 0.8), 1696px 2889px rgba(255, 234, 194, 0.8), 919px 656px rgba(255, 234, 194, 0.8), 2709px 583px rgba(255, 234, 194, 0.8), 680px 1379px rgba(255, 234, 194, 0.8), 442px 1119px rgba(255, 234, 194, 0.8), 462px 2281px rgba(255, 234, 194, 0.8), 759px 662px rgba(255, 234, 194, 0.8), 179px 1370px rgba(255, 234, 194, 0.8), 2683px 1962px rgba(255, 234, 194, 0.8), 2045px 387px rgba(255, 234, 194, 0.8), 1198px 2350px rgba(255, 234, 194, 0.8), 2479px 1015px rgba(255, 234, 194, 0.8), 1232px 860px rgba(255, 234, 194, 0.8), 1456px 131px rgba(255, 234, 194, 0.8), 1838px 2214px rgba(255, 234, 194, 0.8), 1391px 2903px rgba(255, 234, 194, 0.8), 2788px 2758px rgba(255, 234, 194, 0.8), 702px 1740px rgba(255, 234, 194, 0.8), 2714px 2708px rgba(255, 234, 194, 0.8), 901px 2917px rgba(255, 234, 194, 0.8), 2273px 973px rgba(255, 234, 194, 0.8), 1403px 1333px rgba(255, 234, 194, 0.8), 349px 2988px rgba(255, 234, 194, 0.8), 1287px 2549px rgba(255, 234, 194, 0.8), 156px 211px rgba(255, 234, 194, 0.8), 1885px 2859px rgba(255, 234, 194, 0.8), 2623px 580px rgba(255, 234, 194, 0.8), 1416px 1189px rgba(255, 234, 194, 0.8), 30px 1671px rgba(255, 234, 194, 0.8), 194px 1826px rgba(255, 234, 194, 0.8), 423px 2237px rgba(255, 234, 194, 0.8), 1285px 1246px rgba(255, 234, 194, 0.8), 1688px 1510px rgba(255, 234, 194, 0.8), 2977px 2491px rgba(255, 234, 194, 0.8), 892px 54px rgba(255, 234, 194, 0.8), 961px 822px rgba(255, 234, 194, 0.8), 165px 498px rgba(255, 234, 194, 0.8), 359px 774px rgba(255, 234, 194, 0.8), 115px 1061px rgba(255, 234, 194, 0.8), 1048px 1812px rgba(255, 234, 194, 0.8), 684px 380px rgba(255, 234, 194, 0.8), 1318px 2129px rgba(255, 234, 194, 0.8), 853px 548px rgba(255, 234, 194, 0.8), 2121px 1302px rgba(255, 234, 194, 0.8), 2615px 1029px rgba(255, 234, 194, 0.8), 2829px 2313px rgba(255, 234, 194, 0.8), 2408px 2299px rgba(255, 234, 194, 0.8), 2664px 1463px rgba(255, 234, 194, 0.8), 2607px 291px rgba(255, 234, 194, 0.8), 1356px 2956px rgba(255, 234, 194, 0.8), 669px 1679px rgba(255, 234, 194, 0.8), 1095px 175px rgba(255, 234, 194, 0.8), 2745px 2170px rgba(255, 234, 194, 0.8), 2039px 909px rgba(255, 234, 194, 0.8), 1916px 1886px rgba(255, 234, 194, 0.8), 1770px 256px rgba(255, 234, 194, 0.8), 1925px 64px rgba(255, 234, 194, 0.8), 703px 2920px rgba(255, 234, 194, 0.8), 2150px 2061px rgba(255, 234, 194, 0.8), 1179px 2650px rgba(255, 234, 194, 0.8), 498px 1439px rgba(255, 234, 194, 0.8), 2550px 417px rgba(255, 234, 194, 0.8), 2870px 431px rgba(255, 234, 194, 0.8), 372px 708px rgba(255, 234, 194, 0.8), 661px 1089px rgba(255, 234, 194, 0.8), 197px 247px rgba(255, 234, 194, 0.8), 966px 886px rgba(255, 234, 194, 0.8), 530px 2056px rgba(255, 234, 194, 0.8), 2405px 2304px rgba(255, 234, 194, 0.8), 556px 968px rgba(255, 234, 194, 0.8), 992px 1520px rgba(255, 234, 194, 0.8), 1729px 358px rgba(255, 234, 194, 0.8), 2215px 2103px rgba(255, 234, 194, 0.8), 1548px 2931px rgba(255, 234, 194, 0.8), 320px 518px rgba(255, 234, 194, 0.8), 2314px 43px rgba(255, 234, 194, 0.8), 1807px 2689px rgba(255, 234, 194, 0.8), 2321px 1432px rgba(255, 234, 194, 0.8), 1468px 890px rgba(255, 234, 194, 0.8), 2732px 520px rgba(255, 234, 194, 0.8), 1079px 1039px rgba(255, 234, 194, 0.8), 545px 2382px rgba(255, 234, 194, 0.8), 2291px 2718px rgba(255, 234, 194, 0.8), 2562px 321px rgba(255, 234, 194, 0.8), 1192px 565px rgba(255, 234, 194, 0.8), 696px 1469px rgba(255, 234, 194, 0.8), 2837px 871px rgba(255, 234, 194, 0.8), 195px 2768px rgba(255, 234, 194, 0.8), 1630px 378px rgba(255, 234, 194, 0.8), 1287px 2623px rgba(255, 234, 194, 0.8), 2956px 1561px rgba(255, 234, 194, 0.8), 2149px 2461px rgba(255, 234, 194, 0.8), 1566px 1837px rgba(255, 234, 194, 0.8), 367px 1714px rgba(255, 234, 194, 0.8), 863px 1461px rgba(255, 234, 194, 0.8), 1812px 928px rgba(255, 234, 194, 0.8), 609px 2249px rgba(255, 234, 194, 0.8), 2736px 2340px rgba(255, 234, 194, 0.8), 2698px 871px rgba(255, 234, 194, 0.8), 478px 174px rgba(255, 234, 194, 0.8), 1438px 917px rgba(255, 234, 194, 0.8), 1793px 891px rgba(255, 234, 194, 0.8);
  transition: all 0.2s linear;
  animation: animStar 300s linear infinite;
}

@keyframes animStar {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-100vh);
  }
}
.site-header {
  display: flex;
  justify-content: space-between;
  padding: 1em 0 0 1.5em;
  position: fixed;
  width: 100%;
  z-index: 100;
}
.site-header h1 {
  font-size: clamp(1em, 2vw, 2em);
  z-index: 10;
}
.site-header h1 a {
  text-decoration: none;
  color: rgba(255, 234, 194, 0.8);
}

.site-nav {
  display: flex;
}
.site-nav .menu-button {
  position: relative;
  padding-right: 1em;
  cursor: pointer;
  z-index: 50;
}
.site-nav .menu-button svg {
  fill: white;
}
.site-nav .menu-button svg rect {
  transition: all 0.3s ease-out;
}
.site-nav h2, .site-nav li {
  font-size: 1em;
}
.site-nav ul {
  z-index: 20;
  position: fixed;
  font-size: 0.6em;
  text-transform: uppercase;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  margin: 0;
  list-style: none;
  line-height: 1;
  transform: translate(100%, 0);
  transition: all 0.3s ease-out;
}
.site-nav a {
  font-family: "tachyon", sans-serif;
  display: block;
  text-decoration: none;
  padding: 1em;
  color: rgba(255, 234, 194, 0.8);
  font-size: clamp(2em, 2vw, 2em);
}
.site-nav a:hover {
  color: rgb(255, 255, 255);
}
.site-nav[data-navstate=open] ul {
  background-color: rgb(0, 0, 0);
  transform: translate(0, 0);
}
.site-nav[data-navstate=open] .menu-button {
  right: 1em;
  position: fixed;
}
.site-nav[data-navstate=open] .menu-button svg {
  fill: white;
}
.site-nav[data-navstate=open] #menubar-top {
  transform-origin: center;
  transform: translate(7px, 7px) rotate(-45deg);
}
.site-nav[data-navstate=open] #menubar-mid {
  opacity: 0;
}
.site-nav[data-navstate=open] #menubar-bot {
  transform-origin: center;
  transform: translate(0, -4px) rotate(45deg);
}
.site-nav[data-navstate=open] li {
  transform: translate(0, 0);
  opacity: 1;
}

.site-footer {
  display: flex;
  align-items: center;
  font-family: "bilo", sans-serif;
  padding: 2em;
  color: white;
  position: fixed;
  bottom: 0;
}

/* PAGINATION */
.swiper-pagination {
  margin-right: 1em;
  padding: 1em;
}
.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 75px;
}
.swiper-pagination :nth-child(1) {
  background-color: #130025 !important;
}
.swiper-pagination :nth-child(2) {
  box-shadow: inset -9px 0 0 0px rgb(179, 179, 179);
}
.swiper-pagination :nth-child(3) {
  position: relative;
  overflow: hidden;
}
.swiper-pagination :nth-child(3):after {
  content: "";
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  background: rgb(179, 179, 179);
  border-radius: 0 100% 100% 0;
}
.swiper-pagination :nth-child(4) {
  background: rgb(179, 179, 179) !important;
  box-shadow: inset 9px 0 0 0 #130025;
}
.swiper-pagination :nth-child(5) {
  background: rgb(179, 179, 179) !important;
  box-sizing: inset 0 0 14px 0 #130025;
  border-radius: 50%;
}
.swiper-pagination :nth-child(6) {
  transform: rotate(180deg);
  background: rgb(179, 179, 179) !important;
  box-shadow: inset 9px 0 0 0 #130025;
}
.swiper-pagination :nth-child(7) {
  transform: rotate(180deg);
  position: relative;
  overflow: hidden;
}
.swiper-pagination :nth-child(7):after {
  content: "";
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  background: rgb(179, 179, 179);
  border-radius: 0 100% 100% 0;
}
.swiper-pagination :nth-child(8) {
  transform: rotate(180deg);
  box-shadow: inset -9px 0 0 0px rgb(179, 179, 179);
}

.swiper-pagination-bullet {
  background-color: #130025 !important;
  padding: 1em;
  border: 2px solid rgb(179, 179, 179);
}

.hide-visually {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.no-scroll-y {
  overflow-y: hidden;
}

/* Preloader */
.ctn-preloader {
  align-items: center;
  cursor: none;
  display: flex;
  height: 100%;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 900;
}
.ctn-preloader .animation-preloader {
  position: absolute;
  z-index: 100;
}
.ctn-preloader .animation-preloader .moon-preloader {
  height: 200px;
  width: 200px;
  margin: 0 auto;
  position: absolute;
  top: calc(50% - 300px);
  left: calc(50% - 100px);
  clip-path: circle(100px, 100px, 100px);
  clip-path: circle(100px at center);
  border-radius: 50%;
  background: #B5BCC6;
  overflow: hidden;
}
.ctn-preloader .animation-preloader .moon-preloader:before, .ctn-preloader .animation-preloader .moon-preloader:after {
  border-radius: 50%;
  content: "";
  position: absolute;
  top: -4%;
  left: -4%;
  height: 108%;
  width: 108%;
}
.ctn-preloader .animation-preloader .moon-preloader:before {
  animation: before-fullmoon linear 3s infinite;
}
.ctn-preloader .animation-preloader .moon-preloader:after {
  animation: after-fullmoon linear 3s infinite;
}
.ctn-preloader .animation-preloader .txt-loading {
  font-family: "tachyon", sans-serif;
  font-weight: 700;
  font-size: clamp(2em, 5vw, 5em);
  text-align: center;
  user-select: none;
}
.ctn-preloader .animation-preloader .txt-loading .letters-loading:before {
  animation: letters-loading 4s infinite;
  color: #ffffff;
  content: attr(data-text-preloader);
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: rotateY(-90deg);
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading {
  color: rgba(255, 255, 255, 0.1);
  position: relative;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(2):before {
  animation-delay: 0.2s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(3):before {
  animation-delay: 0.4s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(4):before {
  animation-delay: 0.6s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(5):before {
  animation-delay: 0.8s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(6):before {
  animation-delay: 1s;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(7):before {
  animation-delay: 1.2s;
}

.ctn-preloader .loader-section {
  background-image: linear-gradient(#000, #130025);
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
}

.loaded .animation-preloader {
  opacity: 0;
  transition: 0.3s ease-out;
}

.loaded .loader-section {
  transform: translateY(-101%);
  transition: 0.7s 0.3s all cubic-bezier(0.1, 0.1, 0.1, 1);
}

@keyframes letters-loading {
  0%, 75%, 100% {
    opacity: 0;
    transform: rotateY(-90deg);
  }
  25%, 50% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}
@keyframes before-fullmoon {
  0%, 50% {
    opacity: 1;
  }
  50.01%, 100% {
    opacity: 0;
  }
  0%, 24.99% {
    background: #130025;
  }
  25%, 100% {
    background: rgb(179, 179, 179);
  }
  0% {
    box-shadow: inset 0 0 14px 0 rgb(179, 179, 179);
  }
  24.99% {
    box-shadow: inset 110px 0 14px 0 rgb(179, 179, 179);
  }
  25% {
    box-shadow: inset 110px 0 14px 0 #130025;
  }
  50%, 100% {
    box-shadow: inset 0 0 14px 0 #130025;
  }
  0%, 50%, 100% {
    border-radius: 50%;
  }
  20%, 30% {
    border-radius: 10% 10% 10% 10%/50% 50% 50% 50%;
  }
  25% {
    border-radius: 0;
  }
  0%, 24.99% {
    transform: rotate(0);
  }
  25%, 50%, 100% {
    transform: rotate(180deg);
  }
}
@keyframes after-fullmoon {
  0%, 50% {
    opacity: 0;
  }
  50.01%, 100% {
    opacity: 1;
  }
  0%, 50%, 74.99% {
    background: rgb(179, 179, 179);
  }
  75%, 100% {
    background: #130025;
  }
  0%, 50% {
    box-shadow: inset 0 0 14px 0 #130025;
  }
  74.99% {
    box-shadow: inset 110px 0 14px 0 #130025;
  }
  75% {
    box-shadow: inset 110px 0 14px 0 rgb(179, 179, 179);
  }
  100% {
    box-shadow: inset 0 0 14px 0 rgb(179, 179, 179);
  }
  0%, 50%, 100% {
    border-radius: 50%;
  }
  70%, 80% {
    border-radius: 10% 10% 10% 10%/50% 50% 50% 50%;
  }
  75% {
    border-radius: 0;
  }
  0%, 50%, 74.99% {
    transform: rotate(0);
  }
  75%, 100% {
    transform: rotate(180deg);
  }
}
@media screen and (max-width: 767px) {
  .ctn-preloader .animation-preloader .txt-loading {
    font-family: "tachyon", sans-serif;
    font-weight: 700;
  }
}
@media screen and (max-width: 500px) {
  .ctn-preloader .animation-preloader .txt-loading {
    font-family: "tachyon", sans-serif;
    font-weight: 700;
  }
}