
/* VARIABLES */

$font-body-color: rgba(255, 255, 255, 1);
$stars-color: rgba(255, 234, 194, 0.8);
$moon-base: rgb(179, 179, 179, 1);

/* FONTS */

$font-family-title: "tachyon", sans-serif;
$font-family-body: "bilo", sans-serif;

// BREAKPOINTS

$breakpoint-small: 768px;
$breakpoint-medium: 1050px;
$breakpoint-large: 1250px;

/* IMPORTS */

@import "partials/animation";
@import "partials/toc";
@import "partials/layout";
@import "partials/media";
@import "partials/structure";
@import "partials/typography";
@import "partials/stars";
@import "partials/sitenav";
@import "partials/pagination";
@import "partials/helpers";
@import "partials/preloader";