.swiper-slide-active {
    
    // .moon-wrapper {
    //     animation: slide-right .7s ease-out both;
    // }

    .text-wrapper {
        animation: slide-right .6s ease-out;
    }
}

@keyframes slide-down {
    0% {
        transform:translateY(-100px);
        opacity: 0;
    }
    100% {
        transform:translateY(0px);
        opacity: 1;
    }
}

@keyframes slide-right {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}