.swiper-slide-active {

    h1, p {
        animation: slide-right .6s ease-out;
    }

    .large {
        stroke-dasharray: 629;
        stroke-dashoffset: 629;
        animation: circle_large 2s linear;
        animation-fill-mode: forwards;
    }
}


@keyframes circle_large {
    from {
    stroke-dashoffset: 629;
    }
    
    to {
    stroke: rgb(255, 255, 255);
    stroke-width: 10px;
    stroke-dashoffset: 0;
    }
}

@keyframes slide-down {
    0% {
        transform:translateY(-100px);
        opacity: 0;
    }
    100% {
        transform:translateY(0px);
        opacity: 1;
    }
}

@keyframes slide-right {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}