/* RESET BODY */
body {
    margin: 0;
}

/* CONTAINER */

.swiper {
    margin: 0 auto;
}

/* MEDIA QUERIES */

/* RESPONSVIE TYPE */ 

// SMALL

body {
    font-size: 87.5%;
}

@media (min-width: $breakpoint-small) {
    body {
        font-size: 100%;
    }

    .site-nav {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

}

@media (min-width: $breakpoint-medium) {
    body {
        font-size: 112.5%;
    }

    .phase-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        height: 100%;

    }

}