.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    h1 {
        font-size: 2em;
        margin: .5em 0 0 0;
        line-height: 1;
        z-index: 10;
        font-size: 1.5em;

        a {
            font-family: $font-family-title;
            color: $stars-color;
            text-decoration: none;
        }
    }

    ul {
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 10;
    }

    a {
        color: $stars-color;
        text-decoration: none;
        list-style: none;
        padding: .5em 1em 0 1em;
        text-transform: uppercase;
        font-family: $font-family-body;
        line-height: 1em;
        text-align: center;

        :hover {
            color: rgba(255, 217, 0, 0.514);
        }
    }
}


.site-footer {
    display: flex;
    align-items: center;
    font-family: $font-family-body;
    padding: 1em;
    color: white;
}

