
main {
    min-height: 100vh;
    background-image: linear-gradient(65deg, #000, #300b53);
    background-size: 400% 400%;
}

/* SWIPER */

.swiper {
    width: 100%;
    height: 100vh;

}

/* SLIDES */

.swiper-slide {

    width: 50%;
    z-index: -50;

    .body-text {

        p {
            font-family: $font-family-body;
            color: $moon-base;
            max-width: 35em;
            margin-top: 1em;
        }
    }
}

/* MOON PHASES */

.phase-wrapper {
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .moon-phase {
        position: absolute;
        height: 100%;
        right: 0;
        
        svg {
            width: 750px;
            height: 100%;

            .large {
                stroke: white;
                fill: transparent;
                stroke-width: 2px;
                opacity: .4;

            }

        }

    }

    h1 {
        letter-spacing: .1em;
    }

    .moon-wrapper {
        margin-right: 2%;
        width: 30%;
    }

    .text-wrapper {
        width: 50%;
        z-index: -10;

        h2 {
            display: flex;
            position: absolute;
            color: $moon-base;
            font-size: clamp(4em, 6vw, 6em);
            font-family: $font-family-overlay;
            font-weight: 400;
            font-style: normal;
            opacity: .2;
            right: 1em;
        }
    }
}