
/* SWIPER */

.swiper {
    width: 100vw;
    height: 100vh;
    .swiper-slide {
        background-image: linear-gradient(#000, #130025);
    }
}

/* SLIDE ONE */

.swiper-slide {

    h1 {
        margin-left: 6em;
        margin-top: 3em;
    }
        
        img {
            width: 750px;
            position: absolute;
            margin-top: 1em;
            margin-left: 6em;
        }
    }


/* PAGINATION */

.swiper-pagination {
    margin-right: 1em;
}

.swiper-pagination-bullet {
    background-color: $stars-color !important;
    padding: .5em;
}